<div id="image-modal" class="modal fade" tabindex="-1" data-behavior="image-modal" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog image-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title" data-behavior="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="fa fa-times"></i>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="" class="img-fluid" data-behavior="image-modal-image" />
        <i class="fa fa-chevron-left fa-2x" data-direction="prev"></i>
        <i class="fa fa-chevron-right fa-2x" data-direction="next"></i>
      </div>
    </div>
  </div>
</div>
