<ul class="nodes-nav tree-navigation">
  <li class="tree-header m-0 <%= 'active' if %w[nodes notes evidence].include?(controller_name) %>" data-behavior="sidebar-toggle open-only">
    <i class="fa fa-sitemap sidebar-link-icon"></i>
    <span class="sidebar-link-label">Nodes</span>
    <div class="add-subnode">
      <a href="#modal_add_branch_node" data-toggle="modal"><i class="fa fa-plus"></i></a>
    </div>
  </li>

  <div class="nodes-list restrict-height pb-4 px-3" data-behavior="restrict-height">
    <% if @nodes.empty? %>
      <li class="no-nodes">No nodes defined yet</li>
    <% else %>
      <%= render partial: 'layouts/tylium/node', collection: @nodes %>
    <% end %>
  </div>
</ul>
