<div class="sidebar-header">
  <div class="team-logo">
    <%= image_tag('logo_small.png') %>
  </div>
  <div class="team-name">
    <%= current_project.name %>
  </div>
  <div class="sidebar-toggle">
    <a href="javascript:void(0)" class="sidebar-toggle-link" data-behavior="sidebar-toggle">
      <i class="fa fa-chevron-right sidebar-toggle-icon"></i>
    </a>
  </div>
</div>
