<div class="main-sidebar" data-behavior="main-sidebar expandable-sidebar" data-storage-key="sidebar-expanded">
  <div class="d-flex flex-row-reverse sidebar-toggle">
    <a href="javascript:void(0)" class="sidebar-toggle-link" data-behavior="sidebar-toggle">
      <i class="fa-solid fa-chevron-right sidebar-toggle-icon"></i>
      <span class="visually-hidden">Toggle sidebar</span>
    </a>
  </div>
  <div class="scrollable-content py-2">
    <%= render 'layouts/tylium/nodes' %>
  </div>
  <div class="version text-center">
    <span>v<%= Dradis::CE.version %></span>
  </div>
</div>
