<div class="sidebar-header">
  <div class="team-logo">
    <%= image_tag('logo_small.png', alt: 'Dradis CE logo') %>
  </div>
  <div class="team-name">
    <span>Dradis CE</span>
  </div>
  <div class="sidebar-toggle">
    <a href="javascript:void(0)" class="sidebar-toggle-link" data-behavior="sidebar-toggle">
      <i class="fa fa-chevron-right sidebar-toggle-icon"></i>
      <span class="sr-only">Toggle sidebar</span>
    </a>
  </div>
</div>
