<div class="main-sidebar" data-behavior="main-sidebar expandable-sidebar" data-storage-key="sidebar-expanded">
  <div class="sidebar-toggle">
    <a href="javascript:void(0)" class="sidebar-toggle-link" data-behavior="sidebar-toggle">
      <i class="fa-solid fa-chevron-right sidebar-toggle-icon"></i>
      <span class="visually-hidden">Toggle sidebar</span>
    </a>
  </div>
  <div class="scrollable-content">
    <%= render 'layouts/tylium/nodes' %>
<<<<<<< HEAD
  </div>
  <div class="version text-center">
    <span>v<%= Dradis::CE.version %></span>
=======
    <div class="version text-center">
      <span>v<%= Dradis::Pro.version %></span>
    </div>
>>>>>>> 5509b2ff30 (Fix positioning of sidebar)
  </div>
</div>
