<div class="content-container">
  <div class="inner summary-panel custom-properties">
    <h4 class="header-underline" data-bs-toggle="tooltip" title="Dradis Pro: Categorize your projects with custom properties to track metrics and surface insights in the Business Intelligence dashboard.">Custom project properties</h4>
    <dl class="mb-0">
      <dt>State</dt>
      <dd>In progress</dd>
      <dt>Test type</dt>
      <dd>Webapp</dd>
    </dl>
  </div>
</div>
