<footer>
  <%= render partial: "layouts/hera/footer/#{Dradis.edition}" %>
  <span>- <a href="https://dradis.com?utm_source=<%= Dradis.edition %>&utm_medium=app&utm_campaign=footer" target="_blank">dradis.com</a></span>
</footer>
