<div class="d-flex flex-row justify-content-between align-items-center tree-header">
  <h4><i class="fa-solid fa-sitemap me-1"></i>Nodes</h4>
  <div class="add-node">
    <a href="#modal_add_branch_node" data-bs-toggle="modal" tabindex="-1">
      <i class="fa-solid fa-plus fa-fw" data-behavior="add-node"></i> Add node
    </a>
  </div>
</div>

<ul class="nodes-nav tree-navigation">
  <div id="node-tree" class="note-list collapse show" data-behavior="node-tree-content">
    <div class="nodes-list restrict-height mt-4" data-behavior="restrict-height">
      <% if @nodes.empty? %>
        <%= render 'shared/empty_state',
          actions_partial: 'layouts/hera/nodes/empty_state_actions',
          docs_link: 'https://dradis.com/support/guides/projects/nodes.html',
          name: 'node',
          text: 'Use nodes to structure and organize your project.'
        %>
      <% else %>
        <%= render partial: 'layouts/hera/node', collection: @nodes %>
      <% end %>
    </div>
  </div>
</ul>
