<div class="main-sidebar sidebar" data-behavior="main-sidebar sidebar-expanded" data-storage-key="sidebar-expanded">
  <div class="sidebar-toggle">
    <a href="javascript:void(0)" class="sidebar-toggle-link" data-behavior="sidebar-toggle">
      <i class="fa-solid fa-chevron-left sidebar-toggle-icon"></i>
      <span class="visually-hidden">Toggle sidebar</span>
    </a>
  </div>
  <div class="sidebar-content" data-behavior="sidebar-content">
    <%= render 'layouts/hera/nodes' %>
    <div class="version">
      <% if defined?(Dradis::Pro) %>
        <span>Dradis Professional Edition v<%= Dradis::Pro.version %></span>
      <% else %>
        <span>Dradis Community Edition v<%= Dradis::CE.version %></span>
      <% end %>
    </div>
  </div>
</div>
