<div class="page-header">
  <h1>Configure a shared password</h1>
</div>

<%= form_tag({action: 'setup'}, {class: 'form-horizontal'}) do -%>

  <%= flash_messages %>

  <p class="lead">The shared password will be used by everyone accessing the server, please set one up:</p>

  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <%= password_field_tag :password, nil, class: 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password_confirmation">Confirm Password</label>
    <div class="controls">
      <%= password_field_tag :password_confirmation, nil, class: 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-large btn-primary">Create shared password and continue</button>
    </div>
  </div>
<% end -%>
