<%= content_tag :div, id: dom_id(note), class: ('list-item' << ' active' if (request.format.html? and @note == note)) do %>
  <div class="expansion-container">
    <%= link_to node_note_path(@node, note) do %>
      <i class="fa fa-file-text"></i>
      <%= note.title %>
    <% end %>
  </div>
<% end %>
