<% content_for :title, "#{@node.label} - edit note" %>

<div class="content-container">
  <h4 class="header-underline">Edit note</h4>
  <div class="note-text-inner">
    <%= render "form" %>
  </div>
</div>
