<div class="d-flex align-items-center justify-content-around flex-wrap w-100">
  <p>Lists can be task categories (e.g. External, Internal, Webapp, etc.), task status (e.g. Next, In Progress, Ready for Review, Completed), or labeled however makes the most sense for your team and workflow.</p>
  <%= link_to '#modal-list-new', class: 'btn btn-primary btn-lg mb-2 px-5 js-list-modal' do %>
    <i class="fa fa-plus"> </i> Add List
  <% end %>
</div>
