<div class="tab-pane" id="echo-tab">
  <div class="inner">
    <h4 class="header-underline">Dradis Echo
    </h4>

    <div class="mb-4 content-textile" data-behavior="fetch" data-path="<%= echo.prompt_path(@issue.id) %>">
    </div>
  </div>
</div>
