<div class="text-center">
  <h3>This node doesn't have any <%= name.pluralize %> yet</h3>

  <p>Add one by clicking on the button below or use the <i class="fa fa-plus"></i> sign next to the <strong><%= name.capitalize.pluralize %> </strong> heading in the sidebar

  <%= render 'shared/add_item_dropdown',
    name: name.capitalize.pluralize,
    new_path: new_link,
    category_id: nil,
    button_class: 'btn',
    text: "Add #{name}",
    menu_class: 'mt-1',
    collapse_class: 'd-none'
  %>
</div>
