
# Ignore git directory.
/.git
/.gitignore

# Ignore bundle config.
/.bundle

# Ignore environment and deployment files.
/.env*
/.kamal/*
/config/deploy.yml

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles.
/tmp/pids/*
!/tmp/pids/.keep

# Ignore storage(uploaded files in development and any SQLite databases).
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

# Ignore assets.
/public/assets

# Ignore application folders
/attachments/
/config/shared/*
/db/*.sqlite3
/templates/*

# Ignore Docker-related files
/.dockerignore
/Dockerfile*
