
# Ignore git directory.
/.git
/.gitignore
/.github

# Ignore bundle config.
/.bundle

# Ignore environment and deployment files.
/.env*
/.kamal/*
/config/deploy.yml

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles.
/tmp/pids/*
!/tmp/pids/.keep

# Ignore storage(uploaded files in development and any SQLite databases).
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

# Ignore assets.
/public/assets

# Ignore application folders
/attachments/
/config/shared/*
/db/*.sqlite3
/templates/*

# Ignore bundled gems
/vendor/bundle

# Ignore Docker-related files
/.dockerignore
/Dockerfile*
/compose.yaml

# Ignore development and test files
/.byebug_history
/.devcontainer
/.rspec
/.rubocop*
/.ruby-lsp
/bin/rspec
/bin/rubocop-ci
/CHANGELOG.template
/spec

# Ignore configuration files
/config/smtp.yml
/config/database.yml
/Gemfile.plugins

/.DS_Store
