# Bundler files
/.bundle
/vendor/bundle/

# Rails stuff
/db/*.sqlite3
/db/*.sqlite3-journal
/config/database.yml
/config/secrets.yml
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log
/public/assets
.byebug_history

# RSpec testing
/spec/.examples.txt

# App-specific
/attachments/
/config/shared/
/templates/
/sample_files/
/Gemfile.plugins
/Gemfile.codeship

# Vagrant
.vagrant/

# Random
.DS_Store
*.swp

# Ignore master key for decrypting credentials and more.
/config/master.key
