<div
  id="modal-board-edit-<%= board.id %>"
  class="modal fade boards-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal-board-header"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <%= simple_form_for [current_project, board] do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="modal-board-header">Rename methodology</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i><span class="sr-only">Close modal</span>
          </button>
        </div>

        <div class="modal-body">
          <input type="hidden" name="_method" value="patch" />
          <%= f.input :name, input_html: { id: "board_#{board.id}_name" } %>
        </div>

        <div class="modal-footer">
          <input type="submit" value="Update methodology" class="btn btn-primary" />
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
