<span
  class="mt-1 me-auto p-2 d-flex align-items-center gap-1 badge text-bg-primary"
  data-sandbox-reset-minutes="<%= ENV['SANDBOX_RESET_MINUTES'] || 20 %>"
>
  Restarts in:
  <span class="font-monospace fw-light" data-behavior="timer">00:00</span>
</span>
