<li class="nav-item dropdown">
  <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="tools-dropdown">
    Tools
    <b class="caret"></b>
  </a>

  <ul class="dropdown-menu" aria-labelledby="tools-dropdown">
    <%= render_view_hooks('tools_menu') %>
  </ul>
</li>
