<div class="comment-feed" data-behavior="comment-feed">
<% cache ['comment-feed', comments] do %>
  <h4 class="d-flex header-underline mb-0">Comments <span class="badge bg-primary text-white ml-2" id="comment-count"><%= comments.count %></span></h4>
  <div class="comment-list">
    <%= render(partial: 'comments/comment', collection: comments, cached: true) if comments.any? %>

    <div data-notice="no-comments" class="comment mt-3 <% if comments.any? %>d-none<% end %>">
      There have been no comments yet.
    </div>
  </div>
<% end %>

<%= render 'comments/new' %>
</div>
