<h3>Comments <span class="badge"><%= commentable.comments.count %></span></h3>
<div class="comment-feed">
  <% if commentable.comments.any? %>
    <%= render commentable.comments %>
  <% else %>
    <p class="no-content">There have been no comments yet.</p>
  <% end %>

  <%= render 'comments/new', commentable: commentable %>
</div>
