<%# this is picked up by javascripts/snowcrash/modules/comments.js.coffee %>
<div id="mentionable-users"
  data-users="
    <%= User.all.map { |u| { key: u.email, value: u.email, avatar_url: avatar_url } }.to_json %>
  ">
</div>
