<div class="header">
  <div class="header-inner">
    <h5 class="header-name">
      Roslin
      <i class="fa-solid ms-2 fa-info-circle"></i>
    </h5>
    <div class="options">
      <a data-bs-toggle="collapse" data-behavior="collapse-collection" href="#roslin-widget">
        <i class="fa-solid fa-chevron-up" data-behavior="toggle-chevron"></i><span class="visually-hidden">Toggle Roslin Agent Widget</span>
      </a>
    </div>
  </div>
</div>

<div class="collapse show" id="roslin-widget">
  <% unless Dradis::Plugins::Echo::Roslin.enabled? %>
    <div class="alert alert-primary mt-0">
      <%= link_to 'Enable Roslin', configurations_path %> to get AI-powered suggestions for this issue.
    </div>
  <% end %>
</div>
