<div class="header">
  <div class="header-inner">
    <h5 class="header-name">Roslin</h5>
    <div class="options">
      <%= link_to '#roslin-widget', data: { bs_toggle: 'collapse', behavior: 'collapse-collection' } do %>
        <i class="fa-solid fa-chevron-up" data-behavior="toggle-chevron"></i>
        <span class="visually-hidden">Toggle Roslin</span>
      <% end %>
    </div>
  </div>
</div>

<% if Dradis::Plugins::Echo::Agents::Roslin.enabled? %>
  <div id="roslin-widget" class="collapse">
    <p class="mb-0">Roslin automatically checks your content for grammar and spelling issues.</p>
  </div>
<% else %>
  <div id="roslin-widget" class="collapse show">
    <p class="mb-0"><%= link_to 'Enable Roslin', echo.agents_path %> to use grammar and spell check.</p>
  </div>
<% end %>
