<% roslin_enabled = Dradis::Plugins::Echo::Agents::Roslin.enabled? %>

<div class="header">
  <div class="header-inner">
    <h5 class="header-name">
      <i class="fa-regular fa-robot me-1"></i>Roslin
      <% if roslin_enabled %>
        <i class="fa-solid fa-check ms-1 d-none" data-behavior="roslin-status-success"></i>
        <i class="fa-solid fa-times ms-1 d-none" data-behavior="roslin-status-error"></i>
      <% else %>
        <i class="fa-solid fa-info-circle ms-1"></i>
      <% end %>
    </h5>
    <div class="options">
      <%= link_to '#roslin-widget', data: { bs_toggle: 'collapse', behavior: 'collapse-collection' } do %>
        <i class="fa-solid fa-chevron-up" data-behavior="toggle-chevron"></i>
        <span class="visually-hidden">Toggle Roslin</span>
      <% end %>
    </div>
  </div>
</div>

<% if roslin_enabled %>
  <div id="roslin-widget" class="collapse" data-behavior="roslin-widget">
    <p class="mb-0" data-behavior="roslin-issues-summary"></p>
  </div>
<% else %>
  <div id="roslin-widget" class="collapse show">
    <p class="mb-0">
      <%= link_to 'Enable the Roslin agent', echo.agents_path %> to use grammar
      and spell check.
    </p>
  </div>
<% end %>
