<div class="col-lg-10">
  <p class="mb-2">
    You can also add your own properties which are stored as structed JSON data.
  </p>
</div>

<p class="mb-2">To add node properties manually:</p>
<%= link_to edit_project_node_path(@node.project, @node), class: 'btn btn-primary btn-lg mb-4 px-5' do %><i class="fa fa-pencil"></i> Edit the Node<% end -%>
