<div class="add-subnode-wrapper">
  <%= form_for node.children.build do |f| %>
    <div class="input-append">
      <%= f.hidden_field :parent_id %>
      <%= f.text_field :label, class: 'input-small', placeholder: 'Subnode name', required: true %>
      <button class="btn" type="submit">
        <i class='fa fa-ok'></i>
      </button>
    </div>
  <% end %>
</div>
