<div class="table">
  <table id="tbl-search" class="table table-striped">
    <tbody>
      <% search.results.each do |data| %>
        <tr>
          <td>
            <%= link_to "#" do %>
              <p>
                <%= format_match data %>
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
   </tbody>
  </table>
</div>
