<div class="table">
  <table id="tbl-search" class="table table-striped">
    <thead>
      <tr>
        <th>Entry</th>
        <th>Match</th>
      </tr>
    </thead>
    <tbody>
      <% search.results.each do |data| %>
        <tr>
          <td><%= data.class %></td>
          <td><%= data.value %></td>
        </tr>
      <% end %>
   </tbody>
  </table>
</div>
