<% content_for :title, 'Search results' %>

<% if params[:q].blank? %>
  <div class="alert alert-block alert-info">
    <p>Please enter search criteria</p>
  </div>
<% else %>
  <%= render 'nav', search: @search %>
  <div class="inner">
    <%= render 'results', search: @search %>
  </div>
<% end %>
