<h4 class="header-underline">This project doesn't have any issues yet</h4>

<div class="add-issues mt-0">
  <h5>1. Add manual finding</h5>
  <p>
    Just click on the <i class="fa fa-plus"></i> sign next to the
    <strong>ISSUES</strong> heading in the sidebar.
  </p>
</div>

<div class="add-issues">
  <h5>2. Upload scanner output</h5>
  <p>
    Use the <%= link_to main_app.project_upload_manager_path(current_project) do %>
      <i class="fa fa-cloud-upload fa-lg"></i> Upload output from tool
    <% end %> link at the top of the page.
  </p>
</div>

<div class="add-issues">
  <%= render 'issues/empty_import_ce' %>
</div>
