<div class="card-header">
  <div class="card-title">Import from a library</div>
</div>
<div class="card-body">
  <p>You'll need an import plugin like:</p>
  <ul class="fa-ul">
    <li><i class="fa fa-li fa-chevron-right"></i><a href="https://dradisframework.com/ce/addons/mediawiki.html?utm_source=ce&utm_medium=app" target="_blank">MediaWiki</a></li>
    <li><i class="fa fa-li fa-chevron-right"></i><a href="javascript:void(0)" class="js-try-pro" data-term="issuelib" data-url="https://dradisframework.com/pro/pages/issuelib.html"> Built-in IssueLibrary</a></li>
  </ul>
</div>
