<h5 class="mb-3">3. Import from a library of descriptions</h5>

<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" href="#external" data-toggle="tab">External library</a></li>
  <li class="nav-item"><a href="javascript:void(0)" class="nav-link js-try-pro" data-term="issuelib" data-url="http://drad.is/l/try-pro-issuelib"><i class="fa fa-book"></i> Built-in IssueLibrary</a></li>
</ul>

<div class="tab-content outer-tab">
  <div id="external" class="tab-pane active">
    <p>You'll need an import plugin like:</p>
    <ul class="fa-ul">
      <li><i class="fa fa-li fa-chevron-right"></i><a href="https://dradisframework.com/ce/addons/mediawiki.html?utm_source=ce&utm_medium=app" target="_blank">MediaWiki</a></li>
      <li><i class="fa fa-li fa-chevron-right"></i><a href="http://vulndbhq.com" target="_blank">VulnDB</a></li>
    </ul>
    <p>And then:</p>
    <ol>
      <li>Activate via <code>Gemfile.plugins</code></li>
      <li>
        Click on the
        <%= link_to main_app.project_configurations_path(current_project) do %><i class="fa fa-cog fa-lg"></i> Configuration<% end %> link at the top-right of the page.
      </li>
      <li>
        And on the <i class="fa fa-chevron-down"></i> next to <strong>IMPORT ISSUES</strong> in the sidebar.
      </li>
    </ol>
  </div>
</div>
