<div class="btn-toolbar">
  <div class="btn-group">
     <span class="btn js-items-table-select-all" title="Select all">
       <input type="checkbox" id="issues-evidence-select-all" />
     </span>
  </div>

  <div class="btn-group items-table-actions js-items-table-actions">
    <a class="btn items-table-delete js-items-table-delete" data-confirm="Are you sure?" title="Delete selected">
      <i class="fa fa-trash text-error"></i> Delete
    </a>
  </div>
</div>
