<span class="dropdown">
  <a class="dropdown-toggle action-link" data-name="issues" data-toggle="dropdown" href="javascript:void(0)">
    Send to...
  </a>
  <ul class="dropdown-menu" role="menu">
  <% sync_plugins = Dradis::Plugins::with_feature(:issue_sync) %>
  <% if sync_plugins.any? %>
    <% sync_plugins.each do |plugin| %>
      <%=
        plugin_path = ActiveSupport::Inflector.underscore(ActiveSupport::Inflector.deconstantize(plugin.name))
        render partial: "#{plugin_path}/issues/send_to_menu"
      %>
    <% end %>
  <% end %>
  <% unless defined?(Dradis::Pro) && defined?(Dradis::Pro::Issuelib) %>
    <% if sync_plugins.any? %>
    <li class="divider"></li>
    <% end %>
    <li><a href="javascript:void(0)" class="js-try-pro" data-term="issuelib" data-url="http://drad.is/l/try-pro-issuelib"><i class="fa fa-book"></i> Built-in IssueLibrary</a></li>
  <% end %>
  <% unless defined?(Dradis::Pro) && defined?(Dradis::Pro::Plugins::Remediationtracker) %>
    <% if sync_plugins.any? %>
    <li class="divider"></li>
    <% end %>
    <li><a href="javascript:void(0)" class="js-try-pro" data-term="remediation" data-url="http://drad.is/l/try-pro-remediation"><i class="fa fa-tasks"></i> Built-in Remediation Tracker</a></li>
  <% end %>
  </ul>
</span> - 
