<div class="note-list">
  <%= content_tag :div, id: 'issue_summary_link', class: current_page?(main_app.project_issues_path(current_project)) ? 'list-item active' : 'list-item' do %>
    <div class="expansion-container">
      <%= link_to main_app.project_issues_path(current_project), class: 'view-toggle-off' do %>
        <i class="fa fa-bar-chart"></i>
        Summary of issues
      <% end %>
    </div>
  <% end %>
</div>

<%= render 'import_box' %>

<%= render 'shared/sidebar_collection',
  name: 'Issues',
  collection: @issues,
  new_path: main_app.new_project_issue_path(current_project),
  category_id: nil
%>
