<% cache ['issues-table', issues.map(&:id), @issues.map(&:updated_at).map(&:to_i).sort.last] do %>
  <table class="table table-striped tbl-issues js-tbl-issues">
    <thead>
      <tr>
        <th></th>
        <% @columns.each do |column| %>
        <th data-column="<%= column.downcase %>"><%= column %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% issues.each do |issue| %>
      <% cache [issue, 'issues-table'] do%>
      <tr>
        <td class="column-checkbox"><%= check_box_tag dom_id(issue), issue.id, false, class: 'js-multicheck', data: { url: issue_path(issue, format: :json) } %></td>
        <% @columns.each do |column| %>
        <td>
          <%=
          case column
          when 'Title'
            link_to issue.title, issue
          when 'Tags'
            tag_and_name_for(issue)
          when 'Affected'
            # this count is coming from the SQL finder in the controller
            issue.affected_count
          when 'Created'
            local_time_ago(issue.created_at)
          when 'Created by'
            issue.author
          when 'Updated'
            local_time_ago(issue.updated_at)
          else
            issue.fields.fetch(column, '')
          end
          %>
        </td>
        <% end  %>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
