<table class="table table-striped tbl-issues js-tbl-issues">
  <thead>
    <tr>
      <th></th>
      <% @columns.each do |column| %>
      <th data-column="<%= column.downcase %>"><%= column %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% issues.each do |issue| %>
    <tr>
      <td class="column-checkbox"><%= check_box_tag dom_id(issue), issue.id, false, class: 'js-multicheck', data: { url: issue_path(issue, format: :json) } %></td>
      <% @columns.each do |column| %>
      <td>
        <%=
        case column
        when 'Title'
          link_to issue.title, issue
        when 'Tags'
          tag_and_name_for(issue)
        when 'Affected'
          # this count is coming from the SQL finder in the controller
          issue.affected_count
        else
          issue.fields.fetch(column, '')
        end
        %>
      </td>
      <% end  %>
    </tr>
    <% end %>
  </tbody>
</table>
