<div class="tag-input">
  <%= f.input :tag_list, as: :hidden , value:@issue.tags.to_json %>
<div class="wrapper">
      <div class="tags-content">
        <div class="dropdown">
        <ul class="tags-ul"><input class="tags-input" type="text" spellcheck="false"></ul>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" id='AAAA'>AAAA</a></li>
                <li><a href="#">BBBB</a></li>
                <li><a href="#">CCCC</a></li>
            </ul>
        </div>
        <p>Press space or add a comma after each tag</p>
      </div>
      <div class="tags-details">
        <p><span>5</span> tags are remaining</p>
        <a class="tags-remove-btn">Remove All</a>
      </div>
    </div>
</div>