<div class="tag-input row">
  <div class="col-6">
    <label>Tag</label>
    <%= f.input :tag_list, input_html:{data:{url: project_tags_path(current_project) }}, include_blank:'No Tag', collection: Tag.all.map{|l| [l.display_name, l.name, {data: {content: "<span class='badge' style='color:#fff; background-color:#{l.color}'>#{l.display_name}</span>"}}]}, label: false %>
  </div>
</div>
