<%#
  Inspired by the Gmail toolbar. Some of the controls are hidden while nothing
  is selected and they become visible once the user selects at least one row.
%>
<div class="btn-toolbar">
  <div class="btn-group">
     <span class="btn js-select-all-issues">
       <input type="checkbox" id="select-all" />
     </span>
  </div>

  <div class="btn-group issue-actions js-issue-actions">
    <a id="delete-selected" class="btn" data-confirm="Are you sure?" data-method="delete"><i class="fa fa-trash text-error"></i></a>
    <a class="btn dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-tags"> </i>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <% @tags.each do |tag| %>
        <% cache [tag, 'issues-toolbar'] do %>
      <li>
        <%= link_to 'javascript:void(0)', class: 'js-taglink', style: "color: #{tag.color}", data: { tag: h(tag.name) } do %>
          <i class="fa fa-tag"></i> <%= h(tag.display_name) %>
        <% end %>
      </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn" data-toggle="dropdown"><i class="fa fa-columns"></i> <span class="caret"></span></button>
    <ul class="dropdown-menu js-table-columns">
      <% @columns.each do |column| %>
      <li><a href="javascript:void(0)" data-column="<%= column.downcase %>"><input type="checkbox" /> <%= column %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="filter pull-right">
    <input type="text" class="form-control input-xlarge js-table-filter" placeholder="Type here to filter table..."/>
  </div>
</div>
