<% content_for :title, 'Edit issue' %>

<% content_for :sidebar do %>
  <%= render 'sidebar'%>
<% end %>

<% content_for :breadcrumbs do %>
  <nav>
    <%= render partial: 'breadcrumbs' %>
  </nav>
<% end %>

<div class="content-container">
  <div id="issues_editor">
    <div class="note-text-inner">
      <h4 class="header-underline">Edit issue</h4>
      <div class="autofocus" autofocus="true" tabindex="1"></div> <!-- This div is needed to allow correct tabbing order in Chrome with page is loaded with turbolinks -->
      <%= render 'issues/form/form' %>
    </div>
  </div>
</div>
