<% content_for :title, 'Issues summary' %>

<% content_for :sidebar do %>
  <%= render 'sidebar'%>
<% end %>

<!-- Main content -->
<div id="issue-viewer">

  <div class="inner note-text-inner">

    <% if @issues.any? %>
      <div id="issue-table">
        <%= render 'toolbar' %>
        <%= render 'table', issues: @issues %>
      </div>
    <% else %>
      <%= render 'empty' %>
    <% end %>
  </div>
</div>
