<% content_for :title, 'Add new issue' %>

<% content_for :sidebar do %>
  <%= render 'sidebar'%>
<% end %>

<div class="content-container">
  <div id="issues_editor">
    <div class="note-text-inner">
      <h4 class="header-underline">Add new issue</h4>
      <%= render 'issues/form/form' %>
    </div>
  </div>
</div>
