{
  "success": <%= @modified %>,
  <% if tag = @issue.tags.first %>
  "issue_link": "<%= j render(partial: 'issues/issue', locals: { issue: @issue }, formats: 'html') %>",
  "tag_cell": "<%= j "<td style=\"color:#{tag.color}\"><i class=\"fa fa-bug\"></i> #{tag.display_name}</td>".html_safe %>"
  <% end %>
}
