@import "reset.css";
@import "design-system.css";

/* Basic configuration */

html {
  font-size: var(--font-size-2);
}

body {
  font-family: "Lato", Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 20px;
}

h1 {
  font-size: var(--font-size-1);
}

h2 {
  font-size: var(--font-size-2);
}

h3 {
  font-size: var(--font-size-3);
}

p {
  font-size: var(--font-size-4);
}

.sm-text {
  font-size: var(--font-size-5);
}

/* Containers */

.container {
  display: flex;
  gap: 20px;
  height: 100%;
}

.box {
  border: 1px solid var(--primary-600);
  height: 100%;
  border-radius: var(--space-4);
  padding: var(--space-6);
  box-sizing: border-box;
}

/* Upload View Component */

#upload-view {
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--space-4);
}

#upload-view .header,
#upload-view .footer {
  flex-shrink: 0;
  padding: var(--space-6);
}
#upload-view #drag-drop-zone {
  border: 1px dashed var(--primary-600);
  padding: var(--space-8) var(--space-6);
  border-radius: var(--space-4);
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: var(--primary-50);
  gap: 10px;
  align-items: center;
}
#upload-view #drag-drop-zone:hover {
  background-color: var(--primary-200);
}
#upload-view .title {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

#upload-view .highlight {
  color: var(--primary-600);
}

#upload-view #upload-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: var(--space-4) 0;
}

#available-plugins {
  flex: 1;
}
