<% content_for :title, 'My Tasks' %>
<div class="content-container" id="tasks-viewer">
   <div class="methodology">
      <h4 class="dropdown-toggle" data-bs-toggle="dropdown">Methodology 1 <i class="fa-solid fa-caret-down fa-fw"></i></h4>
      <ul class="dropdown-menu">
         <li class="dropdown-menu__item"><input type="checkbox" checked/>Methodology 1</li>
         <li class="dropdown-menu__item"><input type="checkbox"/>Methodology 2</li>
      </ul>
      <div class="table-wrapper">
              <table class="table table-striped"
              data-behavior="dradis-datatable"
              data-default-columns='["Title", "Tags", "Due Date", "Status", "Assignees"]'
              data-item-name="name_of_entity"
              data-local-storage-key="project.ce.name_of_entities_datatable">
                <thead>
                  <tr>
                    <th class="no-sort" data-column-visible="false"><span class="visually-hidden">Select</span></th>
                    <th>Type</th>
                    <th>Title</th>
                    <th>Tags</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Assignees</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="name_of_entity-1">
                    <td class="select-checkbox" data-behavior="select-checkbox"></td>
                    <td data-sort="Card"><i class="fa-solid fa-address-card"></i></td>
                    <td data-sort="[Issues, Evidence, and Plugins] Create your first Issue"><a href="">[Issues, Evidence, and Plugins] Create your first Issue</a></td>
                    <td data-sort="Critical"><span class="issue-severity"><i class="fa-solid fa-bug" style="color: #9467bd"></i> Critical</span></td>
                    <td data-sort="Dec 21"><span class="due-date"><i class="fa-solid fa-clock" style="color: #9467bd"></i> Dec 21</span></td>
                    <td data-sort="In Progress">In Progress</td>
                    <td data-sort="Assignees">
                      <img class="assignee-img" alt="user's avatar" src="/assets/profile.png" />
                    </td>
                  </tr>
                  <tr id="name_of_entity-2">
                    <td class="select-checkbox" data-behavior="select-checkbox"></td>
                    <td data-sort="Card"><i class="fa-solid fa-address-card"></i></td>
                    <td data-sort="Row 2 Col 2 Data">Row 2 Col 2 Data</td>
                    <td data-sort="Row 2 Col 3 Data">Row 2 Col 3 Data</td>
                    <td data-sort="Row 2 Col 4 Data">Row 2 Col 4 Data</td>
                    <td data-sort="Row 2 Col 4 Data">Row 2 Col 5 Data</td>
                    <td data-sort="Row 1 Col 4 Data">Row 2 Col 6 Data</td>
                  </tr>
                  <tr id="name_of_entity-3">
                    <td class="select-checkbox" data-behavior="select-checkbox"></td>
                    <td data-sort="Card"><i class="fa-solid fa-address-card"></i></td>
                    <td data-sort="Row 3 Col 2 Data">Row 3 Col 2 Data</td>
                    <td data-sort="Row 3 Col 3 Data">Row 3 Col 3 Data</td>
                    <td data-sort="Row 3 Col 4 Data">Row 3 Col 4 Data</td>
                    <td data-sort="Row 3 Col 4 Data">Row 3 Col 5 Data</td>
                    <td data-sort="Row 1 Col 4 Data">Row 3 Col 6 Data</td>
                  </tr>
                </tbody>
              </table>
            </div>
    </div>
</div>