<% content_for :title, 'My Tasks' %>
<div class="content-container" id="tasks-viewer">
   <div class="methodology">
      <h4 class="dropdown-toggle" data-bs-toggle="dropdown">Methodology 1 <i class="fa-solid fa-caret-down fa-fw"></i></h4>
      <ul class="dropdown-menu">
         <li class="dropdown-menu__item"><input type="checkbox" checked/>Methodology 1</li>
         <li class="dropdown-menu__item"><input type="checkbox"/>Methodology 2</li>
      </ul>
      <div class="table-wrapper">
              <table class="table table-striped"
              data-behavior="dradis-datatable"
              data-default-columns='["Col 1 Header", "Col 2 Header", "Col 3 Header", "Col 4 Header", "Col 5 Header"]'
              data-item-name="name_of_entity"
              data-local-storage-key="project.ce.name_of_entities_datatable">
                <thead>
                  <tr>
                    <th class="no-sort" data-column-visible="false"><span class="visually-hidden">Select</span></th>
                    <th>Col 1 Header</th>
                    <th>Col 2 Header</th>
                    <th>Col 3 Header</th>
                    <th>Col 4 Header</th>
                    <th>Col 5 Header</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="name_of_entity-1">
                    <td class="select-checkbox" data-behavior="select-checkbox"></td>
                    <td data-sort="Row 1 Col 1 Data">Row 1 Col 1 Data</td>
                    <td data-sort="Row 1 Col 2 Data">Row 1 Col 2 Data</td>
                    <td data-sort="Row 1 Col 3 Data">Row 1 Col 3 Data</td>
                    <td data-sort="Row 1 Col 4 Data">Row 1 Col 4 Data</td>
                    <td data-sort="Row 1 Col 4 Data">Row 1 Col 5 Data</td>
                  </tr>
                  <tr id="name_of_entity-2">
                    <td class="select-checkbox" data-behavior="select-checkbox"></td>
                    <td data-sort="Row 2 Col 1 Data">Row 2 Col 1 Data</td>
                    <td data-sort="Row 2 Col 2 Data">Row 2 Col 2 Data</td>
                    <td data-sort="Row 2 Col 3 Data">Row 2 Col 3 Data</td>
                    <td data-sort="Row 2 Col 4 Data">Row 2 Col 4 Data</td>
                    <td data-sort="Row 2 Col 4 Data">Row 2 Col 5 Data</td>
                  </tr>
                  <tr id="name_of_entity-3">
                    <td class="select-checkbox" data-behavior="select-checkbox"></td>
                    <td data-sort="Row 3 Col 1 Data">Row 3 Col 1 Data</td>
                    <td data-sort="Row 3 Col 2 Data">Row 3 Col 2 Data</td>
                    <td data-sort="Row 3 Col 3 Data">Row 3 Col 3 Data</td>
                    <td data-sort="Row 3 Col 4 Data">Row 3 Col 4 Data</td>
                    <td data-sort="Row 3 Col 4 Data">Row 3 Col 5 Data</td>
                  </tr>
                </tbody>
              </table>
            </div>
   </div>
</div>