<% content_for :title, 'Configuration Manager' %>
  <%= render 'tabs' %>

  <% if @configs.count == 0 %>
    <div class="content-container mt-3">
      <h4 class="mb-3">You haven't enabled any add-ons that require configuration</h4>
      <p>Import plugins like <a href="http://vulndbhq.com" target="_blank">VulnDB</a> or <a href="https://dradisframework.com/ce/addons/mediawiki.html?utm_source=ce&utm_medium=app" target="_blank">MediaWiki</a> require configuration and will display here when they are enabled.</p>
      <p class="mb-0">For more details on enabling add-ons, see our <a href="http://dradisframework.org/documentation/add-ons.html" target="_blank">Enable/Disable Add-ons</a> guide.</p>
    </div>
  <% else %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-8 col-xxl-9 p-0">
          <div class="content-container mt-3 pb-0 mr-md-3 mr-sm-4">
            <%= form_tag project_configurations_path(current_project) do %>
              <% @configs.each do |configuration| %>
                <%= render partial: configuration[:type], object: configuration %>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="col-lg-4 col-xxl-3 p-0 d-none d-lg-block">
          <div class="content-container mt-3 ml-3 sticky-top">
            <h4 class="header-underline">Quick Nav</h4>
            <nav class="d-flex flex-column">
              <% @configs.each do |configuration| -%>
                <%= link_to configuration[:name], {anchor: configuration[:name]}, class: 'nav-link' %>
              <% end -%>
            </nav>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
