@font-face {
  font-family: 'ProximaNovaLight';
  src: font-url('proximanova-light.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: font-url('proximanova-regular.woff2');
  font-weight: 500;
  font-style: normal;
}

body:not(.unauthenticated) {
  background-color: $white;
  display: grid;
  font-family: 'ProximaNovaLight', 'system-ui';
  min-height: 100vh;
  text-wrap: pretty;
  overflow-x: clip;
}

a {
  color: $text-link;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:focus-visible {
    box-shadow: $focus-shadow;
    outline: none !important;
  }

  &:hover {
    color: $text-link-hover;
  }
}

.actions {
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 0.9rem;
}

.alert-danger {
  background-color: $red-100 !important;
  border: 1px solid $red-200;
  color: $red-600;
}

.alert-success {
  background-color: $green-100 !important;
  border: 1px solid $green-200;
  color: $green-800;
}

.alert-warning {
  background-color: $yellow-100 !important;
  border: 1px solid $yellow-300;
  color: $yellow-800;
}

.bg-info {
  background-color: $green-100 !important;
  color: $green-900;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-success {
  color: $green-800;
}

.bg-warning {
  color: $yellow-800;
}

blockquote {
  border-left: 3px solid $primary;
  padding-left: 1rem;
}

.btn:focus,
.custom-file-input:focus ~ .custom-file-label {
  border-color: $dark;
  box-shadow: $focus-shadow;
  outline: none !important;
}

code {
  background-color: $brand-100;
  color: $primary;
  border-radius: $border-radius;
  padding: 0.15rem 0.5rem;
}

.empty-state {
  &-actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  &-body-text {
    text-align: center;
  }

  &-docs-link {
    font-size: 0.8rem;
  }

  &-icon {
    border-radius: 50%;
    margin: 0 auto;
    width: max-content;

    img {
      height: auto;
      width: 11.5rem;
    }
  }

  &-title {
    margin: 3rem 0;
    text-align: center;
  }
}

.form-actions {
  padding-top: 1rem;
  border-top: 1px solid $border-color;
}

.form-control {
  font-size: inherit;

  &:focus {
    border-color: $dark;
    box-shadow: $focus-shadow;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ProximaNovaRegular', 'system-ui';

  & * {
    font-family: 'ProximaNovaLight', 'system-ui';
  }
}

mark {
  background-color: yellow;
  padding-left: 0;
  padding-right: 0;
}

.nav-pills {
  .nav-link {
    border: 1px solid $border-color;
    transition: all 0s ease-in-out;

    &.active {
      background-color: $instance-nav-bg;
      border: 1px solid $border-color;
      color: $text-link-hover;
    }
  }
}

.no-caret {
  &.dropdown-toggle::after {
    display: none;
  }
}

p:last-child {
  margin-bottom: 0;
}

pre code {
  background-color: initial;
  padding: 0;
}

.required-input {
  color: $red;
}

strong {
  font-family: 'ProximaNovaRegular', 'system-ui';
}

.text-break-spaces {
  white-space: break-spaces !important;
}

.text-error {
  color: $text-error !important;
}

.text-error-hover {
  color: $text-error !important;

  &:hover {
    color: darken($text-error, 10%) !important;
  }
}

.text-muted {
  color: $text-muted !important;
}

.text-primary {
  color: $primary !important;
}

.text-success {
  color: $text-success !important;
}
.text-warning {
  color: $text-warning !important;
}

ul {
  list-style: none;
}
