body {
  grid-template-rows: calc(#{$navbar-height} * 2) 1fr;
  grid-template-columns: $sidebar-width 1fr $sidebar-width;
  grid-template-areas:
    'navigation navigation navigation'
    'nodes-sidebar view-content secondary-sidebar';
}

.container,
.container-fluid {
  padding: 0 $padding;
}

.content-container {
  background-color: $primary-bg;
  border: 1px solid $border-color;
  border-radius: 5px;
  margin-bottom: $margin;
  padding: $padding;
  position: relative;
  outline: none;

  .alert {
    margin: 1rem 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  // @include media-breakpoint-down(lg) {
  //   padding-bottom: 9rem;

  //   .content-container {
  //     margin: calc(#{$margin} / 2);
  //   }
  // }
}

header {
  grid-area: navigation;
}

.row {
  padding: 0 0.75rem;

  & > *[class*='col-'] {
    position: relative;
  }
}
