@mixin ajax-console {
  background-color: $black;
  border-radius: 5px;
  color: $grey-500;
  margin: 1rem 0;
  height: 400px;
  overflow: auto;
  padding: 1rem;

  .log {
    margin-bottom: 5px;

    span {
      white-space: pre;
    }

    &.text-success {
      color: lighten($text-success, 15%) !important;
    }

    &.text-warning {
      color: lighten($text-warning, 15%) !important;
    }

    &.text-error {
      color: lighten($text-error, 15%) !important;
    }
  }
}

@mixin button($color) {
  border: 0px none;
  background: $color;

  &:hover,
  &:not(:disabled):not(.disabled):active {
    background: darken($color, 10);
  }
}
