@import 'hera/modules/attachments';
@import 'hera/modules/buttons';
@import 'hera/modules/datatables';
@import 'hera/modules/dots_menu';
@import 'hera/modules/modals';

[aria-tooltip] {
  position: relative;

  &:after {
    background-color: $dark;
    border-radius: 5px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    color: $white;
    content: attr(aria-tooltip);
    font-size: 0.7em;
    line-height: 15px;
    opacity: 0;
    padding: 0.3rem 0.5rem;
    pointer-events: none;
    position: absolute;
    right: 50%;
    text-transform: capitalize;
    top: 110%;
    transform: translateX(50%);
    white-space: nowrap;
    z-index: 1051;
  }

  &:hover:after {
    opacity: 0.9;
    transition: all 0.3s 0.3s ease-in-out;
  }
}

.accordion-group {
  margin-bottom: 5px;
  border: 1px solid $border-color;
  border-radius: 5px;

  .accordion-heading {
    border-bottom: 0;

    .accordion-toggle {
      display: block;
      padding: 8px 15px;
    }
  }
}

.alert {
  margin: 1rem 0;
}

.attachment {
  margin: 10px 0;
}

.author-info {
  display: flex;
  margin-top: 1rem;
  padding-top: 0.5rem;
  width: 100%;
  border-top: 1px solid $border-color;
}

.autofocus {
  opacity: 0;
}

.column-actions a {
  white-space: nowrap;
}

.color-picker {
  height: 2.15rem;
  padding: 0;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
}

.content {
  padding: 1em;

  h4 {
    margin-top: 2em;
  }

  h4:first-child {
    margin-top: 10px;
  }

  ul {
    margin-top: 1em;
  }
}

.divider {
  border-top: 1px solid $border-color;
  height: 0;
  margin: 0.25rem 0;
}

.divider-vertical {
  border-right: 1px solid $border-color;
  display: initial;
  margin: 0.25rem;
  width: 0;
}

.fa-fw {
  margin-right: 0.25rem;
}

.form-actions {
  margin-top: 1rem;
}

.gravatar {
  float: left;
  margin-right: 5px;

  &.gravatar-inline {
    margin: 0 0 -3px 0;
    float: none;
    white-space: nowrap;
  }

  img {
    border-radius: 50%;
  }
}

.header-underline {
  align-items: center;
  border-bottom: 1px solid $border-color;
  display: flex;
  margin-bottom: 0.5em;
  margin-top: -0.5rem;
  padding-bottom: 0.5em;
  width: 100%;

  .actions {
    margin-left: auto;

    .action {
      &:not(:first-child)::before {
        content: '-';
      }

      &:first-child {
        margin-left: auto;
      }

      &:last-of-type {
        margin: 0 0.75rem;
      }
    }
  }
}

.inset-button-wrapper {
  position: relative;
  width: 100%;
  height: 2.5rem;

  .btn {
    position: absolute;
    right: 0;
    font-size: 0.8rem;
    margin: 0.25rem;
  }

  .form-control {
    position: absolute;
    width: 100%;
    padding-right: 4.5rem;
    height: 98%;
  }
}

.issue-severity {
  cursor: default;
  white-space: nowrap;
}

.nav-link {
  color: $text-link;
  display: block;
  padding: 0.5rem 1rem;
  transition: color 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    color: $text-link-hover;
  }
}

.nav-tabs {
  .nav-link:hover:not(.active) {
    border-color: transparent;
  }
}

.page-title {
  margin: 1rem 1.5rem;
}

pre {
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: $secondary-bg;
  border: 1px solid $border-color;
  border-radius: 5px;
}

.tabs-container {
  margin: 1rem $margin -1px $margin;
  padding-left: 0.25rem;
  border-bottom: 1px solid transparent;

  .nav-item {
    z-index: 2;
  }
}

table {
  &.table-ajax-inputs {
    td {
      &.value input {
        background-position: right center;
        background-repeat: no-repeat;
        padding-right: 20px;
        width: 80%;

        &.editing {
          background-image: image-url('silk/pencil.png');
        }

        &.failed {
          background-image: image-url('silk/stop.png');
        }

        &.saved {
          background-image: image-url('silk/accept.png');
        }

        &.saving {
          background-image: image-url('loading.gif');
        }
      }
    }
  }

  &.table-striped {
    th {
      border: none;
    }
  }
}

time {
  &[aria-label]:after {
    display: none;
  }
}

.tooltip-inner {
  ul {
    list-style: disc;
    text-align: left;
    padding-left: 1.25rem;
    padding-top: 0.5rem;

    li {
      margin-bottom: 0.25rem;
    }
  }
}
