@import 'bootstrap/functions';
@import 'hera/modules/colors';

// Theme
$light: $brand-100;
$primary: $brand-700;
$dark: $brand-900;

// Bootstrap Overrides
$green: $green-500;
$orange: $orange-500;
$red: $red-500;
$yellow: $yellow-500;

// Borders
$border-color: $grey-200;
$border-color-dark: $grey-900;

// Shadows
$shadow-color-light: $grey-200;
$shadow-color-dark: $grey-800;

// Text
$text-default: $grey-900;
$text-error: $red;
$text-link: $brand-700;
$text-link-hover: darken($text-link, 15%);
$text-muted: $grey-700;
$text-small: 0.9rem;
$text-success: darken($green-700, 10%);
$text-warning: darken($yellow-600, 15%);

// Navbar
$instance-nav-bg: $brand-200;
$instance-nav-border: $brand-400;
$instance-nav-hover: $brand-900;
$instance-nav-links: $brand-800;
$navbar-height: 3.2rem;

// Sidebar
$sidebar-width: 14rem;
$sidebar-width-collapsed: 0.5rem;

// Layout
$primary-bg: $white;
$secondary-bg: $grey-100;
$focus-shadow: 0 0 0 0.2rem unquote(#{$primary}80) !important;
$shadow-color: $grey-200;

// Spacing
$margin: 1.5rem;
$padding: 1.5rem;

// This line must be last to override BS5 colors.
@import 'bootstrap/variables';
