// Branding
// Do Not Use Directly! - use Theme variables instead
$ce-green-light: #b0e59c;
$ce-green: #64bc46;
$ce-green-dark: #325b23;

// Theme
$light: $ce-green-light, 1.75%;
$primary: $ce-green;
$dark: $ce-green-dark;

// Color Palette
$grey-dark: #282828;
$link-color: #2171a3;
$shadow-color: #eeeeee;
$white-dark: #f9f9f9;

// Bootstrap Overrides
$border-color: #e8e8e8;
$muted-text: #636363;
$red: #cc293b;

// Navbar
$navbar-height: 70px;

// Sidebar
$sidebar-width: 20rem;
