@import 'bootstrap/functions';
@import 'bootstrap/variables';

// Branding
// Do Not Use Directly! - use Theme variables instead
$ce-green-light: #b0e59c;
$ce-green: #64bc46;
$ce-green-dark: #325b23;

// Edition Colors
$light: $ce-green-light;
$primary: $ce-green;
$dark: $ce-green-dark;

// Bootstrap Overrides
$border-color: #e8e8e8;
$muted-text: #636363;
$red: #cc293b;

$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': $dark,
  )
);

// Theme
$border-color-dark: $dark;
$border-color-light: $light;
$error-text: $red;
$focus-shadow: 0 0 0 0.2rem unquote(#{$primary}80) !important;
$grey-dark: #282828;
$link-color: darken($primary, 2.25%);
$link-color-hover: darken($link-color, 15%);
$shadow-color: #eeeeee;
$white-dark: #f9f9f9;

// Layout
$default-text: $grey-dark;
$primary-bg: $white;
$secondary-bg: $white-dark;

// Navbar
$instance-nav-bg: #1e3915; //ce-green-900
$navbar-height: 3.5rem;

// Sidebar
$sidebar-width: 20rem;

// CE colors
$brand-color-light: #c1e4b5; //ce-green-100
$link-color: #3c712a; //ce-green-700

// Spacing
$margin: 1.5rem;
$padding: 1.5rem;
