@import 'bootstrap/functions';
@import 'hera/colors';

// Theme
$light: $brand-100;
$primary: $brand-500;
$dark: $brand-700;

// Bootstrap Overrides
$green: $green-500;
$orange: $orange-500;
$red: $red-500;
$yellow: $yellow-500;

// Borders
$border-color: $grey-200;
$border-color-dark: $grey-900;

// Shadows
$shadow-color-light: $grey-200;
$shadow-color-dark: $grey-800;

// Text
$text-default: $grey-900;
$text-error: $red;
$text-link: $brand-700;
$text-muted: $grey-700;

// Navbar
$instance-nav-bg: $brand-700;
$instance-nav-hover: $brand-200;
$navbar-height: 3.5rem;

// Sidebar
$sidebar-width: 20rem;

// Layout
$primary-bg: $white;
$secondary-bg: $white-dark;
$focus-shadow: 0 0 0 0.2rem unquote(#{$primary}80) !important;
$link-color: darken($primary, 2.25%);
$link-color-hover: darken($link-color, 15%);
$shadow-color: $grey-200;
$white-dark: $grey-100;

// Spacing
$margin: 1.5rem;
$padding: 1.5rem;

// This line must be last to override BS5 colors.
@import 'bootstrap/variables';
