<section class="summary-panel">
  <h4 class="header-underline">My Tasks
    <span class="actions pt-1">
        <div class="action">
            <%= link_to 'All Tasks', project_tasks_path(current_project) %>
        </div>
    </span>
  </h4>
  <h5 class="mb-2 mt-4">Due today (3/8)</h5>
  <ul class="list-group tasks">
    <li class="list-group-item">
        <a href="#" class="list-group-item-action red">[OWASP Top 10] A2:2017 - Broken Authentication</a>
        <span class="badge bg-primary">Simple OWASP checklist</span>
        <span class="badge bg-secondary">In progress</span>
    </li>
    <li class="list-group-item">
       <a href="#" class="list-group-item-action red">Step 1: Prepare the release notes</a>
        <span class="badge bg-primary">Release Checklist</span>
        <span class="badge bg-secondary">In progress</span>
    </li>
    <li class="list-group-item">
        <a href="#" class="list-group-item-action red">[OWASP Top 10] A2:2017 - Broken Authentication</a>
        <span class="badge bg-primary">Simple OWASP checklist</span>
        <span class="badge bg-secondary">To do</span>
    </li>
  </ul>
  <h5 class="mb-2 mt-4">Next (3/40)</h5>
  <ul class="list-group tasks">
    <li class="list-group-item">
       <a href="#" class="list-group-item-action orange">[OWASP Top 10] A3:2017 - Sensitive Data Exchange</a>
       <span class="badge bg-primary">Simple OWASP checklist</span>
       <span class="badge bg-secondary">Pending</span>
    </li>
    <li class="list-group-item">
        <a href="#" class="list-group-item-action orange">[OWASP Top 10] A4:2017 - XML External Entities (XXE)</a>
        <span class="badge bg-primary">Simple OWASP checklist</span>
        <span class="badge bg-secondary">In progress</span>
    </li>
    <li class="list-group-item">
        <a href="#" class="list-group-item-action yellow">Step 3: Deal with security advisories</a>
        <span class="badge bg-primary">Release Checklist</span>
        <span class="badge bg-secondary">To do</span>
    </li>
  </ul>
</section>
