<section class="summary-panel">
  <h4 class="header-underline">My tasks<span class="actions pt-1">
  <div class="action">
  <%= link_to project_tasks_path(current_project) do %>
    <i class="fa-solid fa-user fa-fw"></i>View All
    <% end %>
  </div>
</span></h4>
<ul class="tasks-list">
    <li class="tasks-list__item">
      <i class="fa-solid fa-user fa-fw"></i>
    </li>
</ul>

  
</section>
