<li class="list-group-item">
  <%= link_to project_board_list_card_path(current_project, task.board, task.list, task), class: "list-group-item-action #{task_class}" do %>
    <span class="text-truncate" title="<%= task.name%>"><%= task.name %></span>
  <% end %>
  <span class="badge bg-primary"><%= task.board.name %></span>
</li>
