<p>
  Use the 
  <%= link_to 'javascript:void(0)', data: { behavior: 'evidence-dropdown-toggle' } do -%>
    <i class="fa fa-plus"></i> sign
  <% end %>
  in the sidebar next to the Evidence header.
</p>
