<div class="tab-pane <%= "active" if params[:tab] == "activity-tab" %>" id="activity-tab">
  <h4 class="header-underline">Recent Activity</h4>
  <%= render 'activities/feed', activities: @activities %>
</div>
