<div class="text-center">
  <h1>This node doesn't have a methodology yet</h1>

  <p>Add one by clicking on the button below</p>

  <a class="btn js-try-pro" href="javascript:void(0)" data-term="node-boards" data-url="http://drad.is/l/try-pro-consistency">
    <i class="fa fa-plus"> </i> Add methodology
  </a>
</div>
