<div class="text-center">
  <h1>This node doesn't have a methodology yet</h1>

  <p>Add one by clicking on the button below</p>

  <a class="btn" href="#">
    <i class="fa fa-plus"> </i> Add methodology
  </a>
</div>
