<div class="content-textile">
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <% NodeProperties::SERVICE_KEYS.each do |key| %>
            <th><%= key.to_s.titleize %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% services.each do |service| %>
          <tr>
            <% NodeProperties::SERVICE_KEYS.each do |key| %>
              <td><%= service[key] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
