<li class="nav-item d-lg-none">
  <%= render "layouts/hera/navbar/projects/search" %>
</li>
<li class="nav-item">
  <%= link_to 'javascript:void(0)', class: 'js-try-pro nav-link', data: { term: 'projects', url: 'https://dradis.com/pro/pages/projects.html' } do %>
    <span>Projects</span>
  <% end %>
</li>
<%= render 'layouts/hera/navbar/instance_nav/tools_menu' %>
