<div class='notification'>
  <div class='avatar'>
    <%= presenter.avatar_with_link(50) %>
  </div>
  <p class='notification-text'>
    <%= presenter.render_title %>
    <span class='time-stamp'>
      <%= presenter.created_at_ago %>
    </span>
  </p>
</div>
