<h2 class="digest-header">
  <% if @type == :digest %>
    Your Notifications From The Past 24h
  <% elsif @type == :instant %>
    Your Recent Notifications
  <% end %>
</h2>

<% @notifications.each do |project, project_notifications| %>
  <div class="project-wrapper">
    <div class="project-name-wrapper">
      <span class="project-name"><%= project.name %></span>
      <hr>
    </div>

    <% project_notifications.each do |_, notifications| %>
      <% presenter = DigestPresenter.new(notifications, self) %>
      <%= render partial: 'notification_mailer/notification', locals: { presenter: presenter } %>
    <% end %>
  </div>
<% end %>

<hr>

<a class="button" href="javascript:void(0)">See all notifications</a>
