<h2 class="digest-header">
  <% if @type == :digest %>
    Your Notifications From The Past 24h
  <% elsif @type == :instant %>
    Your Recent Notifications
  <% end %>
</h2>

<div class="project-wrapper"> <!-- This should render for each project that has a notification, this may be the wrong spot for this div. -->
  <div class="project-name-wrapper">
    <span class="project-name">Pro Project Name</span> <!-- Name of project that the below notifications belong to (Pro Only) do not render this span element in CE --> 
    <hr>
  </div>
  <% @presenters.each do |presenter| %>
    <%= render partial: 'notification_mailer/notification', locals: { presenter: presenter } %>
  <% end %>
</div>

<hr>

<a class="button" href="javascript:void(0)">See all notifications</a> <!-- Only in CE for now -->
