<h2 class='digest-header'>
  <% if @type == :digest %>
    Your Notifications From The Past 24h
  <% elsif @type == :instant %>
    Your Recent Notifications
  <% end %>
</h2>

<% @notifications.each do |project, project_notifications| %>
  <div class='project-wrapper'>
    <div class='project-name-wrapper'>
      <hr>
    </div>

    <% project_notifications.each do |_, notifications| %>
      <% presenter = DigestPresenter.new(notifications, self) %>
      <%= render partial: 'notification_mailer/notification', locals: { presenter: presenter } %>
    <% end %>
  </div>

  <hr>

  <% unless defined?(Dradis::Pro) %>
    <%= link_to 'See all notifications', project_notifications_url(project), class: 'button' %>
  <% end %>
<% end %>
