<h1>Notifications for this Project</h1>

<div class="notifications-index">
  <%# TODO s/@project/current_project once project-id-scopes is merged %>
  <b><%= link_to 'Mark all as read', read_all_project_notifications_path(@project), class: 'pull-right', data: { method: 'POST' } %></b>
  <div class="clearfix"></div><br>

  <% cache [current_user, @notifications] do %>
    <% if @notifications.any? %>
      <ul>
        <% @notifications.each do |notification| %>
          <%= render notification, index_page: true %>
          <div class="clearfix"></div>
          <hr>
        <% end %>
      </ul>

      <%= paginate @notifications %>
    <% else %>
      <div class="no-content text-center">You have no notifications yet.</div>
    <% end %>
  <% end %>
</div>
