<% is_opted_in = @analytics_config.value == '1' %>

<div class="<%= class_names('d-flex', 'justify-content-end flex-row-reverse': is_opted_in ) %>">
  <% if is_opted_in %>
    <%= button_to toggle_setup_analytics_path, method: :put, params: { analytics: false }, class: 'btn btn-outline-primary' do %>
      Disable data collection
    <% end %>
  <% else %>
    <%= button_to toggle_setup_analytics_path, method: :put, params: { analytics: true }, class: 'btn btn-primary mb-0' do %>
      Share statistics with us!
    <% end %>
  <% end %>
  <% if Ahoy::Event.any? %>
    <button class="<%= class_names('btn btn-primary mr-2', 'btn-outline-primary mr-0 ml-2': !is_opted_in ) %>">Download all data</button>
  <% end %>
</div>
