<%# if ahoy_events.any? %>
<button class="btn btn-primary">Download all data</button>

<%# if opted_in %>
<button class="btn btn-default">Disable data collection</button>
<%# else 
  <button class="btn btn-primary">Share statistics with us!</button> 
%>
