<% unless @turbo_status %>
  <div class="alert alert-danger">
    There was an error contacting Redis: please make sure the Redis server is running.
  </div>
<% end %>

<div>
  <p class="mb-2">Summarize, rewrite, and analyze findings leveraging Liquid Dynamic Content and full project context. Your data stays local with your model of choice.</p>
  <%= render partial: 'dradis/plugins/echo/projects/prompts/prompt', collection: @prompts %>
</div>
