<turbo-frame id="<%= dom_id(@record, :echo) %>">
  <p>Dradis Echo interaction #<%= @interaction_id.truncate(12) %></p>

  <%# Subscribe to main channel for real-time updates via ActionCable %>
  <%= turbo_stream_from @interaction_id, 'prompts' %>

  <%# Here is where we will stream the responses from the LLM %>
  <div id="messages" class="my-2" style="height: 50vh; overflow-y: auto">
    <%= render partial: 'dradis/plugins/echo/projects/prompts/response' %>
  </div>
</turbo-frame>
