.btn-placeholder {
  align-items: center;
  background-color: $primary;
  border: 1px solid $primary;
  border-radius: 0.25rem;
  color: $white;
  cursor: default;
  display: flex;
  padding: 0.375rem 0.75rem;
  text-align: center;
  z-index: 1;

  &.disabled {
    background-color: $grey-200;
    color: $grey-700;
    cursor: not-allowed;
  }
}

.btn-responsive {
  font-size: 1rem;

  @media (min-width: 992px) {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }

  @media (min-width: 1400px) {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
  }
}

.btn-states {
  .dropdown-menu {
    max-width: 20rem;
    width: max-content;
  }

  .dropdown-toggle-split {
    &::after {
      vertical-align: middle;
    }
  }

  span:not(:last-child) {
    .state {
      border-bottom: 1px solid $border-color;
    }
  }

  .state {
    display: flex;
    margin: 0;
    padding: 0.5rem 1.75rem 0.5rem 0.5rem;

    &:hover {
      background-color: $grey-100;
    }

    i {
      color: transparent;
      margin: 0.25rem 0.25rem 0 0;
    }

    input:checked + i {
      color: $primary;
    }

    .state-label {
      p {
        color: $primary;
        font-size: 1rem;
        margin: 0;
      }

      span {
        font-size: 0.8rem;
      }
    }
  }
}

.rounded-start,
.rounded-end {
  // Bootstrap rounds the desired corners, but doesn't square up the rest
  border-radius: 0;
}
