$brand-100: #e0f2da;
$brand-200: #c1e4b5;
$brand-300: #a2d790;
$brand-400: #83c96b;
$brand-500: #64bc46;
$brand-600: #509638;
$brand-700: #3c712a;
$brand-800: #284b1c;
$brand-900: #14260e;

$red-100: #f5d4d8;
$red-200: #eba9b1;
$red-300: #e07f89;
$red-400: #d65462;
$red-500: #cc293b;
$red-600: #a3212f;
$red-700: #7a1923;
$red-800: #521018;
$red-900: #29080c;

$green-100: #e7f7e6;
$green-200: #ceefcd;
$green-300: #b6e7b5;
$green-400: #9ddf9c;
$green-500: #85d783;
$green-600: #6aac69;
$green-700: #50814f;
$green-800: #355634;
$green-900: #1b2b1a;

$yellow-100: #f9f5d6;
$yellow-200: #f3ebac;
$yellow-300: #ede183;
$yellow-400: #e7d759;
$yellow-500: #e1cd30;
$yellow-600: #b4a426;
$yellow-700: #877b1d;
$yellow-800: #5a5213;
$yellow-900: #2d290a;

$orange-100: #f5e1d4;
$orange-200: #ebc3a9;
$orange-300: #e0a47f;
$orange-400: #d68654;
$orange-500: #cc6829;
$orange-600: #a35321;
$orange-700: #7a3e19;
$orange-800: #522a10;
$orange-900: #291508;

$grey-100: #f4f4f4;
$grey-200: #e8e8e8;
$grey-300: #dddddd;
$grey-400: #d1d1d1;
$grey-500: #c6c6c6;
$grey-600: #9e9e9e;
$grey-700: #636363;
$grey-800: #4f4f4f;
$grey-900: #282828;

$black: #141414;
$white: #ffffff;
$white-dark: #f4f4f4;
