header {
  .navbar {
    --margin: 1em;
    --padding: 1em;

    .container-fluid {
      padding: 0 1em;

      .navbar-brand {
        img {
          height: 2.2em;
          margin: 3px 0 -3px;
          padding: 0 15px;
        }
      }

      .navbar-nav {
        align-items: center;

        .nav-item {
          margin-inline: calc(var(--margin) / 2);

          &.active {
            .nav-link {
              font-weight: 400;
            }
          }

          .nav-link {
            align-items: center;
            color: $instance-nav-links;
            font-size: 1em;

            &:active,
            &:focus,
            &:hover {
              color: $instance-nav-hover;
            }

            &.dropdown-toggle::after {
              display: inline-block;
              margin-left: 0.255em;
              vertical-align: 0.255em;
              content: '';
              border-top: 0.3em solid;
              border-right: 0.3em solid transparent;
              border-bottom: 0;
              border-left: 0.3em solid transparent;

              &.no-caret {
                display: none;
              }

              &.no-caret-xl {
                @media (min-width: 992px) {
                  display: none;
                }
              }
            }
          }
        }

        @media (max-width: 991px) {
          padding: var(--padding) 0;

          .nav-item {
            margin-inline: 0;
            padding: 0;

            .nav-link {
              font-size: 1em;
              padding: 0.5em var(--padding);
            }
          }
        }
      }

      .navbar-collapse {
        justify-content: space-between;

        &.show {
          .dropdown {
            .dropdown-toggle {
              &.show {
                font-weight: 600;
              }
            }
            .dropdown-menu {
              box-shadow: none;

              .dropdown-item {
                color: $instance-nav-links;

                @media (max-width: 991px) {
                  padding: 0.5em 0;
                  padding-left: calc(var(--padding) * 2);
                }
              }
            }
          }
        }
      }

      .navbar-toggler {
        border: none;

        &:active,
        &:focus,
        &:hover {
          box-shadow: none;

          .fa-bars {
            color: $primary;
          }
        }
      }
    }

    .dropdown-menu {
      max-height: max-content;
    }

    &.instance-nav {
      background-color: $instance-nav-bg;
      border-bottom: 1px solid $instance-nav-border;
      padding: 0;
      transition: border-color 0s;

      &:has(.navbar-collapse.show),
      &:has(.navbar-collapse.collapsing) {
        border-color: transparent;
      }

      .utility-nav {
        a,
        .nav-link {
          color: $instance-nav-links;

          &:active,
          &:focus,
          &:hover {
            color: $instance-nav-hover;
          }
        }

        .nav-item.active {
          border-top: 5px solid transparent;
        }

        @media (min-width: 992px) {
          .nav-link {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }

      .dropdown-menu {
        background-color: $instance-nav-bg;
        border: 1px solid $instance-nav-border;

        .dropdown-item {
          color: $instance-nav-links;
          text-transform: capitalize;

          &:active,
          &:focus,
          &:hover {
            background-color: lighten($instance-nav-bg, 10%);
          }
        }

        li {
          padding: 0 !important;

          &:active,
          &:focus,
          &:hover {
            background-color: $instance-nav-bg;

            .dropdown-item {
              background-color: lighten($instance-nav-bg, 10%);
              color: $text-default;
            }
          }
        }

        @media (max-width: 991px) {
          border: none;
        }
      }

      .dropdown-divider {
        border-top: 1px solid $instance-nav-border;
      }

      .nav-link {
        padding: calc(var(--padding) / 2);
      }

      .navbar-collapse {
        background-color: $instance-nav-bg;
      }

      .navbar-nav:not(.utility-nav) {
        .nav-item {
          @media (min-width: 992px) {
            margin-inline: calc(var(--margin) / 4);

            .nav-link {
              padding-inline: calc(var(--padding) / 3);
            }
          }

          @media (min-width: 1200px) {
            margin-inline: calc(var(--margin) / 2);
          }
        }
      }

      .navbar-toggler {
        color: $instance-nav-links;
        border: none;

        &:focus {
          border: 2px solid $instance-nav-hover;
          box-shadow: none;
          color: $instance-nav-hover;
        }
      }

      @media (max-width: 991px) {
        .utility-nav {
          padding-bottom: 0;
        }

        .nav-item.dropdown {
          .nav-link.show {
            background-color: lighten($instance-nav-bg, 10%);
          }
        }
      }
    }

    @media (max-width: 991px) {
      .container-fluid {
        padding: 0;

        .navbar-brand {
          margin-right: 0;
        }

        .navbar-nav {
          li {
            width: 100%;
            padding: 0.5em 0;
          }
        }
      }
    }
  }

  @media (max-width: 991px) {
    overflow: auto;
    height: fit-content;
  }
}
