.validation-feed {
  .fa-check {
    color: $green;
  }

  .fa-times {
    color: $red;
  }

  h4 i {
    margin-left: 0.5rem;
  }
  
  .validation-list {
    margin: 1rem 0 0;
    padding: 0;

    i {
      margin-right: 0.25rem;

      &.fa-question-circle {
        color: $mutedText;
        margin-left: 0.25rem;

        &:hover {
          color: $defaultText;
        }
      }
    }
  }
}
