.validation {
  .fa-check {
    color: $green;
  }

  .fa-info-circle {
    color: $blue;
  }

  .fa-times {
    color: $red;
  }

  &.validation-feed {
    .validation-list {
      margin: 1rem 0 0;
      padding: 0;

      li {
        i {
          margin-right: .15rem;
        }

        .text-error {
          font-size: 90%;
          margin: 0 0 .5rem 1.3rem;
        }

        &:last-of-type .text-error {
          margin-bottom: 0;
        }
      }
    }
  }
}

.validation-feed-container {
  display: flex;
  flex-direction: column;

  .validation-feed-spinner {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
  }
}
