@mixin combobox-option {
  color: var(--bs-dropdown-color);
  cursor: pointer;
  display: block;
  font-size: 0.9rem;
  padding: 0.25rem 1rem;
  pointer-events: auto;

  &.selected,
  &:hover,
  &:focus-visible {
    background-color: $primaryColor;
    color: $white;
  }
}

.combobox {
  @extend .form-control, .form-select;
}

.combobox-menu {
  @extend .dropdown-menu;

  width: 100%;
}
.combobox-optgroup {
  color: $mutedText;
  display: block;
  font-size: 0.8rem;
  pointer-events: none;

  .combobox-option {
    @include combobox-option;
  }

  &:not(:has(.combobox-option:not(.d-none))) {
    display: none;
  }
}

.combobox-option {
  @include combobox-option;
}
