.dataTables_wrapper {
  .dataTable {
    tbody {
      tr {
        .select-checkbox {
          &:after,
          &:before {
            --checkboxSize: 13px;
            height: var(--checkboxSize);
            left: 1.5rem;
            top: 0.7rem;
            width: var(--checkboxSize);

          }
          &:after {
            background-position-y: center;
            background-position-x: -2.4px;
            background-repeat: no-repeat;
            background-size: 130%;
          }

          &:before {
            border-color: $defaultText;
            border-radius: 2px;
            margin: 0;
          }
        }

        &.selected {
          color: $defaultText;

          a {
            color: $linkColor;

            &:hover {
              color: $linkColorHover;
            }
          }

          &:nth-last-of-type(even) {
            background-color: $white;
          }

          &:nth-last-of-type(odd) {
            background-color: rgba(0, 0, 0, 0.05);
          }

          .select-checkbox {
            &:after {
              background-image: image-url('check.svg');
              content: '';
              margin: 0;
            }

            &:before {
              background-color: $checkboxFill;
              border-color: $checkboxFill;
            }
          }
        }
      }
    }
  }
  .dt-button-collection  {
    .dropdown-item {
      background-color: $white;
      color: $linkColor;
      font-size: 0.9rem;
      font-weight: 300;
      padding-left: 2.25rem;
      position: relative;
      transition: color 0s;

      &.active {
        background-color: $white;
        color: $linkColor;

        &::before {
          background-color: $checkboxFill;
          background-image: image-url('check.svg');
          border-color: $checkboxFill;
        }
      }

      &::before {
        --checkboxSize: 13px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 130%;
        border: 1px solid $defaultText;
        border-radius: 2px;
        content: '';
        height: var(--checkboxSize);
        left: 1rem;
        position: absolute;
        top: calc(50% - (var(--checkboxSize)/2));
        width: var(--checkboxSize);
      }

      &:focus,
      &:hover {
        color: $linkColorHover;
        background-color: $dropdownLinkBackgroundHover;
        outline: none;
      }
    }
  }
}
