.dataTables_wrapper {
  overflow: hidden;
  
  .dataTable {
    margin-top: 0 !important;

    .column-actions {
      text-align: right;
      min-width: 8rem;
  
      a {
        visibility: hidden;

        &:first-of-type{
          padding-right: 0.5rem;
        }
      }
    }

    .hide-sort {
      pointer-events: none;
      &:after,
      &:before {
        display: none;
      }
    }

    thead {
      th {
        background-color: $white;
        box-shadow: 3px 5px 10px 0px rgba(82, 63, 105, 0.08);
        position: sticky !important;
        top: 0;
        vertical-align: middle;

        &:last-of-type{
          clip-path: inset(0px 0px -20px -1px);
        }
  
        &:not(.sorting_disabled) {
          padding: 0.75rem 0.75rem 0.75rem 1.75rem;
        }

        &.sorting{
          &::after,
          &::before{
            top: calc(50% - 0.55rem);

            // Firefox //
            @-moz-document url-prefix() {
              top: calc(50% - 0.8rem);
            }
          }

          &::after {
            left: 1rem;
          }

          &::before {
            left: 0.5rem;
          }
        }
      }
    }

    tr {
      &:hover {
        .column-actions a {
          visibility: visible;
        }
      }
    }
  }

  .dataTables_footer_content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .dataTables_info {
      padding: 0 !important;
    }
  
    .dataTables_paginate {
      .pagination {
        border-top: none;
        margin: 0;
        padding: 0;

        .page-item {
          &.active {
            .page-link {
              background: $primaryColor;
              border-color: $primaryColor;
              color: $white;
            }
          }

          &.disabled {
            .page-link{
              color: $mutedText;
            }
          }

          .page-link {
            color: $linkColor;

            &:focus {
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px $darkColor;
            }
          }
        }
      }
    }

    @media screen and (max-width: 1290px) {
      flex-direction: column;
      justify-content: center;

      .dataTables_info {
        margin-top: 0.5rem;
      }

      .dataTables_paginate {
        .pagination {
          margin-top: 1.5rem;
        }
      }
    }
  }

  .table-wrapper {
    max-height: calc(100vh - 60px - 14rem);
    overflow: auto;
  }
  
  tr:last-of-type {
    td {
      border-bottom: 1px solid darken($white, 10%);
    }
  }
}
