div.dataTables_wrapper {
  .dataTable {
    margin-top: 0 !important;

    .column-actions {
      min-width: 8rem;

      a {
        visibility: hidden;

        &:first-of-type {
          padding-right: 0.5rem;
        }
      }
    }

    .no-sort {
      pointer-events: none;

      &.sorting {
        &:after,
        &:before {
          display: none;
        }
      }
    }

    tbody {
      tr {
        &.dt-rowReorder-moving {
          outline-color: $lightColor;
        }

        .select-checkbox {
          padding-left: 0.25rem;

          &:after,
          &:before {
            --checkboxSize: 13px;
            height: var(--checkboxSize);
            left: 1.5rem;
            top: 0.7rem;
            width: var(--checkboxSize);
          }

          &:after {
            background-position-y: center;
            background-position-x: -2.4px;
            background-repeat: no-repeat;
            background-size: 130%;
          }

          &:before {
            border-color: $defaultText;
            border-radius: 2px;
            margin: 0;
          }
        }

        &.selected {
          color: $defaultText;

          a {
            color: $linkColor;

            &:hover {
              color: $linkColorHover;
            }
          }

          &:nth-of-type(even) {
            background-color: $white;
          }

          &:nth-of-type(odd) {
            background-color: rgba(0, 0, 0, 0.05);
          }

          .select-checkbox {
            &:after {
              background-image: image-url('check.svg');
              content: '';
              margin: 0;
            }

            &:before {
              background-color: $checkboxFill;
              border-color: $checkboxFill;
            }
          }
        }
      }
    }

    thead {
      th {
        background-color: $white;
        box-shadow: 8px 5px 10px 0px rgba(82, 63, 105, 0.08);
        position: sticky !important;
        top: 0;
        vertical-align: middle;
        white-space: nowrap;
        z-index: 1;

        &:last-of-type {
          clip-path: inset(0px 0px -20px -1px);
        }

        &.sorting {
          &::after {
            content: '\f0dc';
            display: inline-block;
            font-family: var(--fa-style-family, 'Font Awesome 6 Free');
            margin-left: 0.5rem;
            opacity: 0;
            position: static;
          }

          &:before {
            display: none;
          }

          &.sorting_asc {
            &::after {
              content: '\f0d8';
              opacity: 1;
            }
          }

          &.sorting_desc {
            &::after {
              content: '\f0d7';
              opacity: 1;
            }
          }
        }
      }
    }

    tr {
      &:focus-within,
      &:hover {
        .column-actions a {
          visibility: visible;
        }
      }
    }
  }

  .dataTables_footer_content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .dataTables_info {
      padding: 0 !important;
    }

    .dataTables_paginate {
      .pagination {
        border-top: none;
        margin: 0;
        padding: 0;

        .page-item {
          &.active {
            .page-link {
              background: $primaryColor;
              border-color: $primaryColor;
              color: $white;
            }
          }

          &.disabled {
            .page-link {
              color: $mutedText;
            }
          }

          .page-link {
            color: $linkColor;

            &:focus {
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                0 0 1px $darkColor;
            }
          }
        }
      }
    }

    @media screen and (max-width: 1199px) {
      flex-direction: column;
      justify-content: center;

      .dataTables_info {
        margin-top: 0.5rem;
      }

      .dataTables_paginate {
        .pagination {
          margin-top: 1.5rem;
        }
      }
    }
  }

  div.dataTables_filter {
    text-align: left;
  }

  @include media-breakpoint-up(sm) {
    div.dataTables_filter {
      text-align: right;
    }
  }

  .dt-buttons > .btn {
    flex: unset;
  }

  .dt-button-collection {
    .dropdown-item {
      font-size: 0.9rem;
      font-weight: 300;
      position: relative;
      transition: color 0s;

      &.buttons-columnVisibility {
        padding-left: 2.25rem;

        &.active {
          &::before {
            background-color: $checkboxFill;
            background-image: image-url('check.svg');
            border-color: $checkboxFill;
          }
        }

        &::before {
          --checkboxSize: 13px;
          background-repeat: no-repeat;
          background-position-y: center;
          background-position-x: -2.4px;
          background-size: 130%;
          border: 1px solid $defaultText;
          border-radius: 2px;
          content: '';
          height: var(--checkboxSize);
          left: 1rem;
          position: absolute;
          top: calc(50% - (var(--checkboxSize) / 2));
          width: var(--checkboxSize);
        }
      }

      &:focus,
      &:hover {
        outline: none;
      }
    }
  }

  .table-wrapper {
    max-height: calc(100vh - 60px - 14rem);
    overflow: auto;
  }

  tr:last-of-type {
    td {
      border-bottom: 1px solid darken($white, 10%);
    }
  }
}

div.dt-rowReorder-float-parent {
  border-radius: 0.15rem;
  outline-color: $primaryColor;
}
