.editor-field {
  height: 100%;
  position: relative;
  width: 100%;

  .editor-toolbar {
    background-color: $secondaryBgColor;
    border: 1px solid $borderColor;
    border-radius: 20px;
    box-shadow: 0 20px 30px 0 rgba(33,55,74,0.1);
    display: inline-flex;
    opacity: 0;
    padding: 0.25rem;
    position: absolute;
    right: 0;
    top: -3.3rem;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    visibility: hidden;
    z-index: 999;

    &:after {
      border: 0.5rem solid;
      border-color: $secondaryBgColor transparent transparent;
      content: '';
      height: 0;
      left: 20%;
      position: absolute;
      top: 2.45rem;
      width: 0;
    }

    &:before {
      border: 0.5rem solid;
      border-color: $borderColor transparent transparent;
      content: '';
      height: 0;
      left: 20%;
      position: absolute;
      top: 2.5rem;
      width: 0;
    }

    .editor-btn {
      align-items: center;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 1rem;
      color: $defaultText;
      cursor: pointer;
      display: flex;
      height: 2rem;
      justify-content: center;
      padding: 0.5rem;
      transition: all 0.2s ease-in-out;
      width: 2rem;

      &.disabled {
        pointer-events: none;
      }

      &:hover {
        background-color: $primaryBgColor;
        border-color: $borderColor;
      }

      &.image-btn {
        position: relative;

        input {
          cursor: pointer;
          height: 1.75rem;
          left: 0;
          margin: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          width: 1.75rem;

          &::-webkit-file-upload-button {
            cursor: pointer;
          }
        }
      }
    }
  }

  .editor-toolbar:hover {
    opacity: 1;
    visibility: visible;
  }

  &.sticky-toolbar {
    .editor-toolbar {
      border: none;
      border-bottom: 1px solid $borderColor;
      border-radius: 0px;
      box-shadow: none;
      display: block;
      margin: 0 1px;
      position: sticky;
      text-align: center;
      top: 47px; // breadcrumb height

      &:after,
      &:before {
        display: none;
      }

      .editor-btn {
        display: inline-flex;
      }

      &+ .textarea-container {
        margin-top: -42px !important;
      }
    }
  }

  .textarea-container {
    height: 100%;
  }
}
