.empty-state {
  &-actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    .small {
      font-size: 0.8rem;
    }
  }

  &-body {
    .empty-state-title {
      margin: 3rem 0 3rem;
      text-align: center;
    }
  }

  &-icon {
    background: $lightColor;
    border-radius: 50%;
    margin: 0 auto;
    padding: 1.5rem;
    width: max-content;

    img {
      height: auto;
      width: 10rem;
    }
  }
}
