.btn-toolbar {
  .dropdown-menu {
    max-height: 75vh;
    overflow-y: auto;
    text-align: left;
  }

  input[type='checkbox'] {
    margin: 0;
  }

  .items-table-actions {
    display: none;

    #merge-selected {
      display: none;
    }
  }

  .items-table-delete {
    color: #b94a48 !important;
  }
}

.items-table {
  [aria-label] {
    position: initial;
  }

  &.table-striped tbody tr:nth-of-type(odd) .column-actions-inner {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &.table-bordered {
    border-right: none;

    thead tr th {
      border-bottom: 0;

      &.column-actions .column-actions-inner {
        border-top: none;
      }
    }

    .column-actions {
      border: none;

      &-inner {
        border: 1px solid #dee2e6;
        border-bottom: none;
        margin: 0 0 0 -1px;
      }
    }
  }

  td {
    padding: 8px;

    &.loading {
      background: image-url('loading.gif') no-repeat left center;
      padding-left: 20px;
      vertical-align: middle;
    }
  }

  thead tr th {
    cursor: pointer;
    padding: 0.5rem 1.75rem 0.5rem 0.5rem;
    position: relative;

    &.sortable {
      position: relative;
      cursor: pointer;

      &::after {
        font-family: FontAwesome;
        content: "\f0dc";
        position: absolute;
        margin-left: 5px;
        color: #000;
        opacity: 0;
      }

      &.sorting-asc::after {
        content: "\f0d8";
        opacity: 1;
      }

      &.sorting-desc::after {
        content: "\f0d7";
        opacity: 1;
      }
    }

    &.sorting-asc::after {
      content: "\f0d8";
      opacity: 1;
    }

    &.sorting-desc::after {
      content: "\f0d7";
      opacity: 1;
    }
  }

  .column-actions {
    background-color: white;
    cursor: default;
    height: 0;
    padding: 0;
    position: sticky;
    right: 0;
    width: 2rem;

    &-inner {
      display: flex;
      height: 100%;
      justify-content: center;
      min-width: 2rem;
      padding-top: 0.5rem;

      .dropleft {
        .dropdown-menu {
          box-shadow: none;
        }

        button {
          background: transparent;
          opacity: 0.5;

          &:focus {
            box-shadow: none;
          }
        }

        &.show button {
          opacity: 1;
        }
      }

      .text-danger {
        color: $grapefruit-light !important;

        // &:hover {
        //   background-color: $grapefruit-light !important;
        //   color: $white !important;
        // } // pro: add to modules and remove from here
      }
    }
  }

  .column-checkbox {
    padding: 0.4rem 0 0 0.5rem;
    text-align: center;
    width: 2.25rem;

    input {
      margin: 0;
    }
  }

  tr {
    &:hover {
      .column-actions-inner {
        button {
          opacity: 1;
        }
      }
    }
  }
}

.table-wrapper {
  overflow: auto;
}
