.btn-toolbar {
  input[type='checkbox'] {
    margin: 0;
  }

  .items-table-actions {
    display: none;

    .dropdown-menu {
      text-align: left;
    }

    #merge-selected {
      display: none; // even when issue-actions becomes visible, keep this one hidden
    }
  }

  .items-table-delete {
    color: #b94a48;
  }
}

#issues-table {
  display: grid;
}

.table-wrapper {
  overflow: scroll;

  .items-table {
    
    td.loading {
      background: image-url('loading.gif') no-repeat left center;
      padding-left: 20px;
    }

    th {
      padding: 8px 20px 8px 8px;
      cursor: pointer;
      position: relative;
    
      &.sortable {
        position: relative;
        cursor: pointer;
    
        &::after {
          font-family: FontAwesome;
          content: "\f0dc";
          position: absolute;
          margin-left: 5px;
          color: #000;
          opacity: 0;
        }
    
        &.sorting-asc::after {
          content: "\f0d8";
          opacity: 1;
        }
    
        &.sorting-desc::after {
          content: "\f0d7";
          opacity: 1;
        }
      }
    }

    .column-actions {
      text-align: right;
      min-width: 130px;

      a {
        padding-right: 8px;
        visibility: hidden;
      }
    }

    .column-checkbox {
      padding: 0;
      text-align: center;
      vertical-align: middle;
      width: 36px;

      input {
        margin: 0;
      }
    }

    tr:hover {
      .column-actions a { visibility: visible; }
    }
  }
}
