.pagination {
  padding-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-top: 1px solid $border-color;

  > * {
    padding-right: 5px;
  }
}

.page {
  &.page-mini {
    padding: 10px;
  }
  &.page-none {
    margin: 0 0;
    padding: 0px;
  }
}
