:root {
  /* Colors */

  --primary-50: #f8fcff;
  --primary-100: #f0f7fb;
  --primary-200: #d4e8f4;
  --primary-300: #a9d1ea;
  --primary-400: #7ebae0;
  --primary-500: #53a3d6;
  --primary-600: #298dcc;
  --primary-700: #2070a3;
  --primary-800: #18547a;
  --primary-900: #103851;
  --primary-1000: #081c28;
  --primary-1100: #041018;

  --gray-50: #f8fcff;
  --gray-100: #f5f6f7;
  --gray-200: #e2e5e8;
  --gray-300: #c5ccd1;
  --gray-400: #a8b2ba;
  --gray-500: #8b99a3;
  --gray-600: #6e808c;
  --gray-700: #586670;
  --gray-800: #424c54;
  --gray-900: #2b3337;
  --gray-1000: #15191b;
  --gray-1100: #0c0f10;

  --alert: #ff0059;

  /* Spaces: for padding, margins, border-radius */

  --space-0: 0;
  --space-1: 2px;
  --space-2: 4px;
  --space-3: 8px;
  --space-4: 12px;
  --space-5: 16px;
  --space-6: 20px;
  --space-7: 24px;
  --space-8: 28px;

  /* Font-sizes */

  --font-size-1: 1.5rem; /* 24px */
  --font-size-2: 1.25rem; /* 20px */
  --font-size-3: 1rem; /* 16px */
  --font-size-4: 0.875rem; /* 14px */
  --font-size-5: 0.75rem; /* 12px */
  --font-size-6: 0.65rem; /* 10px */
}

/* Style the scrollbar track (background) */
::-webkit-scrollbar {
  width: 8px;
}

/* Style the scrollbar thumb (the moving part) */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-600);
  border-radius: 100px;
}

/* On hover over the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

/* Style the scrollbar button (up & down buttons – not commonly seen) */
::-webkit-scrollbar-button {
  display: none; /* This will hide the buttons */
}

/* Style the scrollbar track pieces (the areas not covered by the thumb) */
::-webkit-scrollbar-track-piece {
  background-color: var(--primary-200);
}
