/* Basic configuration */

html {
  font-size: var(--font-size-2);
}

body {
  font-family: "Lato", Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
h1 {
  font-size: var(--font-size-1);
}

h2 {
  font-size: var(--font-size-2);
}

h3 {
  font-size: var(--font-size-3);
}
h4 {
  font-size: var(--font-size-4);
}

p {
  font-size: var(--font-size-4);
  margin: 0;
}

.sm-text {
  font-size: var(--font-size-5);
}

.sm2-text {
  font-size: var(--font-size-6);
}

button {
  background: var(--primary-500);
  border-radius: var(--space-3);
  padding: var(--space-4) var(--space-6);
  border: none;
  font-size: var(--font-size-5);
  cursor: pointer;
}
button:hover {
  background: var(--primary-600);
}

button.primary {
  color: white;
}

button.primary:hover {
  background: var(--primary-600);
}

.badge {
  background-color: var(--primary-200);
  padding: var(--space-2) var(--space-3);
  font-size: var(--font-size-6);
  border-radius: var(--space-3);
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.badge.inverted {
  background-color: var(--primary-50);
  color: var(--primary-900);
}

select {
  border: 1px solid var(--primary-400);
  padding: var(--space-3) var(--space-3);
  border-radius: var(--space-2);
}

select:focus {
  border-color: var(--primary-400); /* Darker shade of blue for the border */
  outline: none; /* Remove default browser outline */
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.3); /* Add a subtle box shadow */
}

.link-button {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  color: var(--gray-700);
}

.ov-auto {
  overflow: auto;
}

/* Containers */

.container {
  display: flex;
  gap: 20px;
  height: 100%;
}

.box {
  border: 1px solid var(--primary-600);
  height: 100%;
  border-radius: var(--space-4);
  padding: var(--space-6);
  box-sizing: border-box;
}

/* Upload View Component */

#upload-view {
  width: 400px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--space-4);
}

#upload-view .header,
#upload-view .footer {
  flex-shrink: 0;
  /* padding: var(--space-6); */
}

#upload-view .sm-title {
  display: flex;
  align-items: center;
  gap: var(--space-3);
  color: var(--gray-700);
}

#upload-view #drag-drop-zone {
  border: 1px dashed var(--primary-600);
  padding: var(--space-8) var(--space-6);
  border-radius: var(--space-4);
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: var(--primary-50);
  gap: 10px;
  align-items: center;
}
#upload-view #drag-drop-zone:hover {
  background-color: var(--primary-200);
}
#upload-view > .title {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

#upload-view .highlight {
  color: var(--primary-600);
}

/* Upload View > Upload List */

#upload-list {
  flex-grow: 1;
  overflow-y: overlay;
  padding: var(--space-4);
  margin-right: var(--space-3);
}

/* Upload View > Upload Cards */

#upload-list .upload-cards {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

#upload-list .upload-card {
  border: 1px solid var(--primary-400);
  padding: var(--space-4);
  border-radius: var(--space-3);
  box-shadow: 0 4px 2px var(--primary-200);
}

#upload-list .upload-card .card-top {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

#upload-list .upload-card .loading-spinner {
  width: 50px;
}

#upload-list .upload-card .card-bottom {
  display: flex;
  justify-content: space-between;
  gap: var(--space-3);
}

#upload-list .upload-card.proc-ok #process-failed {
  display: none;
}

#upload-list .upload-card.proc-error #tool {
  display: none;
}

#tool {
  flex: 1;
  display: flex;
  gap: var(--space-3);
  align-items: center;
}

#tool-selection {
  width: 100%;
}

#process-failed {
  color: var(--alert);
  flex: 1;
  display: flex;
  gap: var(--space-3);
  align-items: center;
  justify-content: space-between;
}

.delete-card img {
  width: 24px;
  opacity: 0.5;
}

/* Upload View > Footer */

#upload-view .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--primary-200);
  box-shadow: 0 -2px 10px var(--primary-200);
  padding: var(--space-5);
  border-radius: 0 0 var(--space-5) var(--space-5);
}

#upload-view footer .link-button {
  font-size: var(--font-size-5);
}

#available-plugins {
  flex: 1;
  background-color: var(--primary-100);
}

/* Upload Popup */

#upload-popup {
  position: absolute;
  right: 10%;
  width: 360px;
  bottom: -1000px;
  background: #ffffff;
  transition: 0.5s;
  cursor: pointer;
}

#upload-popup .up-main {
  border-radius: var(--space-3) var(--space-3) 0 0;
  background: var(--primary-600);
  padding: var(--space-3) var(--space-4);
  color: white;
  display: flex;
}
#upload-popup .up-status {
  background: var(--primary-200);
  padding: var(--space-3) var(--space-4);
  color: white;
  display: flex;
  justify-content: end;
}

#upload-popup .up-status .after {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#upload-popup .up-status .end-message {
  color: var(--primary-1000);
}

#upload-popup .up-files {
  padding: var(--space-3);
}

#upload-popup .up-files .card-top {
  border-bottom: 1px solid var(--primary-200);
}

#upload-popup .card-top {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

#upload-popup .loading-spinner2 {
  width: 50px;
}

/* USABILITY TEST STAGES */

.stage-1 .sm-title,
.stage-1 #upload-list {
  visibility: hidden;
}
.stage-1 #upload-view .footer > a,
.stage-1 #upload-view .footer > button,
.stage-2 #upload-view .footer > a,
.stage-2 #upload-view .footer > button {
  opacity: 0.4;
  pointer-events: none;
}

.stage-2 .delete-card,
.stage-2 .card-bottom {
  display: none !important;
}

.stage-3 .loading-spinner {
  display: none;
}

.stage-4 #upload-popup {
  bottom: 0px !important;
}

.stage-4 .up-card {
  display: none !important;
}

body.up1 .up1 {
  display: none !important;
}

body.up2 .up2 {
  display: none !important;
}
