<% content_for :title, 'Trash' %>

<div id="trash">
  <% if @revisions.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Removed by</th>
          <th>When</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @revisions.each do |revision| %>
          <% present revision, TrashedRevisionPresenter do |revision_presenter| %>
            <tr>
              <td><%= revision_presenter.info %></td>
              <td><%= revision.whodunnit %></td>
              <td><%= revision_presenter.created_at_ago %></td>
              <td>
                <%= link_to recover_revision_path(revision), method: :post, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-refresh"></i> Recover
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    The trash is empty.
  <% end %>
</div>
