<% content_for :title, 'Trash' %>

<div id="trash">
  <% if @revisions.any? %>
    <% cache @revisions do %>
      <div class="btn-toolbar">
        <div class="filter pull-right">
          <input type="text" class="form-control input-xlarge js-table-filter" placeholder="Type here to filter table..."/>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Item</th>
            <th>Removed by</th>
            <th>When</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @revisions.each do |recoverable_revision| %>
            <% cache recoverable_revision do %>
              <% present recoverable_revision do |recoverable_revision_presenter| %>
                <tr>
                  <td><%= recoverable_revision_presenter.info %></td>
                  <td><%= recoverable_revision_presenter.whodunnit %></td>
                  <td><%= recoverable_revision_presenter.created_at_ago %></td>
                  <td>
                    <%= link_to(
                      recover_project_revision_path(
                        current_project,
                        recoverable_revision.version,
                      ),
                      method: :post,
                      data: { confirm: 'Are you sure?' }
                    ) do %>
                      <i class="fa fa-refresh"></i> Recover
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% else %>
    The trash is empty.
  <% end %>
</div>
