<div class="modal fade slideout" id="vault" data-backdrop="static">
	<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Template Vault</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="fa fa-times"></i><span class="sr-only">Close modal</span>
        </button>
      </div><div class="container"></div>
      <div class="modal-body">
        The goods go here
      </div>
    </div>
  </div>
</div>
