<div class="textile-preview markup-help">

  <h3>Text styles</h3>
  <div class="row-fluid">
    <div class="span6">
  <pre>This is normal text

*This text will be bold*
_This will be italic_

_You *can* combine them_
</pre>
  </div>
    <div class="span6">
      <p>This is normal text</p>
      <p>
        <strong>This text will be bold</strong><br/>
        <em>This will be italic</em>
      </p>
      <p><em>You <strong>can</strong> combine them</em></p>
    </div>
  </div>


  <h3>Block Code (bc.)</h3>
  <div class="row-fluid">
    <div class="span6">
      <pre>We start with normal text.

bc. This would extend
until the first blank line.

Back to normal</pre>
    </div>
    <div class="span6">
      <p>We start with normal text.</p>
      <pre>This would extend
until the first blank line.</pre>
      <p>Back to normal</p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <pre>Before the code block, we have normal text.

bc.. This will extend
across blank lines until

the next paragraph block

p. Which you start with the 'p.' signature.</pre>
    </div>
    <div class="span6">
      <p>Before the code block, we have normal text.</p>
      <pre>This will extend
across blank lines until

the next paragraph block
</pre>
      <p>Which you start with the 'p.' signature.</p>
    </div>
  </div>

  <h3>Lists</h3>
  <div class="row-fluid">
    <div class="span6">
      <p>Unordered</p>
      <pre>* an item
* and another
** nested
      </pre>
    </div>
    <div class="span6">
      <ul>
        <li>an item</li>
        <li>and another
        <ul>
          <li>nested</li>
        </ul></li>
      </ul>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <p>Ordered</p>
      <pre># one
# two
## nested
      </pre>
    </div>
    <div class="span6">
      <ol>
        <li>one</li>
        <li>two
        <ol>
          <li>nested</li>
        </ol></li>
      </ol>
    </div>
  </div>

  <h3>Miscellaneous</h3>
  <div class="row-fluid">
    <div class="span6">
      <p>Images</p>
      <pre>!/images/logo_small.png!
Format: !url!
      </pre>
    </div>
    <div class="span6">
      <%= image_tag 'logo_small.png' %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <p>Links</p>
      <pre>"Our website":http://drad.is</pre>
    </div>
    <div class="span6">
      <p><a href="http://drad.is">Our website</a></p>
    </div>
  </div>


  <h3>Further help</h3>
  <p>You can use <a href="http://redcloth.org/textile/" target="_blank">Textile</a> markup.</p>

</div>
