<% field_name = local_assigns[:field] ? field[0]  : '' %>
<% value = local_assigns[:field] ? field[1] : '' %>

<div class="row textile-form-field">
  <div class="col-3">
    <p>Field</p>
    <%= text_field_tag "item_form[field_name_#{index}]", field_name, class: 'form-control' %>
  </div>
  <div class="col-8">
    <p>Value</p>
    <% options = value.split(' | ') %>
    <% if options.count > 1 %>
      <%= select :item_form, "field_value_#{index}", options, class: 'form-control' %>
    <% else %>
      <%= text_area_tag "item_form[field_value_#{index}]", value, rows: 1, class: 'form-control' %>
    <% end %>
  </div>
  <div class='pull-right'>
    <%= link_to 'javascript:void(0)', class: 'text-error',  data: { behavior: 'delete-field' } do %>
      <i class="fa fa-trash">Delete</i>
    <% end %>
  </div>
</div>
