
<div class="textile-form-body" data-behavior="textile-form-body">
<% if @form_data.any? %>
  <% @form_data.each_with_index do |field, index| %>
    <%= render partial: 'textile/field', locals: { allow_dropdown: @allow_dropdown, field: field, index: index } %>
  <% end %>
<% else %>
  <%= render partial: 'textile/field', locals: { allow_dropdown: @allow_dropdown, index: 0 } %>
<% end %>
</div>

<div class="add-field">
  <%= link_to field_textile_path(index: @form_data.length + 1), data: { behavior: 'add-field' }, remote: true do %>
    <i class="fa fa-plus"></i> Add field
  <% end %>
</div>
