<div class="d-flex align-items-center justify-content-around flex-wrap w-100">
  <%= link_to '#modal-board-new', class: 'btn btn-primary btn-lg mb-2 px-5', data: { toggle: 'modal' } do %>
    <i class="fa fa-plus"> </i> Add Methodology
  <% end %>
</div>
