<% content_for :title, 'Hera Style Guide' %>

<div class="row p-0">
  <div class="col-12">
    <div class="content-container">
      <h1 class="text-center mb-4">Hera Style Guide [ WIP ]</h1>
      <p>Welcome to the Hera style guide, here you will see all the major custom style components that we use in the Hera layout.</p>
      <p>If you find something you would like to implement in the view you are working on, you can simply press the <i class="fa-solid fa-code" style="font-weight: bold;"></i> button to reveal the code structure including all the element tags, classes, data-attributes etc.</p>
      <p>Hera uses Bootstrap 4, please refer to <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/" target="_blank">the official documentation</a> for standard bootstrap classes and element structure.</p>
    </div>

    <div class="content-container">
      <h4 class="header-underline">Table of Contents</h4>
      <nav class="d-flex flex-column" data-behavior="smooth-scroll-nav">
        <a href="#container" class="nav-link">Content Container</a>
        <a href="#tabs" class="nav-link">Content Container with Tabs</a>
        <a href="#dots" class="nav-link">Dots Menu</a>
        <a href="#modals" class="nav-link">Modals</a>
        <a href="#toolbar" class="nav-link">Rich Toolbar</a>
        <a href="#tables" class="nav-link">Tables</a>
        <a href="#input" class="nav-link">Text Input with Inset Button</a>
        <a href="#tooltips" class="nav-link">Tooltips Using Aria-Tooltips</a>
        <a href="#typography" class="nav-link">Typography</a>
      </nav>
    </div>

    <div class="content-container">
      <div class="scroll-offset" id="container"></div>
      <div class="style-header">
        <h4 class="header-underline">Content Container</h4>
        <a class="reveal-code" data-bs-toggle="collapse" href="#container-code"><i class="fa-solid fa-code"></i><label class="visually-hidden">Toggle code</label></a>
      </div>
      <div class="style-example">
        <p class="m-0">Each individual section of Hera should be wrapped in a content container with an optional header element. The content container gives the elements a white background, grey border with subtle border radius as well as uniform padding and margin. The height is set to auto without a max-height. In order to limit the max-height, please refer to the <a href="#scroll">Scroll For More</a> section.</p>
      </div>

      <div class="style-code-wrapper collapse" id="container-code">
        <pre class="style-code">
<code><span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"content-container"</span><span class="et">></span>
  <span class="et">&lt;h4</span><span class="an"> class=</span><span class="av">"header-underline"</span><span class="et">></span><span class="et">></span><span class="et">></span>Header Text Here<span class="et">&lt;/h4</span><span class="et">></span>
  <span class="et">&lt;p</span><span class="et">></span>Content Here<span class="et">&lt;/p</span><span class="et">></span>
<span class="et">&lt;/div</span><span class="et">></span></code>
        </pre>
      </div>
    </div>

    <ul class="tabs-container nav nav-tabs" data-behavior="deeplinks">
      <li class="nav-item">
        <a data-bs-toggle="tab" class="nav-link" href="#tab1">Tab 1</a>
      </li>
      <li class="nav-item">
        <a data-bs-toggle="tab" class="nav-link active" href="#tab2">Tab 2</a>
      </li>
      <li class="nav-item">
        <a data-bs-toggle="tab" class="nav-link" href="#tab3">Tab 3</a>
      </li>
    </ul>
    <div class="content-container">
      <div class="scroll-offset" id="tabs" style="top: -4rem;"></div>

      <div class="style-header">
        <h4 class="header-underline">Content Container with Tabs</h4>
        <a class="reveal-code" data-bs-toggle="collapse" href="#tabs-code"><i class="fa-solid fa-code"></i><label class="visually-hidden">Toggle code</label></a>
      </div>

      <div class="style-example">
        <div class="tab-content">
          <div id="tab1" class="tab-pane fade">
            <p>Tab 1 Content</p>
          </div>
          <div id="tab2" class="tab-pane fade active show">
            <p>Tab 2 Content</p>
          </div>
          <div id="tab3" class="tab-pane fade">
            <p>Tab 3 Content</p>
          </div>
        </div>
      </div>

      <div class="style-code-wrapper collapse" id="tabs-code">
        <pre class="style-code">
<code><span class="et">&lt;ul</span><span class="an"> class=</span><span class="av">"tabs-container nav nav-tabs"</span><span class="et">></span>
  <span class="et">&lt;li</span><span class="an"> class=</span><span class="av">"nav-item"</span><span class="et">></span>
    <span class="et">&lt;a</span><span class="an"> data-bs-toggle=</span><span class="av">"tab"</span><span class="an"> href=</span><span class="av">"#tab1"</span><span class="an"> class=</span><span class="av">"nav-link"</span></span>Tab 1<span class="et">&lt;/a></span>
  <span class="et">&lt;/li></span>
  <span class="et">&lt;li</span><span class="an"> class=</span><span class="av">"nav-item"</span><span class="et">></span>
    <span class="et">&lt;a</span><span class="an"> data-bs-toggle=</span><span class="av">"tab"</span><span class="an"> href=</span><span class="av">"#tab2"</span><span class="an"> class=</span><span class="av">"nav-link active"</span></span>Tab 2<span class="et">&lt;/a></span>
  <span class="et">&lt;/li></span>
  <span class="et">&lt;li</span><span class="an"> class=</span><span class="av">"nav-item"</span><span class="et">></span>
    <span class="et">&lt;a</span><span class="an"> data-bs-toggle=</span><span class="av">"tab"</span><span class="an"> href=</span><span class="av">"#tab3"</span><span class="an"> class=</span><span class="av">"nav-link"</span></span>Tab 3<span class="et">&lt;/a></span>
  <span class="et">&lt;/li></span>
<span class="et">&lt;/ul></span>

<span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"content-container"</span><span class="et">></span>
  <span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"tab-content"</span><span class="et">></span>
    <span class="et">&lt;div</span><span class="an"> id=</span><span class="av">"tab1"</span><span class="an"> class=</span><span class="av">"tab-pane fade"</span><span class="et">></span>
      <span class="et">&lt;p</span><span class="et">></span>Tab 1 Content<span class="et">&lt;/p></span>
    <span class="et">&lt;/div</span><span class="et">></span>
    <span class="et">&lt;div</span><span class="an"> id=</span><span class="av">"tab2"</span><span class="an"> class=</span><span class="av">"tab-pane fade active show"</span><span class="et">></span>
      <span class="et">&lt;p</span><span class="et">></span>Tab 2 Content<span class="et">&lt;/p></span>
    <span class="et">&lt;/div</span><span class="et">></span>
    <span class="et">&lt;div</span><span class="an"> id=</span><span class="av">"tab3"</span><span class="an"> class=</span><span class="av">"tab-pane fade"</span><span class="et">></span>
      <span class="et">&lt;p</span><span class="et">></span>Tab 3 Content<span class="et">&lt;/p></span>
    <span class="et">&lt;/div</span><span class="et">></span>
  <span class="et">&lt;/div</span><span class="et">></span>
<span class="et">&lt;/div</span><span class="et">></span></code>
        </pre>
      </div>
    </div>

    <div class="content-container">
      <div class="scroll-offset" id="combobox"></div>
      <div class="style-header">
        <h4 class="header-underline">Combobox</h4>
        <a class="reveal-code" data-bs-toggle="collapse" href="#combobox-code"><i class="fa-solid fa-code"></i><label class="visually-hidden">Toggle code</label></a>
      </div>
      <div class="style-example">
        <div class="mb-3">
          <label class="form-label">Basic Example</label>
          <select class="form-select" data-combobox-config="no-filter">
            <option value="a">Awesome Option</option>
            <option value="b">Another Option</option>
            <option value="c">🚀 Emojis also work!</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Filter Example</label>
          <select class="form-select">
            <option value="a">Awesome Option</option>
            <option value="b" selected>Pre-selected Option</option>
            <option value="c">Another Option</option>
            <option value="d">🚀 Emojis also work!</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">User-defined Options Example</label>
          <select class="form-select" data-combobox-config="add-options">
            <option>Prompt Option</option>
            <option value="1">Filterable option</option>
            <option value="2">Search for me</option>
            <option value="3">🚀 Emojis also work!</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Grouped Options Example</label>
          <select class="form-select" data-combobox-config="add-options">
            <option>Prompt Option</option>
            <optgroup label="Group 123">
              <option value="1">Grouped option</option>
              <option value="2">Another one</option>
              <option value="3" disabled>Disabled option</option>
            </optgroup>
            <optgroup label="Group ABC">
              <option value="4">In another group</option>
            </optgroup>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Multi-select & User-defined Option Example</label>
          <select class="form-select" data-combobox-config="add-options" multiple>
            <option value="1">Filterable option</option>
            <option value="2">Search for me</option>
            <option value="3" disabled>Disabled option</option>
            <option value="4">🚀 Emojis also work!</option>
          </select>
        </div>
        <div>
          <label class="form-label">Option-colors and Option-icons Example</label>
          <select class="form-select">
            <option value="a">Plain option (no color and no icon)</option>
            <option value="b" data-combobox-option-color="#de0a26">Colored option without icon</option>
            <option value="c" data-combobox-option-icon="fa-solid fa-rocket">Option with icon (no color added)</option>
            <option value="d" data-combobox-option-icon="fa-regular fa-hand-peace" data-combobox-option-color="#964adb">Colored option with icon</option>
            <option value="e" data-combobox-option-icon="fa-solid fa-user-astronaut" data-combobox-option-color="#27A599" data-combobox-option-icon-color="#fa824c">Colored option with different color icon</option>
          </select>
        </div>
      </div>

      <div class="style-code-wrapper collapse" id="combobox-code">
        <pre class="style-code">
<code><span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"mb-3"</span><span class="et">></span>
  <span class="et">&lt;label</span><span class="an"> class=</span><span class="av">"form-label"</span><span class="et">></span>Basic Example<span class="et">&lt;/label></span>
  <span class="et">&lt;select</span><span class="an"> class=</span><span class="av">"form-select"</span><span class="an"> data-combobox-config=</span><span class="av">"no-filter"</span><span class="et">></span>
    <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"a"</span><span class="et">></span>Awesome Option<span class="et">&lt;/option></span>
    <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"b"</span><span class="et">></span>Another Option<span class="et">&lt;/option></span>
    <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"c"</span><span class="et">></span>🚀 Emojis also work!<span class="et">&lt;/option></span>
  <span class="et">&lt;/select></span>
<span class="et">&lt;/div></span>

<span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"mb-3"</span><span class="et">></span>
  <span class="et">&lt;label</span><span class="an"> class=</span><span class="av">"form-label"</span><span class="et">></span>Filter Example<span class="et">&lt;/label></span>
  <span class="et">&lt;select</span><span class="an"> class=</span><span class="av">"form-select"</span><span class="et">></span>
    <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"a"</span><span class="et">></span>Awesome Option<span class="et">&lt;/option></span>
    <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"b"</span><span class="an"> selected</span><span class="et">></span>Pre-selected Option<span class="et">&lt;/option></span>
    <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"c"</span><span class="et">></span>Another Option<span class="et">&lt;/option></span>
    <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"d"</span><span class="et">></span>🚀 Emojis also work!<span class="et">&lt;/option></span>
  <span class="et">&lt;/select></span>
<span class="et">&lt;/div></span>

<span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"mb-3"</span><span class="et">></span>
  <span class="et">&lt;label</span><span class="an"> class=</span><span class="av">"form-label"</span><span class="et">></span>User-defined Options Example<span class="et">&lt;/label></span>
  <span class="et">&lt;select</span><span class="an"> class=</span><span class="av">"form-select"</span><span class="an"> data-combobox-config=</span><span class="av">"add-options"</span><span class="et">></span>
    <span class="et">&lt;option</span><span class="et">></span>Prompt Option<span class="et">&lt;/option></span>
    <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"1"</span><span class="et">></span>Filterable option<span class="et">&lt;/option></span>
    <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"2"</span><span class="et">></span>Search for me<span class="et">&lt;/option></span>
    <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"3"</span><span class="et">></span>🚀 Emojis also work!<span class="et">&lt;/option></span>
  <span class="et">&lt;/select></span>
<span class="et">&lt;/div></span>

<span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"mb-3"</span><span class="et">></span>
  <span class="et">&lt;label</span><span class="an"> class=</span><span class="av">"form-label"</span><span class="et">></span>Grouped Options Example<span class="et">&lt;/label></span>
  <span class="et">&lt;select</span><span class="an"> class=</span><span class="av">"form-select"</span><span class="an"> data-combobox-config=</span><span class="av">"add-options"</span><span class="et">></span>
    <span class="et">&lt;option</span><span class="et">></span>Prompt Option<span class="et">&lt;/option></span>
    <span class="et">&lt;optgroup</span><span class="an"> label=</span><span class="av">"Group 123"</span><span class="et">></span>
      <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"1"</span><span class="et">></span>Grouped option<span class="et">&lt;/option></span>
      <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"2"</span><span class="et">></span>Another one<span class="et">&lt;/option></span>
      <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"3"</span><span class="an"> disabled</span><span class="et">></span>Disabled option<span class="et">&lt;/option></span>
    <span class="et">&lt;/optgroup></span>
    <span class="et">&lt;optgroup</span><span class="an"> label=</span><span class="av">"Group ABC"</span><span class="et">></span>
      <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"4"</span><span class="et">></span>In another group<span class="et">&lt;/option></span>
    <span class="et">&lt;/optgroup></span>
  <span class="et">&lt;/select></span>
<span class="et">&lt;/div></span>

<span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"mb-3"</span><span class="et">></span>
  <span class="et">&lt;label</span><span class="an"> class=</span><span class="av">"form-label"</span><span class="et">></span>Multi-select &amp; User-defined Option Example<span class="et">&lt;/label></span>
  <span class="et">&lt;select</span><span class="an"> class=</span><span class="av">"form-select"</span><span class="an"> data-combobox-config=</span><span class="av">"add-options"</span><span class="an"> multiple</span><span class="et">></span>
    <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"1"</span><span class="et">></span>Filterable option<span class="et">&lt;/option></span>
    <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"2"</span><span class="et">></span>Search for me<span class="et">&lt;/option></span>
    <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"3"</span><span class="an"> disabled</span><span class="et">></span>Disabled option<span class="et">&lt;/option></span>
    <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"4"</span><span class="et">></span>🚀 Emojis also work!<span class="et">&lt;/option></span>
  <span class="et">&lt;/select></span>
<span class="et">&lt;/div></span>

<span class="et">&lt;div</span><span class="et">></span>
  <span class="et">&lt;label</span><span class="an"> class=</span><span class="av">"form-label"</span><span class="et">></span>Option-colors and Option-icons Example<span class="et">&lt;/label></span>
  <span class="et">&lt;select</span><span class="an"> class=</span><span class="av">"form-select"</span><span class="et">></span>
    <span class="et">&lt;option</span><span class="an"> value=</span><span class="av">"a"</span><span class="et">></span>Plain option (no color and no icon)<span class="et">&lt;/option></span>
    <span class="et">&lt;option</span><span class="an">
      value=</span><span class="av">"b"</span><span class="an">
      data-combobox-option-color=</span><span class="av">"#de0a26"</span><span class="et">
    ></span>
      Colored option without icon
    <span class="et">&lt;/option></span>
    <span class="et">&lt;option</span><span class="an">
      value=</span><span class="av">"c"</span><span class="an">
      data-combobox-option-icon=</span><span class="av">"fa-solid fa-rocket"</span><span class="et">
    ></span>
      Option with icon (no color added)
    <span class="et">&lt;/option></span>
    <span class="et">&lt;option</span><span class="an">
      value=</span><span class="av">"d"</span><span class="an">
      data-combobox-option-icon=</span><span class="av">"fa-regular fa-hand-peace"</span><span class="an">
      data-combobox-option-color=</span><span class="av">"#964adb"</span><span class="et">
    ></span>
      Colored option with icon
    <span class="et">&lt;/option></span>
    <span class="et">&lt;option</span><span class="an">
      value=</span><span class="av">"e"</span><span class="an">
      data-combobox-option-icon=</span><span class="av">"fa-solid fa-user-astronaut"</span><span class="an">
      data-combobox-option-color=</span><span class="av">"#27A599"</span><span class="an">
      data-combobox-option-icon-color=</span><span class="av">"#fa824c"</span><span class="et">
    ></span>
      Colored option with different color icon
    <span class="et">&lt;/option></span>
  <span class="et">&lt;/select></span>
<span class="et">&lt;/div></span></code>
        </pre>
      </div>
    </div>

    <div class="content-container">
      <div class="scroll-offset" id="dots"></div>
      <div class="style-header">
        <h4 class="header-underline">Dots Menu</h4>
        <a class="reveal-code" data-bs-toggle="collapse" href="#dots-code"><i class="fa-solid fa-code"></i><label class="visually-hidden">Toggle code</label></a>
      </div>
      <div class="style-example">
        <div class="dropdown dots-dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-bs-toggle="dropdown"><i class="fa-solid fa-ellipsis-h fa-lg"></i><span class="visually-hidden">Toggle menu</span></a>
          <div class="dropdown-menu">
            <a href="javascript:void(0)" class="dropdown-item"><i class="fa-solid fa-superpowers fa-fw"></i> Some action</a>
            <a href="javascript:void(0)" class="dropdown-item"><i class="fa-solid fa-cube fa-fw"></i> Another action</a>
            <span class="dropdown-item dots-dropdown-header">Group Header</span>
            <a href="javascript:void(0)" class="dropdown-item"><i class="fa-regular fa-hand-peace fa-fw"></i> Some grouped action</a>
            <a href="javascript:void(0)" class="dropdown-item"><i class="fa-regular fa-hand-spock fa-fw"></i> Another grouped action</a>
            <span class="dropdown-item dots-dropdown-header">Another Group</span>
            <a href="javascript:void(0)" class="dropdown-item"><i class="fa-solid fa-pie-chart fa-fw"></i> Group 2 action 1</a>
            <a href="javascript:void(0)" class="dropdown-item"><i class="fa-solid fa-line-chart fa-fw"></i> Group 2 action 2</a>
            <a href="javascript:void(0)" class="dropdown-item"><i class="fa-solid fa-bar-chart fa-fw"></i> Group 2 action 3</a>
            <a href="javascript:void(0)" class="dropdown-item"><i class="fa-solid fa-area-chart fa-fw"></i> Group 2 action 4</a>
          </div>
        </div>
      </div>

      <div class="style-code-wrapper collapse" id="dots-code">
        <pre class="style-code">
<code><span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"dropdown dots-dropdown"</span><span class="et">></span>
  <span class="et">&lt;a</span><span class="an"> href=</span><span class="av">"javascript:void(0)"</span><span class="an"> class=</span><span class="av">"dropdown-toggle"</span><span class="an"> data-bs-toggle=</span><span class="av">"dropdown"</span><span class="et">></span><span class="et">&lt;i</span><span class="an"> class=</span><span class="av">"fa-solid fa-ellipsis-h fa-lg"</span><span class="et">></span><span class="et">&lt;/i></span><span class="et">&lt;/a></span>
  <span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"dropdown-menu"</span><span class="et">></span>
    <span class="et">&lt;a</span><span class="an"> href=</span><span class="av">"javascript:void(0)"</span><span class="an"> class=</span><span class="av">"dropdown-item"</span><span class="et">></span><span class="et">&lt;i</span><span class="an"> class=</span><span class="av">"fa-solid fa-superpowers fa-fw"</span><span class="et">></span><span class="et">&lt;/i></span> Some action<span class="et">&lt;/a></span>
    <span class="et">&lt;a</span><span class="an"> href=</span><span class="av">"javascript:void(0)"</span><span class="an"> class=</span><span class="av">"dropdown-item"</span><span class="et">></span><span class="et">&lt;i</span><span class="an"> class=</span><span class="av">"fa-solid fa-cube fa-fw"</span><span class="et">></span><span class="et">&lt;/i></span> Another action<span class="et">&lt;/a></span>
    <span class="et">&lt;span</span><span class="an"> class=</span><span class="av">"dropdown-item dots-dropdown-header"</span><span class="et">></span>Group header<span class="et">&lt;/span></span>
    <span class="et">&lt;a</span><span class="an"> href=</span><span class="av">"javascript:void(0)"</span><span class="an"> class=</span><span class="av">"dropdown-item"</span><span class="et">></span><span class="et">&lt;i</span><span class="an"> class=</span><span class="av">"fa-regular fa-hand-peace fa-fw"</span><span class="et">></span><span class="et">&lt;/i></span> Some grouped action<span class="et">&lt;/a></span>
    <span class="et">&lt;a</span><span class="an"> href=</span><span class="av">"javascript:void(0)"</span><span class="an"> class=</span><span class="av">"dropdown-item"</span><span class="et">></span><span class="et">&lt;i</span><span class="an"> class=</span><span class="av">"fa-regular fa-hand-spock fa-fw"</span><span class="et">></span><span class="et">&lt;/i></span> Another grouped action<span class="et">&lt;/a></span>
    <span class="et">&lt;span</span><span class="an"> class=</span><span class="av">"dropdown-item dots-dropdown-header"</span><span class="et">></span>Another header<span class="et">&lt;/span></span>
    <span class="et">&lt;a</span><span class="an"> href=</span><span class="av">"javascript:void(0)"</span><span class="an"> class=</span><span class="av">"dropdown-item"</span><span class="et">></span><span class="et">&lt;i</span><span class="an"> class=</span><span class="av">"fa-solid fa-pie-chart fa-fw"</span><span class="et">></span><span class="et">&lt;/i></span> Group 2 action 1<span class="et">&lt;/a></span>
    <span class="et">&lt;a</span><span class="an"> href=</span><span class="av">"javascript:void(0)"</span><span class="an"> class=</span><span class="av">"dropdown-item"</span><span class="et">></span><span class="et">&lt;i</span><span class="an"> class=</span><span class="av">"fa-solid fa-line-chart fa-fw"</span><span class="et">></span><span class="et">&lt;/i></span> Group 2 action 2<span class="et">&lt;/a></span>
    <span class="et">&lt;a</span><span class="an"> href=</span><span class="av">"javascript:void(0)"</span><span class="an"> class=</span><span class="av">"dropdown-item"</span><span class="et">></span><span class="et">&lt;i</span><span class="an"> class=</span><span class="av">"fa-solid fa-bar-chart fa-fw"</span><span class="et">></span><span class="et">&lt;/i></span> Group 2 action 3<span class="et">&lt;/a></span>
    <span class="et">&lt;a</span><span class="an"> href=</span><span class="av">"javascript:void(0)"</span><span class="an"> class=</span><span class="av">"dropdown-item"</span><span class="et">></span><span class="et">&lt;i</span><span class="an"> class=</span><span class="av">"fa-solid fa-area-chart fa-fw"</span><span class="et">></span><span class="et">&lt;/i></span> Group 2 action 4<span class="et">&lt;/a></span>
  <span class="et">&lt;/div></span>
<span class="et">&lt;/div></span></code>
        </pre>
      </div>
    </div>

    <div class="content-container">
      <div class="scroll-offset" id="modals"></div>
      <div class="style-header">
        <h4 class="header-underline">Modals</h4>
        <a class="reveal-code" data-bs-toggle="collapse" href="#modals-code"><i class="fa-solid fa-code"></i><label class="visually-hidden">Toggle code</label></a>
      </div>
      <div class="style-example text-center">
        <a class="btn btn-primary" data-bs-toggle="modal" href="#modal-example">Click for modal</a>
      </div>

      <div class="style-code-wrapper collapse" id="modals-code">
        <pre class="style-code">
<code><span class="ct">// This line goes in the view where you would want to use a button or link to trigger the modal dialog.</span>
<span class="et">&lt;a</span><span class="an"> class=</span><span class="av">"btn btn-primary"</span><span class="an"> data-bs-toggle=</span><span class="av">"modal"</span><span class="an"> href=</span><span class="av">"#modal-example"</span><span class="et">></span>Click for modal<span class="et">&lt;/a></span>

<span class="ct">// This block must be added as a partial to the modals section of "layouts/Hera.html.erb" near the end of the file.</span>
<span class="et">&lt;div</span><span class="an"> id=</span><span class="av">"modal-example"</span><span class="an"> class=</span><span class="av">"modal fade"</span><span class="an"> tab-index=</span><span class="av">"-1"</span><span class="et">></span>
  <span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"modal-dialog"</span><span class="et">></span>
    <span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"modal-content"</span><span class="et">></span>
      <span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"modal-header"</span><span class="et">></span>
        <span class="et">&lt;h5</span><span class="an"> class=</span><span class="av">"modal-title"</span><span class="et">></span>Modal Title<span class="et">&lt;/h5></span>
        <span class="et">&lt;button</span><span class="an"> type=</span><span class="av">"button"</span><span class="an"> class=</span><span class="av">"btn-close"</span><span class="an"> data-bs-dismiss=</span><span class="av">"modal"</span><span class="et">></span>
          <span class="et">&lt;span</span><span class="an"> class=</span><span class="av">"visaully-hidden"</span><span class="et">></span>Close modal<span class="et">&lt;/span></span>
        <span class="et">&lt;/button></span>
      <span class="et">&lt;/div></span>
      <span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"modal-body"</span><span class="et">></span>
        <span class="et">&lt;p></span>Modal content goes here<span class="et">&lt;/p></span>
      <span class="et">&lt;/div></span>
      <span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"modal-footer"</span><span class="et">></span>
        <span class="et">&lt;button</span><span class="an"> class=</span><span class="av">"btn btn-primary"</span><span class="et">></span>Submit<span class="et">&lt;/button></span>
        <span class="et">&lt;button</span><span class="an"> class=</span><span class="av">"btn"</span><span class="an"> type=</span><span class="av">"button"</span><span class="an"> data-bs-dismiss=</span><span class="av">"modal"</span><span class="et">></span>Cancel<span class="et">&lt;/button></span>
      <span class="et">&lt;/div></span>
    <span class="et">&lt;/div></span>
  <span class="et">&lt;/div></span>
<span class="et">&lt;/div></span></code>
        </pre>
      </div>
    </div>

    <div class="content-container">
      <div class="scroll-offset" id="toolbar"></div>
      <div class="style-header">
        <h4 class="header-underline">Rich Toolbar</h4>
        <a class="reveal-code" data-bs-toggle="collapse" href="#toolbar-code"><i class="fa-solid fa-code"></i><label class="visually-hidden">Toggle code</label></a>
      </div>
      <div class="style-example">
        <label class="mb-3" for="toolbar-textarea">Click the below textarea to reveal the rich toolbar.</label>
        <div class="d-flex justify-content-center mb-3">
          <textarea class="form-control" id="toolbar-textarea" data-behavior="rich-toolbar" data-rich-toolbar="block-code bold italic link list-ol list-ul table quote" placeholder="This is an auto-expanding textarea with a rich toolbar"></textarea>
        </div>
        <p>Configuration options:</p>
        <ul>
          <li><em>data-rich-toolbar: block-code | bold | field<sup>*</sup> | italic | link | list-ol | list-ul | quote | table | image<sup>*</sup></em></li>
        </ul>
        <p class="mb-0"><sup>*</sup> omitted from this example</p>
      </div>

      <div class="style-code-wrapper collapse" id="toolbar-code">
        <pre class="style-code">
<code><span class="et">&lt;textarea</span><span class="an"> class=</span><span class="av">"form-control"</span><span class="an"> data-behavior=</span><span class="av">"rich-toolbar"</span><span class="an"> data-rich-toolbar=</span><span class="av">"block-code bold italic link list-ol list-ul quote table"</span><span class="et">></span><span class="et">&lt;/textarea></span></code>
        </pre>
      </div>
    </div>

    <div class="content-container">
      <div class="scroll-offset" id="tables"></div>
      <div class="style-header">
        <h4 class="header-underline">Tables</h4>
        <a class="reveal-code" data-bs-toggle="collapse" href="#tables-code"><i class="fa-solid fa-code"></i><label class="visually-hidden">Toggle code</label></a>
      </div>
      <div class="style-example">
        <p>Tables in Dradis have a special structure in order to allow them to be scrollable and sortable. The below table is an example of a table exceeding the container boundaries but all data is still visisible thanks to a horizontally scrollable table wrapper.</p>

        <div class="d-flex justify-content-center mt-4">
          <div class="table-wrapper">
            <table class="table table-striped"
              data-behavior="dradis-datatable"
              data-default-columns='["Col 1 Header", "Col 2 Header", "Col 3 Header", "Col 4 Header", "Col 5 Header"]'
              data-item-name="name_of_entity"
              data-local-storage-key="project.ce.name_of_entities_datatable">
              <thead>
                <tr>
                  <th class="no-sort" data-column-visible="false"><span class="visually-hidden">Select</span></th>
                  <th>Col 1 Header</th>
                  <th>Col 2 Header</th>
                  <th>Col 3 Header</th>
                  <th>Col 4 Header</th>
                  <th>Col 5 Header</th>
                </tr>
              </thead>
              <tbody>
                <tr id="name_of_entity-1">
                  <td class="select-checkbox" data-behavior="select-checkbox"></td>
                  <td data-sort="Row 1 Col 1 Data">Row 1 Col 1 Data</td>
                  <td data-sort="Row 1 Col 2 Data">Row 1 Col 2 Data</td>
                  <td data-sort="Row 1 Col 3 Data">Row 1 Col 3 Data</td>
                  <td data-sort="Row 1 Col 4 Data">Row 1 Col 4 Data</td>
                  <td data-sort="Row 1 Col 4 Data">Row 1 Col 5 Data</td>
                </tr>
                <tr id="name_of_entity-2">
                  <td class="select-checkbox" data-behavior="select-checkbox"></td>
                  <td data-sort="Row 2 Col 1 Data">Row 2 Col 1 Data</td>
                  <td data-sort="Row 2 Col 2 Data">Row 2 Col 2 Data</td>
                  <td data-sort="Row 2 Col 3 Data">Row 2 Col 3 Data</td>
                  <td data-sort="Row 2 Col 4 Data">Row 2 Col 4 Data</td>
                  <td data-sort="Row 2 Col 4 Data">Row 2 Col 5 Data</td>
                </tr>
                <tr id="name_of_entity-3">
                  <td class="select-checkbox" data-behavior="select-checkbox"></td>
                  <td data-sort="Row 3 Col 1 Data">Row 3 Col 1 Data</td>
                  <td data-sort="Row 3 Col 2 Data">Row 3 Col 2 Data</td>
                  <td data-sort="Row 3 Col 3 Data">Row 3 Col 3 Data</td>
                  <td data-sort="Row 3 Col 4 Data">Row 3 Col 4 Data</td>
                  <td data-sort="Row 3 Col 4 Data">Row 3 Col 5 Data</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="style-code-wrapper collapse" id="tables-code">
        <pre class="style-code">
<code><span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"table-wrapper"</span><span class="et">></span>
  <span class="et">&lt;table</span>
    <span class="an">class=</span><span class="av">"table table-striped"</span>
    <span class="an">data-behavior=</span><span class="av">"dradis-datatable"</span>
    <span class="an">data-default-columns=</span><span class="av">'["Col 1 Header", "Col 2 Header", "Col 3 Header", "Col 4 Header", "Col 5 Header"]'</span>
    <span class="an">data-item-name=</span><span class="av">"name_of_entity"</span>
    <span class="an">data-local-storage-key=</span><span class="av">"project.ce.name_of_entities_datatable"</span><span class="et">></span>
    <span class="et">&lt;thead></span>
      <span class="et">&lt;tr></span>
        <span class="et">&lt;th</span><span class="an"> class=</span><span class="av">"no-sort"</span><span class="an"> data-column-visible=</span><span class="av">"false"</span><span class="et">></span><span class="et">&lt;span</span><span class="an"> class=</span><span class="av">"visually-hidden"</span><span class="et">></span>Select<span class="et">&lt;/span>&lt;/th></span>
        <span class="et">&lt;th></span>Col 1 Header<span class="et">&lt;/th></span>
        <span class="et">&lt;th></span>Col 2 Header<span class="et">&lt;/th></span>
        <span class="et">&lt;th></span>Col 3 Header<span class="et">&lt;/th></span>
        <span class="et">&lt;th></span>Col 4 Header<span class="et">&lt;/th></span>
        <span class="et">&lt;th></span>Col 5 Header<span class="et">&lt;/th></span>
      <span class="et">&lt;/tr></span>
    <span class="et">&lt;/thead></span>
    <span class="et">&lt;tbody></span>
      <span class="et">&lt;tr</span><span class="an"> id=</span><span class="av">"name_of_entity-1"</span><span class="et">></span>
        <span class="et">&lt;td</span><span class="an"> class=</span><span class="av">"select-checkbox"</span><span class="an"> data-behavior=</span><span class="av">"select-checkbox"</span><span class="et">></span><span class="et">&lt;/td></span>
        <span class="et">&lt;td</span><span class="an"> data-sort=</span><span class="av">"Row 1 Col 1 Data"</span><span class="et">></span>Row 1 Col 1 Data<span class="et">&lt;/td></span>
        <span class="et">&lt;td</span><span class="an"> data-sort=</span><span class="av">"Row 1 Col 2 Data"</span><span class="et">></span>Row 1 Col 2 Data<span class="et">&lt;/td></span>
        <span class="et">&lt;td</span><span class="an"> data-sort=</span><span class="av">"Row 1 Col 3 Data"</span><span class="et">></span>Row 1 Col 3 Data<span class="et">&lt;/td></span>
        <span class="et">&lt;td</span><span class="an"> data-sort=</span><span class="av">"Row 1 Col 4 Data"</span><span class="et">></span>Row 1 Col 4 Data<span class="et">&lt;/td></span>
        <span class="et">&lt;td</span><span class="an"> data-sort=</span><span class="av">"Row 1 Col 5 Data"</span><span class="et">></span>Row 1 Col 5 Data<span class="et">&lt;/td></span>
      <span class="et">&lt;/tr></span>
      <span class="et">&lt;tr</span><span class="an"> id=</span><span class="av">"name_of_entity-2"</span><span class="et">></span>
        <span class="et">&lt;td</span><span class="an"> class=</span><span class="av">"select-checkbox"</span><span class="an"> data-behavior=</span><span class="av">"select-checkbox"</span><span class="et">></span><span class="et">&lt;/td></span>
        <span class="et">&lt;td</span><span class="an"> data-sort=</span><span class="av">"Row 2 Col 1 Data"</span><span class="et">></span>Row 2 Col 1 Data<span class="et">&lt;/td></span>
        <span class="et">&lt;td</span><span class="an"> data-sort=</span><span class="av">"Row 2 Col 2 Data"</span><span class="et">></span>Row 2 Col 2 Data<span class="et">&lt;/td></span>
        <span class="et">&lt;td</span><span class="an"> data-sort=</span><span class="av">"Row 2 Col 3 Data"</span><span class="et">></span>Row 2 Col 3 Data<span class="et">&lt;/td></span>
        <span class="et">&lt;td</span><span class="an"> data-sort=</span><span class="av">"Row 2 Col 4 Data"</span><span class="et">></span>Row 2 Col 4 Data<span class="et">&lt;/td></span>
        <span class="et">&lt;td</span><span class="an"> data-sort=</span><span class="av">"Row 2 Col 5 Data"</span><span class="et">></span>Row 2 Col 5 Data<span class="et">&lt;/td></span>
      <span class="et">&lt;/tr></span>
      <span class="et">&lt;tr</span><span class="an"> id=</span><span class="av">"name_of_entity-3"</span><span class="et">></span>
        <span class="et">&lt;td</span><span class="an"> class=</span><span class="av">"select-checkbox"</span><span class="an"> data-behavior=</span><span class="av">"select-checkbox"</span><span class="et">></span><span class="et">&lt;/td></span>
        <span class="et">&lt;td</span><span class="an"> data-sort=</span><span class="av">"Row 3 Col 1 Data"</span><span class="et">></span>Row 3 Col 1 Data<span class="et">&lt;/td></span>
        <span class="et">&lt;td</span><span class="an"> data-sort=</span><span class="av">"Row 3 Col 2 Data"</span><span class="et">></span>Row 3 Col 2 Data<span class="et">&lt;/td></span>
        <span class="et">&lt;td</span><span class="an"> data-sort=</span><span class="av">"Row 3 Col 3 Data"</span><span class="et">></span>Row 3 Col 3 Data<span class="et">&lt;/td></span>
        <span class="et">&lt;td</span><span class="an"> data-sort=</span><span class="av">"Row 3 Col 4 Data"</span><span class="et">></span>Row 3 Col 4 Data<span class="et">&lt;/td></span>
        <span class="et">&lt;td</span><span class="an"> data-sort=</span><span class="av">"Row 3 Col 5 Data"</span><span class="et">></span>Row 3 Col 5 Data<span class="et">&lt;/td></span>
      <span class="et">&lt;/tr></span>
    <span class="et">&lt;/tbody></span>
  <span class="et">&lt;/table></span>
<span class="et">&lt;/div></span></code>
        </pre>
      </div>
    </div>

    <div class="content-container">
      <div class="scroll-offset" id="input"></div>
      <div class="style-header">
        <h4 class="header-underline">Text Input with Inset Button</h4>
        <a class="reveal-code" data-bs-toggle="collapse" href="#input-code"><i class="fa-solid fa-code"></i><label class="visually-hidden">Toggle code</label></a>
      </div>
      <div class="style-example">
        <div class="container">
          <div class="row">
            <div class="col-8 offset-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
              <div class="inset-button-wrapper">
                <label for="inset-example" class="visually-hidden">Example input element with inset button</label>
                <input type="text" class="form-control" id="inset-example" placeholder="Placeholder Text...">
                <button type="submit" class="btn btn-primary">Button</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="style-code-wrapper collapse" id="input-code">
        <pre class="style-code">
<code><span class="et">&lt;div</span><span class="an"> class=</span><span class="av">"inset-button-wrapper"</span><span class="et">></span>
  <span class="et">&lt;input</span><span class="an"> type=</span><span class="av">"text"</span><span class="an"> class=</span><span class="av">"form-control"</span><span class="an"> placeholder=</span><span class="av">"Placeholder Text..."</span><span class="et">></span>
  <span class="et">&lt;button</span><span class="an"> type=</span><span class="av">"submit"</span><span class="an"> class=</span><span class="av">"btn btn-primary"</span><span class="et">></span>Button<span class="et">&lt;/button></span>
<span class="et">&lt;/div</span><span class="et">></span></code>
        </pre>
      </div>
    </div>

    <div class="content-container">
      <div class="scroll-offset" id="tooltips"></div>
      <div class="style-header">
        <h4 class="header-underline">Tooltips using aria-tooltips</h4>
        <a class="reveal-code" data-bs-toggle="collapse" href="#tooltips-code"><i class="fa-solid fa-code"></i><label class="visually-hidden">Toggle code</label></a>
      </div>
      <div class="style-example">
        <p>Hover over the below button to see a tooltip using the aria-tooltip attribute. We use aria-tooltips as tooltips as they are easily customizable and do not require any kind of plugin's or 3rd party code to function. This example uses a button element but this can be used on almost any kind of element.</p>
        <div class="w-100 d-flex justify-content-center">
          <button class="btn btn-primary" aria-tooltip="Tooltip text using aria-tooltip">Hover Me!</button>
        </div>
      </div>

      <div class="style-code-wrapper collapse" id="tooltips-code">
        <pre class="style-code">
<code><span class="et">&lt;button</span><span class="an"> class=</span><span class="av">"btn btn-primary"</span><span class="an"> aria-tooltip=</span><span class="av">"Tooltip text using aria-tooltips"</span><span class="et">></span>Hover Me!<span class="et">&lt;/button></span></code>
        </pre>
      </div>
    </div>

    <div class="content-container">
      <div class="scroll-offset" id="typography"></div>
      <div class="style-header">
        <h4 class="header-underline">Typography</h4>
        <a class="reveal-code" data-bs-toggle="collapse" href="#typography-code"><i class="fa-solid fa-code"></i><label class="visually-hidden">Toggle code</label></a>
      </div>
      <div class="style-example">
        <div class="row">
          <div class="col-12">
            <p>Hera uses the <a href="https://www.google.com/fonts/specimen/Open+Sans" target="_blank">Open Sans</a> font. The font-weight is set to 300 but we also have <span class="fw4">400</span> and <span class="fw6">600</span> available. The font size is set to 1rem = 16px.</p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-6 text-center">
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>
          </div>
          <div class="col-6 text-center">
            <p class="lead">Paragraph with lead class</p>
            <p>Normal paragraph</p>
            <p><a href="javascript:void(0)">Link example</a></p>
            <p class="text-error">Error text</p>
            <p class="text-muted">Muted text</p>
          </div>
        </div>
      </div>

      <div class="style-code-wrapper collapse" id="typography-code">
        <pre class="style-code">
<code><span class="et">&lt;h1</span><span class="et">></span>Heading 1<span class="et">&lt;/h1</span><span class="et">></span>
<span class="et">&lt;h2</span><span class="et">></span>Heading 2<span class="et">&lt;/h2</span><span class="et">></span>
<span class="et">&lt;h4</span><span class="an"> class=</span><span class="av">"header-underline"</span><span class="et">></span><span class="et">></span>Heading 3<span class="et">&lt;/h4</span><span class="et">></span>
<span class="et">&lt;h4</span><span class="an"> class=</span><span class="av">"header-underline"</span><span class="et">></span><span class="et">></span>Heading 4<span class="et">&lt;/h4</span><span class="et">></span>
<span class="et">&lt;h5</span><span class="et">></span>Heading 5<span class="et">&lt;/h5</span><span class="et">></span>
<span class="et">&lt;h6</span><span class="et">></span>Heading 6<span class="et">&lt;/h6</span><span class="et">></span>

<span class="et">&lt;p</span><span class="an"> class=</span><span class="av">"lead"</span><span class="et">></span>Paragraph with lead class<span class="et">&lt;/p</span><span class="et">></span>
<span class="et">&lt;p</span><span class="et">></span>Normal paragraph<span class="et">&lt;/p</span><span class="et">></span>
<span class="et">&lt;a</span><span class="an"> href=</span><span class="av">"javascript:void(0)"</span><span class="et">></span>Link example<span class="et">&lt;/a</span><span class="et">></span>
<span class="et">&lt;p</span><span class="an"> class=</span><span class="av">"text-error"</span><span class="et">></span>Error text<span class="et">&lt;/p</span><span class="et">></span>
<span class="et">&lt;p</span><span class="an"> class=</span><span class="av">"text-muted"</span><span class="et">></span>Muted text<span class="et">&lt;/p</span><span class="et">></span></code>
        </pre>
      </div>
    </div>

  </div>
</div>
