<h4 class="header-underline">Event Log</h4>

<table class="table table-striped"
  data-behavior="dradis-datatable"
  data-default-columns='["Event", "Properties", "When"]'
  data-local-storage-key="project.ce.analytics_datatable">
  <thead>
    <tr>
      <th>Event</th>
      <th>Properties</th>
      <th>When</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>HTML Report Exported</td>
      <td>
        <ul class="p-0 m-0">
          <li>Evidence: 7</li>
          <li>Issues: 15</li>
          <li>Nodes: 5</li>
        </ul>
      </td>
      <td>on Jan 17, 2023</td>
    </tr>
    <tr>
      <td>CSV Report Exported</td>
      <td>
        <ul class="p-0 m-0">
          <li>Evidence: 6</li>
          <li>Issues: 11</li>
          <li>Nodes: 4</li>
        </ul>
      </td>
      <td>on Jan 16, 2023</td>
    </tr>
    <tr>
      <td>HTML Report Exported</td>
      <td>
        <ul class="p-0 m-0">
          <li>Evidence: 5</li>
          <li>Issues: 10</li>
          <li>Nodes: 4</li>
        </ul>
      </td>
      <td>on Jan 15, 2023</td>
    </tr>
    <tr>
      <td>HTML Report Exported</td>
      <td>
        <ul class="p-0 m-0">
          <li>Evidence: 3</li>
          <li>Issues: 9</li>
          <li>Nodes: 4</li>
        </ul>
      </td>
      <td>on Jan 14, 2023</td>
    </tr>
    <tr>
      <td>CSV Report Exported</td>
      <td>
        <ul class="p-0 m-0">
          <li>Evidence: 3</li>
          <li>Issues: 9</li>
          <li>Nodes: 4</li>
        </ul>
      </td>
      <td>on Jan 14, 2023</td>
    </tr>
  </tbody>
</table>
