<% content_for :title, 'Analytics Settings' %>

<div class="content-container mt-3">
  <%= render partial: 'setting' %>
</div>

<div class="content-container">
  <%#if ahoy_events.any? %>
  <%= render partial: 'log'  %>
  <%# end %>
</div>
