<% content_for :title, 'Analytics Settings' %>

<div class="content-container mt-3">
  <%= render partial: 'shared/event_tracking/copy' %>
  <hr>
  <%= render partial: 'shared/event_tracking/buttons' %>
</div>

<div class="content-container">
  <%#if ahoy_events.any? %>
  <%= render partial: 'shared/event_tracking/log'  %>
  <%# end %>
</div>
