<div id="modal_move_note" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= simple_form_for [@node, @note], html: {class: 'form-horizontal modal-note-selection-form'} do |f| %>
    <div class="modal-footer">
      <button class="btn btn-primary">Move</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  <% end %>
</div>
