<div id="modal-console" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <h2>Output console</h2>
    <%= content_tag :div,
                    id: 'result',
                    style: 'display:none',
                    data: {
                      url: multiple_destroy_status_node_notes_path(@node),
                      close_url: node_path(@node, tab: 'notes-tab'),
                    }  do %>
      <div>
        This task can take some time and will be executed in the background.<br>
        Progress can be tracked here:
      </div>
      <div id="console"></div>
    <% end %>
    <div class="modal-footer hide">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Done!</button>
    </div>
  </div>
</div>
