<div class="btn-toolbar">
  <div class="btn-group">
     <span class="btn js-index-table-select-all" title="Select all notes">
       <input type="checkbox" id="select-all" />
     </span>
  </div>

  <div class="btn-group index-table-actions js-index-table-actions">
    <a class="btn index-table-delete js-index-table-delete" data-confirm="Are you sure?" title="Delete selected notes">
      <i class="fa fa-trash text-error"></i> Delete
    </a>
  </div>

  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown" title="Choose columns to show"><i class="fa fa-columns"></i> <span class="caret"></span></button>
    <ul class="dropdown-menu js-table-columns">
      <% @note_columns.each do |column| %>
      <li><a href="javascript:void(0)" data-column="<%= column.downcase %>"><input type="checkbox" /> <%= column %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="filter pull-right">
    <input type="text" class="form-control input-xlarge js-table-filter" placeholder="Type here to filter table..."/>
  </div>
</div>
