<div class="btn-toolbar">
  <div class="btn-group">
     <span class="btn js-select-all-notes" title="Select all notes">
       <input type="checkbox" id="select-all" />
     </span>
  </div>

  <div class="btn-group note-actions js-note-actions">
    <a id="delete-selected" class="btn" data-confirm="Are you sure?" data-method="delete" title="Delete selected notes"><i class="fa fa-trash text-error"></i> Delete</a>
  </div>
</div>
