<br/>
<div class="row-fluid">
  <div class="span6">
    <div class="inner">
      <p>No methodologies have been assigned to this project yet.</p>
    </div>
  </div>
  <div class="span6">
    <div class="inner">
      <h2>What is a testing methodology?</h2>
      <p>It's a series of tasks you want to perform for the assessment.</p>
      <p>They are useful in a number of scenarios:</p>
      <ul class="fa-ul">
        <li><i class="fa fa-check"></i> Don't forget any of the things you want to test.</li>
        <li><i class="fa fa-check"></i> To do a standard set of tests in every project.</li>
        <li><i class="fa fa-check"></i> To keep track of what is done and what is next.</li>
      </ul>
      <p>Learn more about <a href="https://dradisframework.com/pro/support/guides/projects/methodologies.html">methodologies</a>.</p>
    </div>
  </div>
</div>

<br/>
</br/>

<div class="row-fluid">
  <div class="span6">
    <div class="inner">
      <h2>Need some ideas?</h2>
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <div class="caption">
              <h3>OWASP Testing Guide v4</h3>
              <p><a href="https://dradisframework.com/academy/industry/compliance/owasp/" class="btn">Get</a></p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <div class="caption">
              <h3>PTES Technical Guidelines</h3>
              <p><a href="https://dradisframework.com/academy/industry/compliance/ptes/" class="btn">Get</a></p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <div class="caption">
              <h3>OSCP, HIPAA, custom...</h3>
              <p><a href="https://dradisframework.com/academy/industry/compliance/" class="btn">Explore</a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="span6">
    <div class="inner">
      <h2>Where are they stored?</h2>
      <p>Methodology files can be found under:</p>
      <code>./<%= Methodology.pwd.relative_path_from(Rails.root) %>/</code>
    </div>
  </div>
</div>
