<section class="summary-panel">
  <h4 class="header-underline">Methodology progress</h4>

  <div id='boards-summary' data-behavior='boards-summary' data-url='<%= project_boards_path(current_project) %>'></div>
  <div id='boards-empty' class='d-none'>
    <p>There are no methodologies in this project yet.</p>
    <div>
      <%= link_to project_boards_path(current_project), class: 'btn btn-primary' do %>
        <i class="fa fa-plus"></i> Add a testing methodology
      <% end %>
    </div>
  </div>
</section>
