<section class="inner summary-panel">
  <h2>Methodology progress</h2>

  <div id="methodology-chart" class="pull-left"></div>
  <div id='boards-summary' data-behavior='boards-summary' data-url='<%= project_boards_path(current_project) %>'></div>
  <div id='boards-empty' class='d-none'>
    <p class="no-content">There are no methodologies in this project yet.</p>
    <div>
      <%= link_to project_boards_path(current_project) do %>
        <i class="fa fa-plus"></i> Add a testing methodology
      <% end %>
    </div>
  </div>
</section>
