<% content_for :title, 'Project summary' %>

<div class="row">
  <div class="col-6 pr-0">
    <div class="content-container mr-3">
      <%= render partial: 'projects/issue_summary' %>
    </div>

    <div class="content-container mr-3">
      <h2>Useful articles</h2>
      <ul class="fa-ul">
        <li><i class="fa fa-li fa-check"></i><a href="https://dradisframework.com/pro/support/guides/projects/index.html?utm_source=ce&utm_medium=app" target="_blank">Projects 101</a>: learn the basics.</li>
        <li><i class="fa fa-li fa-check"></i><a href="https://dradisframework.com/pro/support/guides/troubleshooting/index.html?utm_source=ce&utm_medium=app" target="_blank">Troubleshooting Cheatsheet</a>: if you have issues uploading/exporting.</li>
      </ul>
    </div>  
  </div>

  <div class="col-6 pl-0">
    <div class="content-container ml-3">
      <%= render partial: 'projects/methodology_summary' %>
    </div>

    <div class="content-container ml-3">
      <section class="inner summary-panel">
        <h2>Recent activity</h2>
        <%= render 'activities/feed', activities: @activities %>
      </section>
    </div>
  </div>
</div>
