<% content_for :title, 'Project summary' %>

<div class="row-fluid">
  <div class="span6">
    <%= render partial: 'projects/issue_summary' %>
  </div>

  <div class="span6">
    <%= render partial: 'projects/methodology_summary' %>

    <section class="inner summary-panel">
      <h2>Recent activity</h2>
      <%= render 'activities/feed', activities: @activities %>
    </section>
  </div>
</div>
