<div id="try-pro" class="modal fade" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Dradis Framework editions</h3>
  </div>
  <div class="modal-body">
    <iframe data-url="http://drad.is/l/try-pro"></iframe>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" data-dismiss="modal" class="btn btn-primary">Close</a>
  </div>
</div>
