<div class="dropdown-menu">
  <ul class="notification-container js-notification-container" data-url="<%= project_notifications_path(@project) %>">
    <div class="notification-header">
      <div class="js-notification-count">
        Notifications ()
      </div>
      <div class="pull-right">
        <a href="#">Mark all as read</a>
      </div>
    </div>
    <div class="no-content loading"></div>
  </ul>
  <div class="footer text-center">
    <a href="#">See all notifications</a>
  </div>
</div>
