<div class="dropdown-menu">
  <ul class="notification-container js-notification-container">
    <div class="notification-header">
      <div>
        Notifications
        (<%= @notifications.unread.count %>)
      </div>
      <div class="pull-right">
        <a href="#">Mark all as read</a>
      </div>
    </div>
    <div class="no-content loading"></div>
  </ul>
  <% if @notifications.any? %>
    <div class="footer text-center">
      <a href="#">See all notifications</a>
    </div>
  <% end %>
</div>
