<%= form_tag search_path, method: :get, class: 'form-search pull-right hide' do %>
  <div class="input-append">
    <%= search_field_tag :q,  params[:q], placeholder: 'Search here...', class: 'search-query' %>
    <button type="submit" id="search-btn" class="btn"><span class="fa fa-search"></span></button>
  </div>
<% end %>
