default: &default
  default_url_options:
    host:         dradis-framework.dev
    script_name:  ''
  smtp_settings:
    address:               ''
    port:                  ''
    domain:                ''
    user_name:             ''
    password:              ''
    authentication:        ''
    enable_starttls_auto:  ''

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
