default: &default
  default_url_options:
    host: dradis-pro.dev
  smtp_settings:
    address:               smtp.gmail.com
    port:                  587
    domain:                gmail.com
    user_name:             <user_name>
    password:              <password>>
    authentication:        plain
    enable_starttls_auto:  true

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
