<h4 class="header-underline">Evidence information</h4>
<% if @issue.affected.any? %>
  <% cache ['issue-evidence-tab', @issue, @issue.evidence] do %>
    <div data-behavior="datatable-paths"
      data-table-destroy-url="<%= multiple_destroy_project_issue_evidence_index_path(current_project, @issue) %>"
      data-table-destroy-confirmation="Are you sure?&#10;&#10;Proceeding will delete the selected evidence."
      data-table-close-console-url="<%= project_issue_path(current_project, @issue, tab: 'evidence-tab') %>">
      <%= render 'issues/evidence/table' %>
    </div>
  <% end %>
<% else %>
  <div class="empty-state mt-3">
    <div class="empty-state-icon">
      <%= image_tag "icons/#{rand(9)}.svg" %>
    </div>
    <div class="empty-state-body">
      <div class="container">
        <h4 class="empty-state-title">This issue doesn't have any evidence yet</h4>
        <p class="empty-state-body-text">Use evidence to detail changes from one instance of the vulnerability to the next: port number, specific versions, banners grabbed by scanners, etc.</p>
        <div class="empty-state-actions">
          <a href="https://dradisframework.com/support/guides/projects/issues.html"
          class="empty-state-docs-link" target="_blank">More about issues and evidence</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
