<div
  id="tag-modal"
  class="modal fade boards-modal mt-5"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal-board-header"
  aria-hidden="true"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-board-header">Edit tag</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i><span class="sr-only">Close modal</span>
          </button>
        </div>
        <div id="modal-body" class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
  </div>
</div>
