<% content_for :title, 'Tags' %>

<% cache @tags do %>
  <div id="tags-index" class="span12">   
    <%= render 'tags/modal_new' %>
    <%= render 'tags/toolbar' %>
    <% if @tags.any? %>            
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Colour</th>
            <th>Tag Count</th>
            <th>When</th>
            <th>Last touched</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <% @tags.each do |tag| %>
            <%= render 'tags/row', tag: tag %>
          <% end %>
        </tbody>
      </table>      
    <% else %>
      <div class="row-fluid">
        <div class="span12 text-center">
          <h3>No Tags Found</h3>
        </div>
      </div>      
    <% end %>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <%= paginate @tags %>
    </div>
  </div>
<% end %>