<% content_for :title, 'Add new tag' %>

<% content_for :breadcrumbs do %>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'All tags', tags_path %></li>
      <li class="breadcrumb-item active">New Tag</li>
    </ol>
  </nav>
<% end %>

<div class="content-container">
  <div id="issues_editor">
    <div class="note-text-inner">
      <h4 class="header-underline">Add new tag</h4>

      <div class="alert alert-primary" role="alert">
        Create tag in the format - !f3f3f3_tagname (where !f3f3f3 is the 6 digit hex code)
        </div>

      <%= render 'form' %>
    </div>
  </div>
</div>
