<% content_for :title, '400 - Bad Request' %>

<section>
  <div class="title">
    <h1>Bad request</h1>
    <h2>400</h2>
  </div>
  <div class="quote">
    <blockquote>
      <p>
        I don't think I want to ask you how you got it, because I need
        you on this mission.
      </p>
    </blockquote>
    <p class="author">Captain Apollo</p>
  </div>
</section>

<section>
  <%= image_tag "icons/5.svg", alt: 'Satellite' %>
</section>
