<% content_for :title, '404 - Not Found' %>

<section>
  <div class="title">
    <h1>Lost in space?</h1>
    <h2>404</h2>
  </div>
  <div class="quote">
    <blockquote>
      <p>
        Just because you don't know your direction doesn't mean you
        don't have one.
      </p>
    </blockquote>
    <p class="author">Dreilide "Slick" Thrace</p>
  </div>
</section>

<section>
  <%= image_tag "icons/1.svg", alt: 'Astronaut' %>
</section>
