<% content_for :title, '422 - Unprocessable Entity' %>

<section>
  <div class="title">
    <h1>HTTP Error</h1>
    <h2>422</h2>
  </div>

  <div class="quote">
    <blockquote>
      <p>
        The Cylons never asked us what we wanted. Welcome to the big
        leagues.
      </p>
    </blockquote>
    <p class="author">Commander Adama</p>
  </div>
</section>

<section>
  <%= image_tag "icons/2.svg", alt: 'Meteor' %>
</section>
