<% content_for :title, '500 - Internal Server Error' %>

<section>
  <div class="title">
    <h1>Internal Server Error</h1>
    <h2>500</h2>
  </div>

  <div class="quote">
    <blockquote>
      <p>
        There are computational errors in every jump. The further out
        you jump, the greater the error.
      </p>
    </blockquote>
    <p class="author">Commander Adama</p>
  </div>
</section>

<section>
  <%= image_tag "icons/7.svg", alt: 'Spacecraft' %>
</section>
