<% cache ['subscriptions-feed', subscriptions] do %>
  <h4 class="d-flex header-underline">
    Subscribers
    <span class="badge bg-primary text-white mx-2">
      <%= subscriptions.count %>
    </span>
    <span class="actions pt-1" data-behavior="subscription-actions" data-subscribed="<%= !current_user_subscription.nil? %>">
      - <%= render 'subscriptions/actions' %>
    </span>
  </h4>
  <div class="subscriptions-feed">
    <% subscriptions.each do |subscription| %>
      <%= avatar_image(subscription.user, size: 40) %>
    <% end %>
  </div>
<% end %>
