@import "snowcrash/mixins/_rounded";
@import "snowcrash/mixins/_shadows";

@mixin active-nav() {
  &.active {
    position: relative;
    overflow: visible;
    display: block;
    > a{
      color: #fff;
    }
    &:after {
      $size: 10px;
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      right: 0;
      top: 0%;
      margin-top: 8px;
      border-style: solid;
      border-width: $size $size $size 0;
      border-color: transparent $secondaryBgColor transparent transparent;
      z-index: 999;
    }

    li {
      :after {
        display: none;
      }
    }

  }
}

@mixin button($color) {
  border: 0px none;
  background: $color;
  &:hover {
    background: darken($color, 10);
  }
}

@mixin ajax-console {
  background-color: #000;
  border-radius: 5px;
  color: #CCC;
  margin: 4ex;
  height: 400px;
  overflow: scroll;
  padding: 2ex 1ex;

  .log {
    margin-bottom: 5px;
  }
}

@mixin configurations {
  h2 {
    border-bottom: 2px solid #ccc;
  }

  /* Sidenav for Docs
  -------------------------------------------------- */
  .bs-config-sidenav {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
       -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
            box-shadow: 0 1px 4px rgba(0,0,0,.065);
  }
  .bs-config-sidenav > li > a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
  }
  .bs-config-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
       -moz-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
  }
  .bs-config-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
  }
  .bs-config-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
       -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
            box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
  }
  /* Chevrons */
  .bs-config-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
  }
  .bs-config-sidenav > li > a:hover {
    background-color: #f5f5f5;
  }
  .bs-config-sidenav a:hover .icon-chevron-right {
    opacity: .5;
  }
  .bs-config-sidenav .active .icon-chevron-right,
  .bs-config-sidenav .active a:hover .icon-chevron-right {
    background-image: url(../img/glyphicons-halflings-white.png);
    opacity: 1;
  }
  .bs-config-sidenav.affix {
  //  top: 120px;
  }
  .bs-config-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
  }
}
