@import "snowcrash/modules/activities";
@import "snowcrash/modules/alerts";
@import "snowcrash/modules/comments";
@import "snowcrash/modules/configurations";
@import "snowcrash/modules/console";
@import "snowcrash/modules/export";
@import "snowcrash/modules/issues";
@import "snowcrash/modules/issues/import";
@import "snowcrash/modules/issues/merge";
@import "snowcrash/modules/methodologies";
@import "snowcrash/modules/modals";
@import "snowcrash/modules/notifications";
@import "snowcrash/modules/nodes";
@import "snowcrash/modules/projects";
@import "snowcrash/modules/textile";
@import "snowcrash/modules/uploads";
@import "snowcrash/modules/search";
@import "snowcrash/modules/tour";
@import "snowcrash/modules/versions";

.page {
  &.page-mini {
    padding: 10px;
  }
  &.page-none {
    margin: 0 0;
    padding: 0px;
  }
}

.note-list {
  margin-bottom: 2em;
  .list-item {
    line-height: 2em;
    padding-left: 1ex;

    &.note-editor{
      border-bottom: 0;
      .form-actions {
        border: 0;
        background-color: #fff;
      }
    }

    p {
      line-height: 1.5em;
    }

    .list-item-actions {
      padding-right: 1ex;
      text-align: right;
      visibility: hidden;
    }

    .list-item-edit {
      display: none;
      padding-right: 1ex;
    }

    &:hover {
      background-color: lighten($secondaryNavBarBgColor,10%);

      .list-item-actions {
        visibility: visible;
      }
    }
  }

  .note {
    cursor: pointer;
    color: darken($secondaryNavBarBgColor,30);
    &:hover {
      color: darken($secondaryNavBarBgColor,45);
    }
    &.on {
      .remove-note {
        visibility: visible;
        a:last-child:hover { color:#7b0000; }
        font-size: 0.9em;
      }
    }
    &.placeholder {
      color: #ccc;
      font-style: italic;
    }
    .remove-note {
      visibility: hidden;
    }
  }
  .note-text-inner {
    padding: 1em;
    background: lighten($grayLight, 5%);

    .page {
      padding: 2em !important;
    }

    h3 {
      margin-bottom: 0 !important;
      font-size: 1.2em;
      color: $grayDark;
      border-bottom: 0px none !important;

      &:first-child {
        margin-top: 0;
      };
    }
  }
}

.content {
  padding: 1em;

  h4{ margin-top: 2em; }
  h4:first-child { margin-top: 10px; }

  ul {
    list-style: none;
    margin-top: 1em;
  }
}

.attachment {
  margin: 10px 0;
//    padding-left: 100px;
}

.gravatar {
  float: left;
  margin-right: 5px;
  img {
    @include rounded(50%)
  }
}

table.table-ajax-inputs {
  td {
    &.value input {
      background-position: right center;
      background-repeat: no-repeat;
      padding-right: 20px;
      width: 80%;

      &.editing { background-image: image-url('silk/pencil.png'); }
      &.saving { background-image: image-url('loading.gif'); }
      &.saved { background-image: image-url('silk/accept.png'); }
      &.failed { background-image: image-url('silk/stop.png'); }
    }
  }
}

.collapsable-collection {
  height: auto;
  max-height: 60vh;
  overflow-y: scroll;
  margin-bottom: .5em;
}
