$blue: #3498db;
$green: #2ecc71;
$red: #E4485D;
$yellow: #f1c40f;
$orange: #e67e22;
$purple: #9b59b6;
$gray: #bdc3c7;
$grayLight: lighten($gray, 15);
$grayDark: darken($gray, 20);
$asphalt: #34495e;
$asphaltDark: darken($asphalt,10);

$primaryBgColor: darken($primaryColor, 10);
$secondaryBgColor: lighten($grayLight, 5%);
$secondaryNavBarBgColor: darken( $secondaryBgColor, 1%);
$mainContentPadding: 0;

$navbarHeight: 60px;
$sidebarWidth: 250px;
$breadCrumbHeight: 48px;
$secondarySidebarWidth: 25%;

@font-face {
  font-family: 'OpenSans';
  src: font-url('OpenSans-Regular.eot');
  src: url(font-path('OpenSans-Regular.eot') + '?#iefix') format('embedded-opentype'),
       font-url('OpenSans-Regular.woff') format('woff'),
       font-url('OpenSans-Regular.ttf') format('truetype'),
       url(font-path('OpenSans-Regular.svg') + '#open_sans') format('svg');
}

@font-face {
  font-family: 'OpenSans';
  src: font-url('OpenSans-Bold.eot');
  src: url(font-path('OpenSans-Bold.eot') + '?#iefix') format('embedded-opentype'),
       font-url('OpenSans-Bold.woff') format('woff'),
       font-url('OpenSans-Bold.ttf') format('truetype'),
       url(font-path('OpenSans-Bold.svg') + '#open_sans') format('svg');
  font-weight: bold;
  font-style: normal;
}
