<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'QA', project_qa_issues_path(current_project) %></li>
    <li class="breadcrumb-item active"><%= (@issue.title? ? liquid_text(@issue.title) : "Issue ##{@issue.id}")%></li>
  </ol>
</nav>
