<div class="content-container ml-xxl-3">
  <h4 class="header-underline">QA</h4>
  <p class="font-weight-bold mb-2">Update State</p>
  <div class="btn-group">
    <%= button_to 'Draft', project_qa_issue_path(current_project, @issue, state: 'draft'), method: :patch, class: 'btn btn-secondary text-dark rounded-left' %>
    <div class="btn-placeholder rounded-0">Ready for review</div>
    <%= button_to 'Published', project_qa_issue_path(current_project, @issue, state: 'published'), method: :patch, class: 'btn btn-secondary text-dark rounded-right' %>
  </div>
</div>
