<div class="content-container">
  <h4 class="header-underline">QA</h4>
  <p class="fw-bold mb-2">Update State</p>
  <div class="btn-group">
    <%= button_to 'Draft', project_qa_issue_path(current_project, id: @issue, state: 'draft'), method: :put, class: 'btn btn-secondary text-dark rounded-start' %>
    <div class="btn-placeholder rounded-0">Ready for review</div>
    <%= button_to 'Published', project_qa_issue_path(current_project, id: @issue, state: 'published'), method: :put, class: 'btn btn-secondary text-dark rounded-end' %>
  </div>
</div>
