<% content_for :title, @board.name %>

<%= render 'poller_alerts' unless request.xhr? %>

<% content_for :breadcrumbs do %>
<div class="row-fluid">
  <ul class="breadcrumb">
    <li>
      <%= link_to 'Methodologies', project_boards_path(current_project) %>
      <span class="divider">/</span>
    </li>
    <li class="active"><%= @board.name %></li>
  </ul>
</div>
<% end %>

<%= render @board %>
