<% content_for :title, 'Dradis Echo Configuration' %>

<% content_for :breadcrumbs do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Dradis Echo</li>
    <li class="breadcrumb-item active">Configuration</li>
  </ol>
<% end %>

<%= form_with model: @configuration_form, url: configurations_path, method: :patch do |f| %>
  <% @configuration_form.class.agents.each do |agent| %>
    <%= f.fields_for agent.form_key do |cf| %>
      <%= render "dradis/plugins/echo/configurations/#{agent.name.demodulize.underscore}", f: cf, providers: @providers %>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.submit 'Save configuration', class: 'btn btn-primary' %>
  </div>
<% end %>
