<% content_for :title, "Edit evidence for #{@node.label} / #{@evidence.issue.title}" %>

<div class="content-container">
  <h4 class="header-underline">Edit evidence</h4>
  <div class="note-text-inner">
    <%= render 'form' %>
  </div>
</div>
