<% content_for :title, "Edit evidence for #{@node.label} / #{@evidence.issue.title}" %>

<%= content_for :breadcrumb do %>
  <%= render partial: 'breadcrumbs' %>
<% end %>

<div class="content-container">
  <h4 class="header-underline">Edit evidence</h4>
  <div class="note-text-inner">
    <%= render 'form' %>
  </div>
</div>
