<% content_for :title, "Add new evidence to #{@node.label}" %>

<div class="content-container">
  <h4 class="header-underline">Add evidence</h4>
  <div class="note-text-inner">
    <%= render 'form' %>
  </div>
</div>