<div id="modal_rename_node" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= simple_form_for [current_project, @node], html: {class: 'form-horizontal'} do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rename <%= @node.label%> node</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <%= f.input :label, label: "New name" %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">Rename</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
  <% end %>
</div>
