<%= flash_messages %>

<%= render partial: 'setup/progress' %>

<%= form_tag( setup_analytics_path ) do -%>
  <h1>Making Dradis better, together!</h1>
  <p class="small">We need your help to make Dradis better.</p>
  <p class="small">
    <a
      href="https://dradis.com/why-dradis.html?utm_source=ce&utm_medium=app&utm_campaign=analytics"
      target="_blank">Privacy and data sovereignty</a>
    are two of the top reasons why teams choose Dradis, that's why we don't
    track individual users, only agregate feature usage data.
  </p>
  <p class="small">Would you help us improve?</p>

  <div class="text-center">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="analytics" value="1" required>
      <label class="form-check-label" for="inlineRadio2">Yes, I'd like to help!</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="analytics" value="0" required>
      <label class="form-check-label" for="inlineRadio1">No thanks.</label>
    </div>
  </div>


  <%= button_tag :submit, class: 'btn btn-primary' do %>
    Next <i class="fa-solid fa-long-arrow-right"></i>
  <% end %>
<% end %>
