  <div class="note-list">
    <div class="list-item">
      <div class="expansion-container">
        <%= link_to project_board_path(current_project, @board) do %>
          <i class="fa fa-arrow-left"></i> Back to board view
        <% end %>
      </div>
    </div>
  </div>

  <!-- Cards -->
  <%=
    render 'shared/sidebar_collection',
      name: 'Tasks',
      collection: @sorted_cards,
      new_path: new_project_board_list_card_path(current_project, @board, @list, @card),
      category_id: nil do
  %>
    <%#-- We pass an empty block here or else "yield" in the rendered partial %>
    <%#-- will return the whole view. %>
  <% end %>
