<div class="note-list">
  <%= content_tag :div, id: 'issue_summary_link', class: current_page?(main_app.project_board_path(current_project, @board)) ? 'p-2 mb-2 active' : 'p-2 mb-2' do %>
    <%= link_to project_board_path(current_project, @board), class: 'summary-link' do %>
      <i class="fa fa-arrow-left"></i> Back to board view
    <% end %>
  <% end %>
</div>

<!-- Cards -->
<%=
  render 'shared/sidebar_collection',
    category_id: nil,
    collection: @sorted_cards,
    name: 'Tasks',
    new_path: new_project_board_list_card_path(current_project, @board, @list, @card)
%>

<!-- Attachments -->
<%= render partial: 'attachments/attachment_box', locals: { attachments_node: current_project.plugin_uploads_node } %>
