<div class="note-list">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <%= content_tag :div, class: class_names(active: current_page?(main_app.project_board_path(current_project, @board))) do %>
      <%= link_to project_board_path(current_project, @board), class: 'summary-link' do %>
        <i class="fa fa-arrow-left"></i> Back to board view
      <% end %>
    <% end %>

    <a href="javascript:void(0)" class="sidebar-toggle-link" data-behavior="sidebar-toggle">
      <i class="fa fa-chevron-left sidebar-toggle-icon"></i>
      <span class="sr-only">Toggle secondary sidebar</span>
    </a>
  </div>
</div>

<div class="inner-content">
  <%= render 'shared/sidebar_collection',
    category_id: nil,
    collection: @sorted_cards,
    name: 'Tasks',
    new_path: new_project_board_list_card_path(current_project, @board, @list, @card)
  %>

  <!-- Attachments -->
  <%= render partial: 'attachments/attachment_box', locals: { attachments_node: current_project.plugin_uploads_node } %>
</div>
