.attachments-box {
  font-size: 0.9rem;

  .drop-zone {
    background: $lightColor;
    outline: 1px dashed $white;
    color: $darkColor;
    padding: 50px;
    text-align: center;
    margin: 0.5rem 0 1rem 0;
    cursor: default;
  }

  .fileinput-button {
    background-color: transparent;
    color: $lightColor;
    display: inline;
    float: none;
    margin: 0;
    
    &:hover {
      color: $white;
    }

    input {
      width: 0;
    }
  }

  .files {

    .cancel,
    .copy-link,
    .delete {
      width: 30px;
    }

    .error {
      width: 120px;
    }

    .filename {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }  

    .name {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .progress {
      width: 100%;
      height: 0.3rem;
      margin: 0.5rem 0 1rem 0;
    }

    .size {
      font-size: 80%;
      padding-bottom: 0.3rem;
    }
  }

  #fileupload {
    display: inline-block;
  }

  table {
    margin-bottom: 0;
    color: $white;
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 3px;
    
    td {
      border: none;
      padding: 0;

      .btn {
        padding: 4px 6px;

        &.btn-copy {
          color: $white;
  
          &:hover {
            color: $lightColor;
          }
        }

        &.btn-trash {
          color: $red;
  
          &:hover {
            color: darken($red, 10%);
          }
        }

        &.btn-transparent {
          background: transparent;

          &:not(:disabled):not(.disabled):active {
            background: transparent;
          }
        }
      }
    }
  }
}
