.btn {
  @include button(#e6e6e6);
  text-shadow: 0 0 0;
  font-weight: 300;
  font-size: inherit;

  &.btn-primary,
  &.btn-primary:not(:disabled):not(.disabled).active {
    @include button($primaryColor);
  }
  &.btn-danger {
    @include button($red);
  }
  &.btn-success {
    @include button($green);
  }
  &.btn-warning {
    @include button($orange);
  }

  &.dropdown-toggle-split {
    &::after {
      vertical-align: middle;
    }

    & + .dropdown-menu {
      max-width: 19rem;
      padding: 0;
      width: max-content;

      &:hover {
        .dropdown-item,
        .dropdown-item-text {
          background-color: $dropdownLinkBackgroundHover;
        }
      }

      .dropdown-item {
        padding: 0.5rem 1.5rem;
      }

      .dropdown-item-text {
        color: $defaultText;
        font-size: 0.8rem;
        padding: 0;
        white-space: normal;
      }
    }
  }
}

.btn-link {
  background-color: transparent;
  border: none;
  color: $linkColor;
  padding: 0;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover,
  &:not(:disabled):not(.disabled):active {
    background-color: transparent;
    box-shadow: none !important;
    color: $linkColorHover;
  }
}

.btn-placeholder {
  align-items: center;
  background-color: $primaryColor;
  border-radius: 0.25rem;
  color: $white;
  cursor: default;
  display: flex;
  padding: 0.375rem 0.5rem;
  z-index: 1;
}

.btn-states {
  span:not(:last-child) {
    .state {
      border-bottom: 1px solid $borderColor;
    }
  }
  .state {
    display: flex;
    margin: 0;
    padding: 0.5rem 1.75rem 0.5rem 0.5rem;

    &:hover {
      background-color: $dropdownLinkBackgroundHover;
    }

    i {
      color: transparent;
      margin: 0.25rem 0.25rem 0 0;
    }

    input:checked + i {
      color: $primaryColor;
    }

    .state-label {
      p {
        color: $primaryColor;
        margin: 0;
      }

      span {
        font-size: 0.8rem;
      }
    }
  }
}
