.btn {
  @include button(#e6e6e6);
  text-shadow: 0 0 0;
  font-weight: 300;
  font-size: inherit;

  &.btn-primary,
  &.btn-primary:not(:disabled):not(.disabled).active {
    @include button($primaryColor);
  }
  &.btn-danger {
    @include button($red);
  }
  &.btn-success {
    @include button($green);
  }
  &.btn-warning {
    @include button($orange);
  }

  &.btn-outline-primary,
  &.btn-outline-primary:not(:disabled):not(.disabled).active {
    @include outline-button($primaryColor);
  }

  &.dropdown-toggle-split {
    &::after {
      vertical-align: middle;
    }

    & + .dropdown-menu {
      max-width: 19rem;
      padding: 0;
      width: max-content;

      &:hover {
        .dropdown-item,
        .dropdown-item-text {
          background-color: $dropdownLinkBackgroundHover;
        }
      }

      .dropdown-item {
        padding: 0.5rem 1.5rem;
      }

      .dropdown-item-text {
        color: $defaultText;
        font-size: 0.8rem;
        padding: 0;
        white-space: normal;
      }
    }
  }
}
