.dots-dropdown {
  align-items: center;
  border: 1px solid darken($borderColor, 2%);
  border-radius: 50px;
  cursor: pointer;
  display: inline-flex;
  height: 1.75rem;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  width: 1.75rem;

  .dots-dropdown-header {
    font-weight: 400 !important;
    
    &:hover {
      color: $linkColor !important;
      background-color: initial !important;
    }

    &:not(:first-child) {
      border-top: 1px solid $borderColor;
      margin-top: 0.3rem;
      padding-top: 0.3rem;
    }
  }

  .dropdown-menu {
    cursor: default;
  }

  .dropdown-toggle {
    padding: 0.6rem 0.7rem;

    .fa-lg {
      font-size: 1.15rem;
    }
  }

  &:hover,
  &.show {
    background-color: $primaryBgColor;

    .dropdown-toggle {
      color: $linkColorHover;
    }
  }
}
