.dropdown {
  position: initial;

  .dropdown-menu {
    border: 1px solid $borderColor;
    box-shadow: 0 20px 30px 0 rgba(33,55,74,0.2);
    font-size: 0.9rem;
    position: absolute;
    margin: 0;
    max-height: 75vh;
    overflow-y: auto;
    padding: .25rem 0;
    text-align: left;
    z-index: 3;

    .dropdown-item {
      color: $linkColor;
      transition: color 0s;
      font-weight: inherit;

      &:active,
      &:hover {
        color: $linkColorHover;
        background-color: $dropdownLinkBackgroundHover;
      }
    }
  }
}
