.dropdown {
  position: initial;

  .dropdown-menu {
    position: absolute;
    margin: 0;
    border: 1px solid $borderColor;
    z-index: 3;
    padding: .25rem 0;
    font-size: 0.9rem;
    box-shadow: 0 20px 30px 0 rgba(33,55,74,0.2);

    .divider {
      height: 0;
      border-top: 1px solid $borderColor;
      margin: .25rem 0;
    }

    .dropdown-item {
      color: $linkColor;
      transition: color 0s;
      font-weight: inherit;

      &:active,
      &:hover {
        color: $linkColorHover;
        background-color: $dropdownLinkBackgroundHover;
      }
    }
  }
}
