.inline-editable {

  .edit-hover {
    align-items: flex-start;
    display: inline-flex;
    position: relative;
    width: 100%;

    &:hover {
      i.fa-pencil {
        opacity: 1;
      }  
    }
  }

  i.fa-pencil {
    left: 0.5rem;
    opacity: 0.2;
    position: absolute;
    top: 0.65rem;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
  }

  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    font-weight: 600;
    margin: 0 0 0.5rem 1.75rem;
    padding: 0.5rem 0 0 0;

    &:focus {
      background-color: transparent;
      border-bottom: 1px solid $primaryColor;
      box-shadow: none;
      font-weight: 400;
      font-style: italic;
      letter-spacing: 0.4px;
      outline: none;
    }
  }
}
