.inline-editable {

  .edit-hover {
    align-items: baseline;
    display: inline-flex;
    width: 100%;

    &:hover {
      i.fa-pencil {
        opacity: 1;
      }  
    }
  }

  i.fa-pencil {
    opacity: 0.2;
    transition: opacity 0.2s ease-in-out;
  }

  input {
    font-weight: 600;

    &:focus {
      font-weight: 400;
    }
  }

  input,
  textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-left: 0.25rem;
    padding-left: 0.25rem;
    resize: none;

    &:focus {
      background-color: transparent;
      border-bottom: 1px solid $primaryColor;
      box-shadow: none;
      font-style: italic;
      outline: none;
    }

    &.modified {
      color: $primaryColor;
      font-style: italic;
    }
  }
}
