.inline-editable {

  .edit-hover {
    align-items: flex-start;
    display: inline-flex;
    position: relative;
    width: 100%;

    &:hover {
      i.fa-pencil {
        opacity: 1;
      }  
    }
  }

  i.fa-pencil {
    left: 0.4rem;
    opacity: 0.2;
    position: absolute;
    top: 0.65rem;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
  }

  input,
  textarea,
  select {
    background-color: transparent;
    border: none;
    margin: 0 0 0.25rem 1.5rem;
    padding: 0.375rem 0.25rem !important;

    &:focus {
      background-color: transparent;
      box-shadow: none;
      outline: none;
    }
  }

  input,
  textarea {
    border-bottom: 1px solid transparent;
    border-radius: 0;
    resize: none;

    &:focus {
      border-bottom: 1px solid $primaryColor;
      font-style: italic;
      letter-spacing: 0.4px;
    }
  }

  input {
    font-weight: 600;
     margin-bottom: 0;
     margin-top: 0.25rem;

    &:focus {
      font-weight: 400;
    }
  }

  .textarea-container {
    padding-right: 2.5rem;
  }

  select {
    appearance: none;
    width: 90%;
  }
}
