.navbar {
  background-color: $navbarBackground;
  border-bottom: 1px solid $borderColor;
  height: $navbarHeight;
  left: initial;
  transition: left 0.5s ease-in-out;
  z-index: 3;

  .navbar-brand {
    color: $defaultText;
    margin-left: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: $defaultText;
    }

    @media screen and (max-width: 991px) {
      max-width: calc(100% - 110px);
    }
  }

  .navbar-collapse {
    justify-content: flex-end;

    &.collapsing {
      display: none;
      transition: none;
    }

    &.show {

      @media screen and (max-width: 991px) {
        background: $primaryBgColor;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0%;
        top: 100%;
      }
    }
  }


  .navbar-nav {
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    transition: background-color $inout3, color $inout3;

    .nav-item {
      font-size: 0.9rem;
      white-space: nowrap;

      .dropdown-menu {
        border-radius: 0 0 0 .5rem;
      }

      .nav-link {
        color: $linkColor;

        &:hover {
          color: $linkColorHover;
        }
      }

      &.round {
        align-items: center;
        border: 1px solid $borderColor;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        height: 40px;
        margin: 0 0.2rem;
        width: 40px;

        .dropdown-menu {
          cursor: default;
        }

        &:hover,
        &.show {
          background-color: $activeFillColor;
          transition: width $inout3;
          width: 100%;

          .nav-link {
            color: $linkColorHover;

            .fa {
              background-color: $activeFillColor;
            }

            .nav-link-text {
              opacity: 1;
              transition: opacity $inout3, visibility $inout3;
              visibility: visible;
            }
          }
        }

        &:last-child {
          margin-right: 0;
        }

        .nav-link {
          height: 100%;
          overflow: hidden;
          position: relative;
          transition: color 0s;

          .fa {
            position: absolute;
            right: 0;
            top: 0.4rem;
            z-index: 1;

            &.fa-fw {
              border-radius: 15px;
              width: 38px;
              line-height: 26px;
            }

            &.fa-random {
              line-height: 28px;
            }
          }

          .nav-link-text {
            opacity: 0;
            padding: 0 1.85rem 0 0.4rem;
            visibility: hidden;
          }
        }

        &.search {
          border: none;
        }
      }
    }
  }

  .navbar-toggler {
    background-color: $activeFillColor;
    border: 1px solid $borderColor;
    border-radius: 50px;
    color: $linkColorHover;
    cursor: pointer;
    height: 40px;
    margin-left: auto;
    margin-right: 0.2rem;
    outline: none;
    position: relative;
    width: 40px;

    &.collapsed {
      background-color: transparent;

      &:hover {
        background-color: $activeFillColor;

        .navbar-toggler-icon {
          color: $linkColorHover;
        }
      }

      .navbar-toggler-icon {
        color: $linkColor
      }
    }
    
    .navbar-toggler-icon {
      background-image: none;
      left: 0.25rem;
      position: absolute;
      top: 10px;
    }
  }

  @media screen and (max-width: 991px) {
    .navbar-nav {
      align-items: flex-start;
      border: 1px solid $borderColor;
      flex-direction: column;
      padding: .25rem 0;

      .nav-item {

        .nav-link {
          align-items: center;
          display: flex;

          .nav-link-text {
            padding-right: 0;
          }
        }

        &:not(.round) {
          width: 100%;
          
          .nav-link {
            height: 40px;
            padding: .25rem 1.5rem;
            transition: none;

            &:hover {
              background-color: $primaryColor;
              color: white;
            }

            .nav-link-text {
              padding: 0 1.85rem 0 0.4rem;
            }
          }
        }
      
        &.round {
          border: none;
          border-radius: 0;
          margin: 0;
          width: 100%;

          &.dropdown {
            position: relative;

            .dropdown-menu {
              box-shadow: none;
              border-radius: 0;
              border-right: none;
              left: -1px;
              width: 100%;

              .divider {
                display: none;
              }
              
              .dropdown-item {
                padding-left: 4rem;
              }
            }
          }

          &:hover {

            .nav-link .fa {
              background-color: transparent;
            }
          }

          .nav-link {
            color: $linkColor;
            font-size: 0.9rem;
            padding: .25rem 1.5rem;
            width: 100%;

            &:hover {
              background-color: $primaryColor;
              color: white;
            }

            .fa {
              background-color: transparent;
              position: initial;
              
              &.fa-lg {
                line-height: 19px !important;
              }

              &.fa-fw {
                width: 1.2857142857em;
              }
            }

            .nav-link-text {
              opacity: 1;
              visibility: visible;
            }
          }

          &.show {
            background-color: $primaryColor;

            .nav-link {
              color: $primaryBgColor;

              .fa {
                background-color: transparent;
              }
            }
          }
        }

        &.search {
          order: -1;

          .form-search {
            align-items: center;
            border: none;
            border-radius: 0;
            color: $linkColor;
            display: flex;
            flex-direction: row-reverse;
            font-size: 0.9rem;
            padding: .25rem 1.5rem;
            width: 100%;

            .btn {
              background-color: initial;
              position: initial;
              color: $linkColor;
              padding-left: 0;

              .fa {
                position: initial;
              }
            }

            &:hover {
              background-color: $primaryBgColor;
            }

            .search-query {
              animation: none;
              border-radius: 0;
              display: block;
              padding: 0 0.25rem 0 0;
              position: initial;
            }
          }
        }
      }
    }
  }
}
