.navbar {
  background-color: $navbarBackground;
  height: $navbarHeight;
  border-bottom: 1px solid $borderColor;
  z-index: 3;
  transition: left 0.5s ease-in-out;
  left: initial;
  padding-right: 0.5rem;

  .navbar-brand {
    color: $defaultText;
    margin-left: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: $defaultText;
    }

    @media screen and (min-width: 992px) {
      max-width: calc(100% - 780px);
    }
  }

  .navbar-toggler {
    position: relative;
    margin-left: auto;
    margin-right: 0.2rem;
    border: 1px solid $borderColor;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: $activeFillColor;
    color: $linkColorHover;
    outline: none;

    .navbar-toggler-icon {
      background-image: none;
      position: absolute;
      top: 10px;
      left: 0.25rem;
    }

    &.collapsed {
      background-color: transparent;

      .navbar-toggler-icon {
        color: $linkColor
      }
    
      &:hover {
        background-color: $activeFillColor;

        .navbar-toggler-icon {
          color: $linkColorHover;
        }
      }
    } 
  }

  .navbar-collapse {

    &.collapsing {
      transition: none;
      display: none;
    }

    &.show {

      @media screen and (max-width: 991px) { 
        position: absolute;
        background: white;
        top: 100%;
        right: 0%;
        display: flex;
        flex-direction: column;
        
        .navbar-nav {
          flex-direction: column;
          align-items: flex-start;
          padding: .25rem 0;
          border: 1px solid $borderColor;

          .nav-item {
            width: 100%;

            .nav-link {
              padding: .25rem 1.5rem;
              font-size: 0.9rem;
              color: $linkColor;
              transition: color 0s;
    
              &:hover {
                background-color: $primaryColor;
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .navbar-nav {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    float: right;

    .nav-item {
      align-items: center;
      border-radius: 50px;
      cursor: pointer;
      display: flex;
      font-size: 0.9rem;
      justify-content: center;
      margin: 0 -0.2rem;
      transition: all 0.2s ease-in-out;
      white-space: nowrap;
      z-index: 2;

      .dropdown-menu {
        border-radius: 0 0 0 .5rem;
        cursor: default;
      }

      .nav-link {
        align-items: center;
        color: $linkColor;
        display: flex;
        height: 100%;
        justify-content: center;
        padding: 0.5rem 0.75rem;
        width: 100%;
        
        .fa {
          margin-right: 0.25rem;
        }
        
        &:hover {
          color: $linkColorHover;
        }
      }

      &:hover:not(.search),
      &.show {
        background-color: $activeFillColor;

        .nav-link {
          color: $linkColorHover;
        }
      }

      &.search {
        width: auto;
        border: none;
      }
    }
  }
}
