.navbar {
  background-color: $navbarBackground;
  border-bottom: 1px solid $borderColor;
  height: $navbarHeight;
  left: initial;
  padding-right: 0.5rem;
  transition: left 0.5s ease-in-out;
  z-index: 3;

  .navbar-brand {
    color: $defaultText;
    margin-left: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: $defaultText;
    }

    @media screen and (min-width: 992px) {
      max-width: calc(100% - 780px);
    }
  }

  .navbar-collapse {
    &.collapsing {
      display: none;
      transition: none;
    }

    &.show {
      @media screen and (max-width: 991px) { 
        position: absolute;
        background: white;
        top: 100%;
        right: 0%;
        display: flex;
        flex-direction: column;
        
        .navbar-nav {
          flex-direction: column;
          align-items: flex-start;
          padding: .25rem 0;
          border: 1px solid $borderColor;

          .nav-item {
            margin: 0;
            width: 100%;

            .dropdown-menu {
              border: none;
              border-bottom: 1px solid $borderColor;
              border-radius: 0;
              position: initial;

              .dropdown-item {
                padding-right: 1rem
              }
            }

            .nav-link {
              color: $linkColor;
              font-size: 0.9rem;
              padding: .25rem 1rem;
              transition: color 0s;

              .fa {
                width: 1.2em;
              }
    
              &:hover {
                background-color: $primaryColor;
                color: $white;
              }
            }

            &.show {
              .nav-link {
                background-color: $primaryColor;
                color: $white;
              }
            }
          }
        }
      }
    }
  }

  .navbar-nav {
    .nav-item {
      border-radius: 50px;
      font-size: 0.9rem;
      margin: 0 -0.2rem;
      transition: all 0.2s ease-in-out;
      white-space: nowrap;
      z-index: 2;

      .dropdown-menu {
        border-radius: 0 0 0 .5rem;
      }

      .nav-link {
        color: $linkColor;
        padding: 0.5rem 0.75rem;
        width: 100%;
        
        &:focus,
        &:hover {
          color: $linkColorHover;
          outline: none;
        }
      }

      &:hover:not(.search),
      &.show {
        background-color: $activeFillColor;

        .nav-link {
          color: $linkColorHover;
        }
      }
    }
  }

  .navbar-toggler {
    background-color: $activeFillColor;
    border: 1px solid $borderColor;
    border-radius: 50px;
    color: $linkColorHover;
    margin-right: 0.2rem;
    width: 40px;

    &[aria-label]::after {
      content: initial;
    }

    &.collapsed {
      background-color: transparent;

      &:hover {
        background-color: $activeFillColor;

        .navbar-toggler-icon {
          color: $linkColorHover;
        }
      }

      .navbar-toggler-icon {
        color: $linkColor
      }
    } 

    .navbar-toggler-icon {
      background-image: none;
      left: 0.28rem;
      position: absolute;
      top: 0.6rem;
    }
  }
}
