body.projects {

  .summary-panel {

    #boards-summary {
      display: flex;
      flex-wrap: wrap;
  
      .pie-chart {
        width: 50%;
      }
  
      &.loading {
        background: image_url('loading.gif') no-repeat center;
      }
    }

    #issue-chart {
      display: flex;
      justify-content: center;
      align-items: center;
  
      svg text {
        font-size: 14px;
      }
    }

    #issues-accordion {
      margin-top: 1rem;

      .card {
        margin-bottom: 1rem;

        .card-body {
          
          .list-group-item {
            border: none;
            transition: background-color 0.2s ease-in-out;

            &:hover {
              background-color: darken($primaryBgColor, 3%);
            }
          }
        }

        .card-header {
          color: $white;
  
          h5 {
            margin-bottom: 0;
          }
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        &.untagged {
          border-color: #222;

          .card-body li {
            color: #222;
          };

          .card-header {
            background-color: #222;
          }
        }
      }
    }
  }
}
