.resource-sidebar-toggle {
  align-items: center;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #dee2e6 #dee2e6 #fff;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: flex;
  height: 2.45rem; 
  justify-content: center;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 2.25rem;
  top: -2.35rem;
  z-index: 2;
}

.resource-sidebar {
  margin-top: 3.4rem;
  max-width: 24vw;
  width: 100%;
}

@media (min-width: 1510px) {
  .resource-sidebar.collapsed {
    margin-left: -1rem;
    width: 5.5rem;

    .content-container > div > *:not(.header-underlne) {
      display: none;
    }

    .content-container {
      border-bottom-width: 0;
      border-radius: 0;
      margin: 0;
      padding: 0.75rem;
      width: 5.5rem;

      &:nth-of-type(2) {
        border-top-left-radius: 5px;
      }

      &:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-width: 1px;
      }

      .header-underline {
        align-items: center;
        border-bottom: none;
        display: flex;
        flex-direction: column-reverse;
        font-size: 0.75rem;
        margin: 0;
        padding: 0;
        text-transform: capitalize;

        > *:not(.badge) {
          display: none;
        }

        .badge {
          font-size: 100%;
          margin-bottom: 0.25rem;
        }
      }
    }

    .resource-sidebar-toggle {
      right: 2.25rem;
    }
  }
}

@media (max-width: 1509px) {
  .resource-sidebar {
    margin-top: 0;
    max-width: 100%;
  }

  .resource-sidebar-toggle {
    display: none;
  }
}
