.secondary-sidebar {
  background: $sidebarActiveColor;
  border-right: 1px solid $borderColor;
  color: $lightColor;
  height: calc(100vh - 60px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 2;

  a {
    color: lighten($lightColor, 20%);

    &:hover {
      color: $white;
    }
  }

  @media screen and (max-width: 1199px) {
    width: 24%;
  }

  @media screen and (max-width: 991px) {
    width: 31.8%;
  }

  .header-inner {
    position: relative;
    padding-top: 0.5rem;

    .header-name {
      cursor: default;
      margin-top: 0.5rem;
      padding-right: 2.5rem;
    
      a {
        color: $lightColor;
      }

      &:first-of-type {
        margin-top: 0;
      }
    }

    .header-underline {
      border-color: $lightColor;
    }

    .options {

      a {
        color: $lightColor;
        
        &:hover {
          color: $white;
        } 
      }

      .dropdown {
        float: right;
        position: absolute;
        top: 0.6rem;
        right: 0;

        .dropdown-item {
          color: $linkColor;
          max-width: 180px;
          overflow: hidden;
          text-overflow: ellipsis;
    
          &:active,
          &:hover {
            color: $linkColorHover;
          }
        }
      }
    }
  }

  .note-list {

    .active > a {
      color: $white !important;
    }

    .list-item {
      line-height: 1.2rem;
      padding: 0.5rem;
      border-radius: 3px;
      transition: all 0.2s ease-in-out;
      
      a {
        color: $lightColor;
      }

      &.active a {
        color: $white;
      }
  
      .list-item-actions {
        padding-top: 0.3rem;
        text-align: right;
        visibility: hidden;
        transition: visibility 0.1s ease-in-out;
  
        a {
          padding: 0 4px;
        }

        .list-item-action-delete,
        .list-item-action-edit {
          color: $lightColor;
          font-size: 80%;
          padding: 0.25rem 0.4rem;
          background: transparent;
          border-radius: 5px;
          transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        }
  
        .list-item-action-delete:hover {
          color: $white;
          background-color: $red;
        }
  
        .list-item-action-edit:hover {
          color: $white;
          background-color: $green;
        }
      }
  
      &:hover {
        background-color: lighten($sidebarActiveColor, 3%);
  
        a {
          color: $lightColor;
  
          &:hover {
            color: $white;
          }
        }

        .list-item-actions {
          visibility: visible;
        }
      }
    }
  
    .summary-link {
      color: $lightColor;

      &:hover {
        color: $white;
      }
    }
  }
}
