body.boards {
  input:focus:invalid:focus {
    border-color: $darkColor;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $darkColor;
  }

  .alert {
    margin-bottom: 10px;
  }
}

body.boards.index {
  .main-content {
    .board-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .board-actions {
      padding-left: 9pt;
      visibility: hidden;

      a {
        margin-right: 5pt;
      }
    }

    .board-list-item {
      box-sizing: border-box;
      padding: 0 1pc 8px 0;
      position: relative;
      width: 25%;

      &:hover {
        .board-actions {
          visibility: visible;
        }
      }
    }

    .board-tile {
      background-color: lighten($primaryBgColor, 20%);
      border-radius: 3px;
      color: #fff;
      display: block;
      line-height: 20px;
      margin-bottom: 8px;
      padding: 8px 9pt;
      position: relative;
      text-decoration: none;

      &:hover {
        background-color: lighten($primaryBgColor, 15%);
      }
    }

    .board-tile-details {
      display: block;
      min-height: 5pc;
      padding-right: 36px;
      position: relative;
    }

    .board-tile-details-name {
      font-size: 1pc;
      font-weight: 700;
      display: inline-block;
      max-height: 40px;
      overflow: hidden;
    }

    .board-new {
      background-color: darken($secondaryBgColor, 5%);
      color: lighten($primaryBgColor, 10%);
      display: table-cell;
      height: 5pc;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      width: inherit;

      &:hover {
        background-color: darken($secondaryBgColor, 15%);
      }
    }
  }
}

body.boards.show {
  .main-content {

    .board {
      background-color: lighten($primaryBgColor, 20%);
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      padding: 10px 5px;
      margin-left: 0px;
      width: 95%;
      position: absolute;
    }

    .list {
      background-color: darken($secondaryBgColor, 5%);
      border-radius: 3px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0 5px;
      max-height: 100vh;
      position: relative;
      vertical-align: top;
      white-space: normal;
      min-width: 270px;
      cursor: pointer;
      list-style: none;

      .list-header {
        cursor: pointer;
        flex: 0 0 auto;
        padding: 8px 10px;
        position: relative;
        min-height: 18px;

        .list-actions {
          visibility: hidden;

          a {
            margin-right: 5pt;
          }
        }

        &:hover {
          .list-actions {
            visibility: visible;
          }
        }
      }

      .list-cards {
        flex: 1 1 auto;
        margin: 0 4px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 4px;
        min-height: 30px;
      }

      &:first-child {
        margin-left: 10px;
      };
      &:last-child {
        margin-right: 10px;
      }
    }

    .card {
      background-color: #fff;
      border-bottom: 1px solid #ccc;
      border-radius: 3px;
      cursor: pointer;
      margin-bottom: 6px;
      max-width: 300px;
      min-height: 20px;
      position: relative;
      white-space: normal;
      list-style: none;

      .card-details {
        padding: 6px 6px 2px 8px;
        position: relative;
        overflow: hidden;

        .card-title {
          margin: 0 0 4px;
        }

        .card-members {
          float: right;

          .member {
            border-radius: 3px;
            float: right;
            height: 30px;
            margin: 2px 0 4px 4px;
            overflow: hidden;
            position: relative;
            width: 30px;
          }
        }
      }
    }

    .sortable-placeholder {
      background-color: #b5b5b5;
      border-radius: 3px;
      margin-bottom: 6px;
    }

    .card-new {
      border-radius: 0 0 3px 3px;
      color: lighten($primaryBgColor, 10%);
      display: block;
      flex: 0 0 auto;
      padding: 8px 10px;
      position: relative;
      text-decoration: none;

      &:hover {
        background-color: darken($secondaryBgColor, 15%);
      }
    }

    .list-new {
      background-color: lighten($primaryBgColor, 15%);
      border-radius: 3px;
      min-height: 30px;
      padding: 4px;

      &:hover {
        background-color: lighten($primaryBgColor, 10%);
      }

      a {
        color: lighten($primaryBgColor, 60%);
        padding: 7px;
      }
    }
  }
}
