div.dataTables_wrapper {
  .dt-button-collection {
    .dropdown-item,
    .dropdown-item.active {
      background-color: $white;
      color: $linkColor;

      &:focus,
      &:hover {
        color: $linkColorHover;
        background-color: $dropdownLinkBackgroundHover;
      }
    }
  }
}
