body.export {
  section {
    h2 {
      border-bottom: 2px solid #ccc;
    }

    h3 {
      margin-top: 5px;
    }

    .tab-panel {
      background-color: #fff;
      border: 1px solid #ddd;
      border-top-color: transparent;
      padding: 1em 2em 2em;
    }

    .actions {
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
