#tasks-viewer {
  .methodology-toggle {
    margin-bottom: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;

    i {
      font-size: 14px;
    }
  }

  .dropdown-menu {
    .buttons-methodologySorting {
      cursor: pointer;

      &.active {
        background: none;
        font-weight: bold;
      }
    }
  }

  .methodology {
    .table-wrapper {
      .table {
        // Would be better to integrate this into the wider table stylesheet if assignees appear in any other tabls across the platform, something to implement if I had more time and was more comfortable with the codebase.
        .assignees {
          display: flex;
          height: 100%;

          .assignees-img {
            height: 20px;
            width: 20px;
            border-radius: 50%;

            // Creates stacked effect for assignee images, decided to nest selectors like this as I can see this is done elsewhere, but usually I'd make use of SCSS &, e.g &-img and &-count

            &:not(:first-of-type) {
              margin-left: -8px;
            }
          }

          .assignees-count {
            margin-left: 6px;
          }
        }
      }
    }
  }
}
