body.nodes, body.notes, body.evidence {

  .node-header  {
    background-color: darken($secondaryBgColor, 3%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;

    .node-dropdown {
      border: 1px solid darken($borderColor, 2%);
      border-radius: 50px;
      height: 35px;
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      .dropdown-menu {
        cursor: default;
      }

      .dropdown-toggle {
        padding: 0.6rem 0.7rem;
      }

      &:hover,
      &.show {
        background-color: $primaryBgColor;

        .dropdown-toggle {
          color: $linkColorHover;
        }
      }
    }

    ul.nav-pills {
      margin-bottom: 0;
    }
  }
}

body.nodes {

  &.edit {
    textarea.json {
      font-family: monospace;
      width: 100%;
    }
  }

  &.show {

    .node-content h4:not(.header-underline) { 
      margin-top: 30px; 
    }
  }
}

td.services-extras-datum-output {
  word-break: break-all;
}
