body.search.index {

  .inset-button-wrapper {
    max-width: 300px;
  }

  .match-snippet {
    background-color: $secondaryBgColor;
    border: 1px solid $borderColor;
    padding: 0.25rem;
  }

  .result-details {
    color: #869198;
    margin: 10px 0;

    p {
      margin-bottom: 0;
    }
  }

  .search-match-title {
    font-weight: 600;
  }

  tr:first-child td {
    border-top: none;
  }
}

.navbar-nav {

  .form-search {
    background: white;
    border: 1px solid $borderColor;
    border-radius: 50px;
    box-sizing: border-box;
    float: right;
    height: 40px;
    padding: 5px;
    position: relative;
    width: 40px;

    .btn {
      background: initial;
      border-radius: 50%;
      box-sizing: border-box;
      color: $linkColor;
      display: flex;
      font-size: 1.2em;
      height: 38px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      transition: background-color $inout2, color $inout2;
      width: 38px;

      .fa-search {
        left: 9px;
        position: absolute;
        top: 9px;
      }
    }

    &:hover {
      cursor: pointer;
      transition: width $inout2;
      width: 200px;

      .btn {
        background-color: $activeFillColor;
        color: $linkColorHover;
      }

      .search-query {
        animation: search-opacity 0.2s;
        display: block;
      }

      @keyframes search-opacity {
        0%, 50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    .search-query {
      border: 0;
      border-radius: 50px;
      color: $defaultText;
      display: none;
      font-size: 1em;
      height: 38px;
      left: 0;
      line-height: 30px;
      outline: 0;
      padding: 0 50px 0 20px;
      position: absolute;
      top: 0;
      transition: width $inout2;
      width: 100%;

      &::-webkit-search-cancel-button {
        position: relative;
        right: -5px;
      }
    }
  }
}
