#tour-content {
  .modal {
//    margin-left: -380px;
//    width: 760px;
    margin-left: -40%;
    width: 80%;

    .modal-body {
      max-height: 700px;

      h1 {
        margin-bottom: 20px;
        text-align: center;
      }

      h2 {
        margin-top: 20px;
        @media (min-width: 768px) and (max-width: 979px) {
          font-size: 18px;
        }
      }

      h2.font-responsive {
        font-size: 24px;
        @media (min-width: 768px) and (max-width: 979px) {
          font-size:13px;
        }
      }

      strong {
        font-family: 'Helvetica Neue', helvetica, sans-serif;
      }

      .navigation {
        color: $primaryBgColor;
        text-align: center;
        font-style: italic;
      }

      .left-column2 {
        text-align: right;
      }
    }
  }

  #step-two {
    h1 {
      margin-bottom: 40px;
    }

    .textile-wrap {
      background-color: #f2f2f2;
      border: 1px solid #ccc;

      h1 {
        font-size: 17.5px;
        line-height: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
        text-align: left;
        &:nth-child(1) {
          margin-top: 10px;
        }
      }

      .textile-toolbar {
        background-color: #f2f2f2;
      }

      .textile-inner {
          padding: 0 5px;

        textarea {
          min-height: 400px;
        }
      }

      .textile-preview {
        border: 1px solid #e3e3e3;
      }

      .markup-help {
        max-height: 500px;
        overflow-y: auto;
      }
    }

    .play-around {
      margin-top: 40px;
      text-align: center;
    }
  }

  #step-four {
    h2 {
      margin-top: 30px;
    }
  }

  #step-five .options {
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
    a {
      display: block;
      padding: 15px;
    }
    p {
      margin-bottom: 15px;
      margin-top: 10px;
    }
  }
}