#tour-content {
  .modal {

    .modal-dialog {
      max-width: 80%;

      .modal-body {
        max-height: 700px;
  
        .navigation {
          color: $defaultText;
          text-align: center;
          font-style: italic;
        }
      }
    }
  }

  #step-two {

    .textile-wrap {
      background-color: $secondaryBgColor;
      border: 1px solid $borderColor;

      .markup-help {
        max-height: 500px;
        overflow-y: auto;
      }

      .textile-inner {
        padding: 0 0.5rem 0.5rem 0.5rem;

        textarea {
          min-height: 400px;
        }
      }

      .textile-preview {
        border: 1px solid $borderColor;
      }

      .textile-toolbar {
        background-color: $secondaryBgColor;
        margin: 0.5rem !important;
      }
    }

    .play-around {
      margin-top: 2rem;
      text-align: center;
    }
  }

  #step-five .options {
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
    
    a {
      padding: 15px;
    }

    p {
      margin-bottom: 15px;
      margin-top: 10px;
    }
  }
}
