body.revisions {
  .alert {
    margin-top: 1rem;
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
  }
}

body.revisions.show {
  .page-title {
    display: none;
  }

  .secondary-sidebar-content .sticky-top {
    top: 4.95rem;
  }
}

body.revisions.trash {
  .item-content {
    margin-left: 4px;
    font-weight: 600;
  }
}
