.container-fluid:has(.sandbox-timer) {
  position: relative;
}

.sandbox-timer {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: absolute;
  top: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
}

body {
  background: red;
}
