<div class="flex-fill change-project">
  <%= link_to current_project.name, main_app.project_path(current_project), class: 'project-title' %>
  <%= link_to 'javascript:void(0)', class: 'js-try-pro change-project-link', data: { term: 'projects', url: 'https://dradis.com/pro/pages/projects.html'}, title: 'Change Project' do %>
    <i class="fa-solid fa-random fa-fw"></i>
    <span>Change Project</span>
  <% end %>
</div>
