<li class="nav-item dropdown">
  <a href="javascript:void(0)" class="nav-link dropdown-toggle no-caret-xl" data-bs-toggle="dropdown" data-behavior="close-collapse" title="Help">
    <i class="fa-solid fa-question fa-lg d-none d-xl-inline" title="Help"></i>
    <span class="d-inline d-xl-none">Help</span>
  </a>

  <ul class="dropdown-menu dropdown-menu-end">
    <li>
      <a href="javascript:void(0)" class="js-try-pro dropdown-item" data-term="training-course" data-url="https://dradis.com/academy/dradis-course/?utm_source=ce&utm_medium=app&utm_campaign=try-pro&utm_term=training-course">Free training course</a>
    </li>
    <li>
      <a href="https://dradis.com/support/guides/projects/?utm_source=ce&utm_medium=app&utm_campaign=support&utm_term=projects101" target="_blank" class="dropdown-item">Projects 101</a>
    </li>
    <li>
      <a href="https://dradis.com/support/guides/troubleshooting/?utm_source=ce&utm_medium=app&utm_campaign=support&utm_term=troubleshooting" target="_blank" class="dropdown-item">Troubleshooting</a>
    </li>
    <li><hr class="dropdown-divider"></li>

    <% if defined?(Dradis::Pro) %>
      <li>
        <a href="javascript:void(0)" class="dropdown-item" data-behavior="js-hs-beacon">Contact support</a>
      </li>
      <li>
        <a href="https://dradispro.slack.com/" target="_blank" class="dropdown-item">Chat on Slack</a>
      </li>
    <% else %>
      <li>
        <a href="javascript:void(0)" class="js-try-pro dropdown-item" data-term="contact-support" data-url="https://dradis.com/pro/pages/support.html">Contact support</a>
      </li>
      <li>
        <a href="https://dradis.slack.com/" target="_blank" class="dropdown-item">Chat on Slack</a>
      </li>
    <% end %>

    <li>
      <a href="https://github.com/dradis/dradis-ce/issues" target="_blank" class="dropdown-item">Report an issue</a>
    </li>
    <li>
      <a href="https://dradis.com/support/?utm_source=ce&utm_medium=app&utm_campaign=support&utm_term=support" target="_blank" class="dropdown-item">Support website</a>
    </li>
    <li>
      <a href="https://discuss.dradis.com?utm_source=ce&utm_medium=app&utm_campaign=forum" target="_blank" class="dropdown-item">Community forums</a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
      <a href="https://dradis.com/careers/?utm_source=ce&utm_medium=app&utm_campaign=careers" target="_blank" class="dropdown-item">We're hiring</a>
    </li>

    <% unless defined?(Dradis::Pro) %>
      <li><hr class="dropdown-divider"></li>
      <li>
        <a href="javascript:void(0)" class="js-try-pro dropdown-item" data-term="try-pro" data-url="https://dradis.com/pro/pages/upgrade.html">Try Dradis Pro</a>
      </li>
    <% end %>
  </ul>
</li>