@import './tylium';

body.unauthenticated {
  background-color: #f5f5f5;

  .alert {
    padding: .75rem 1.25rem;
    margin: 0 0 1rem 0;
  }

  .btn {
    text-shadow: 0 0 0;

    &.btn-primary {
      @include button($linkColor);
    }
  }

  .card-header.bg-custom {
    background-color: $primaryColor;
    color: $white;
  }

  footer {
    text-align: center;
  }

  input[type="text"],
  input[type="password"] {
    color: #555;

    &:focus {
      border-color: $linkColor;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $linkColor;
    }
  }
}