// Bootstrapp variables
@import 'bootstrap/variables';
$linkColor: darken($green,10%);

@import 'bootstrap';
@import 'bootstrap-responsive';

@import 'tylium/mixins';

body.authenticated {
  #status {
   background-color: green;
  }
}

body.unauthenticated {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;

  footer {
    text-align: center;
  }

  form {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin: 0 auto 20px;
    max-width: 600px;
    padding: 19px 29px 29px;
  }

  input[type="text"],
  input[type="password"] {
    color: #555;

    &:focus {
      border-color: $linkColor;
      outline: 0;
      outline: thin dotted \9; /* IE6-9 */
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $linkColor);
    }
  }

  .page-header {
    text-align: center;
  }

  .btn {
    text-shadow: 0 0 0;

    &.btn-primary {
      @include button($linkColor);
    }
  }
}