@import "bootstrap/mixins";
@import "shared/mixins";
@import "snowcrash/mixins";

// theme-level imports and overrides
@import "snowcrash/overrides/bootstrap_and_override";
@import "snowcrash/overrides/fileupload-ui_and_override";

@import 'font-awesome-sprockets';
@import "font-awesome";


// theme-level mixins and variables
@import "snowcrash/variables";

// shared styles
@import "shared/items_table";

// styles for base HTML elements like body, h1, etc.
@import "snowcrash/base";
// styles for managing the layout in the screen (columns, floats, etc.)
@import "snowcrash/layout";
// specific styles for the different views, consider splitting in multiple
// files
@import "snowcrash/modules";

@import "snowcrash/overrides/jquery-textile_and_override";
