// vendor stylesheets
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "tylium/custom_grid";
@import "bootstrap";

@import "font-awesome.min";
@import "jquery.fileupload-ui";

@import "vendor/datatables.min";

// theme-level variables
@import "tylium/variables";

// shared styles
@import "shared/activities";
@import "shared/comments";
@import "shared/datatables";
@import "shared/editor_toolbar";
@import "shared/empty_state.scss";
@import "shared/inline_editable";
@import "shared/modals";
@import "shared/mixins";
@import "shared/noscript";
@import "shared/notifications";
@import "shared/pagination";
@import "shared/textile.scss";

// styles for base HTML elements like body, h1, etc.
@import "tylium/base";

// styles for managing the layout in the screen (columns, floats, etc.)
@import "tylium/layout";

// specific styles for the different views
@import "tylium/modules";
