html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: $darkColor;
  font-family: 'OpenSans';
  padding-top: 0px;
  font-weight: 300;
  color: $defaultText;
}

a {
  color: $linkColor;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $linkColorHover;
    text-decoration: none;
  }
}

@mixin button($color) {
  border: 0px none;
  background: $color;

  &:hover,
  &:not(:disabled):not(.disabled):active {
    background: darken($color, 10);
  }
}

.btn {
  @include button(#e6e6e6);
  text-shadow: 0 0 0;
  font-weight: 300;

  &.btn-primary {
    @include button($primaryColor);
  }
  &.btn-danger {
    @include button($red);
  }
  &.btn-success {
    @include button($green);
  }
  &.btn-warning {
    @include button($orange);
  }
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.dropdown-toggle::after {
  display: none;
}

.form-control:focus {
  border-color: $darkColor;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $darkColor;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  text-transform: uppercase;
}

.placeholder {
  font-style: italic;
  margin-left: 1rem;
  cursor: default;
  height: 3rem;
}

.text-error {
  color: $errorText !important;
}

.text-error-hover {
  color: $errorText !important;

  &:hover {
    color: darken($errorText, 10%) !important;
  }
}

.text-muted {
  color: $mutedText !important;
}

ul {
  list-style: none;

  &.tree-navigation {
    margin: 5px;
  }
}
