html, body {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: darken($darkColor, 5%);
  font-family: 'OpenSans';
  padding-top: 0px;
  font-weight: 300;
  color: $defaultText;
}

a {
  color: $linkColor;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $linkColorHover;
    text-decoration: none;
  }
}

.actions {
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 0.9rem;
}

.badge {

  &.bg-primary {
    background-color: $primaryColor !important;
  }
}

@mixin button($color) {
  border: 0px none;
  background: $color;

  &:hover,
  &:not(:disabled):not(.disabled):active {
    background: darken($color, 10);
  }
}

blockquote {
  border-left: 3px solid $primaryColor;
  padding-left: 1rem;
}

a:focus-visible {
  box-shadow: $focusShadow;
  outline: none !important;
}

.btn:focus,
.custom-file-input:focus ~ .custom-file-label {
  border-color: $darkColor;
  box-shadow: $focusShadow;
  outline: none !important;
}

code {
  background-color: #f9f2f4;
  border-radius: 4px;
  color: $codeText;
  padding: 2px 4px;
}

.custom-select {
  font-size: inherit;
}

.disabled {
  color: $mutedText !important;
}

.dropdown-toggle:not(.btn)::after {
  display: none;
}

.form-actions {
  padding-top: 1rem;
  border-top: 1px solid $borderColor;
}

.form-control {
  font-size: inherit;

  &:focus {
    border-color: $darkColor;
    box-shadow: $focusShadow;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

mark {
  background-color: yellow;
  padding-left: 0;
  padding-right: 0;
}

:-moz-ui-invalid {
  box-shadow: none;
}

.nav-pills {

  .nav-link {
    transition: all 0s ease-in-out;

    &.active {
      background-color: $secondaryBgColor;
      color: $linkColorHover;
    }
  }
}

.placeholder {
  font-style: italic;
  margin-left: 1rem;
  cursor: default;
  height: 3rem;
}

pre code {
  background-color: initial;
  padding: 0;
}

.required-input {
  color: $red;
}

select[multiple] {
  padding-left: 0;
  padding-right: 0;

  option {
    padding: 0 0.5rem;

    &:checked {
      background: linear-gradient(0deg, $lightColor 0%, $lightColor 100%);
    }
  }
}

// fixes ugly selects
select:not(select[multiple]) {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  background: white url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+') no-repeat 95% 50% !important;
  background-position: calc(100% - 5px) center !important;
  padding-right: 1.5rem !important;
}

// Firefox Fixes //
@-moz-document url-prefix() {
  select {
    font-family: revert;
  }
}

.show > .btn-primary.dropdown-toggle {
  background: darken($primaryColor, 10);
}

.small {
  font-weight: 300;
}

.sticky-top {
  position: sticky !important;
  top: $mainContentMargin;
  margin-bottom: $mainContentMargin;
  z-index: 2;
}

strong {
  font-weight: 600;
}

.table {
  td {
    padding: 0.4rem .75rem;
  }

  th {
    &:focus {
      outline: none !important;

      &:not(.no-sort) {
        box-shadow: inset $focusShadow;
      }
    }
  }
}

.text-break-spaces {
  white-space: break-spaces !important;
}

.text-error {
  color: $errorText !important;
}

.text-error-hover {
  color: $errorText !important;

  &:hover {
    color: darken($errorText, 10%) !important;
  }
}

.text-muted {
  color: $mutedText !important;
}

.text-primary {
  color: $primaryColor !important;
}

ul {
  list-style: none;

  &.tree-navigation {
    margin: 5px;
  }
}
