@mixin active-nav() {
  &.active {
    position: relative;
    overflow: visible;
    background-color: $sidebarActiveColor;
    
    &:after {
      position: absolute;
      content: '';
      height: 100%;
      left: 0;
      top: 0;
      border: 1.5px solid $white;
    }

    .sidebar-link {
      color: $white;
    }
  }
}

.back-fade {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 4;
  transition: all 0.5s ease-in-out;

  &.faded {
    opacity: 0.7;
    visibility: initial;
  }

  &.not-faded {
    opacity: 0;
   visibility: hidden;
  }
}

.page-title {
  margin: 1rem 0 0 $mainContentMargin;
  cursor: default;
}

.view-content {
  background: $secondaryBgColor;
  position: fixed;
  height: calc(100vh - 60px);
  width: calc(100vw - 43px);
  min-width: 570px;
  top: $navbarHeight;
  left: $sidebarCollapsed;
  overflow: scroll;

  .content-container {
    position: relative;
    margin: $mainContentMargin;
    padding: $mainContentPadding;
    background-color: $primaryBgColor;
    border: 1px solid $borderColor;
    border-radius: 5px;
    
    &.restrict-height {
      overflow: scroll;

      &.full-height {
        max-height: calc(100vh - 10.2rem);
      }

      &.half-height {
        max-height: calc(50vh - 4rem);
      }

      &.quarter-height {
        max-height: calc(25vh - 3.4rem);
      }

      .scroll-more-wrapper {
        position: sticky;
        width: 100%;
        opacity: 1;
        bottom: -2rem;
        left: 0;
        transition: all 0.3s ease-in-out;

        &.hidden {
          opacity: 0;
        }

        .gradient {
          position: absolute;
          height: 6rem;
          width: 100%;
          bottom: 0;
          background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.75) 50%, rgba(255,255,255,1) 100%);
        }

        .line {
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 2rem;
          border-bottom: 1px solid #ddd;
        }

        .scroll-more {
          position: absolute;
          bottom: 1rem;
          left: calc(50% - 3.875rem);
          background: #fff;
          border: 1px solid #ddd;
          padding: 0.125rem 1rem;
          z-index: 2;
        }
      }
    }
  }
}
