@mixin active-nav() {
  &.active {
    position: relative;
    overflow: visible;
    background-color: $sidebarActiveColor;
    
    &:after {
      position: absolute;
      content: '';
      height: 100%;
      left: 0;
      top: 0;
      border: 1.5px solid $white;
    }

    .sidebar-link {
      color: $white;
    }
  }
}

.breadcrumb {
  flex-wrap: nowrap;
  margin-bottom: 0;
  padding-left: $mainContentPadding;
  white-space: nowrap;
  width: calc(100% - 35px);

  .breadcrumb-item {
    white-space: nowrap;

    &+ .breadcrumb-item::before {
      font-family: "fontawesome";
      content: "\f105";
    }

    &:last-of-type {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.page-title {
  margin: 1rem 0 0 $mainContentMargin;
  cursor: default;
}

.view-content {
  background: $secondaryBgColor;
  position: fixed;
  height: calc(100vh - 60px);
  min-width: 570px;
  top: $navbarHeight;
  overflow: auto;
  font-size: 0.9rem;
  transition: all 0.5s ease-in-out;

  .content-container {
    position: relative;
    margin: $mainContentMargin;
    padding: $mainContentPadding;
    background-color: $primaryBgColor;
    border: 1px solid $borderColor;
    border-radius: 5px;

    .alert {
      margin: 1rem 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
