@import "tylium/mixins/_rounded";
@import "tylium/mixins/_shadows";

@mixin active-nav() {
  &.active {
    position: relative;
    overflow: visible;
    background-color: $sidebarActiveColor;
    
    &:after {
      position: absolute;
      content: '';
      height: 100%;
      left: 0;
      top: 0;
      border: 1.5px solid $white;
    }

    .sidebar-link {
      color: $white;
    }
  }
}

@mixin ajax-console {
  background-color: #000;
  border-radius: 5px;
  color: #CCC;
  margin: 4ex;
  height: 400px;
  overflow: scroll;
  padding: 2ex 1ex;

  .log {
    margin-bottom: 5px;
  }
}

@mixin button($color) {
  border: 0px none;
  background: $color;
  &:hover {
    background: darken($color, 10);
  }
}
