@import "tylium/modules/activities";
@import "tylium/modules/alerts";
@import "tylium/modules/boards";
@import "tylium/modules/comments";
@import "tylium/modules/configurations";
@import "tylium/modules/console";
@import "tylium/modules/dropdown";
@import "tylium/modules/export";
@import "tylium/modules/issues";
@import "tylium/modules/issues/import";
@import "tylium/modules/issues/merge";
@import "tylium/modules/modals";
@import "tylium/modules/navbar";
@import "tylium/modules/notifications";
@import "tylium/modules/nodes";
@import "tylium/modules/projects";
@import "tylium/modules/sidebar";
@import "tylium/modules/textile";
@import "tylium/modules/uploads";
@import "tylium/modules/search";
@import "tylium/modules/tour";
@import "tylium/modules/versions";


.page {
  &.page-mini {
    padding: 10px;
  }
  &.page-none {
    margin: 0 0;
    padding: 0px;
  }
}

.note-list {

  .list-item {
    line-height: 1.5rem;
    padding: 0.5rem;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;

    &.note-editor{
      border-bottom: 0;

      .form-actions {
        border: 0;
        background-color: #fff;
      }
    }

    p {
      line-height: 1.5em;
    }

    .list-item-actions {
      padding-top: 0.25rem;
      text-align: right;
      visibility: hidden;
      transition: visibility 0.1s ease-in-out;
    }

    .list-item-edit {
      display: none;
      padding-right: 1ex;
    }

    &:hover {
      background-color: $primaryBgColor;

      a {
        color: $linkColor;

        &:hover {
          color: $linkColorHover;
        }
      }
      
      .list-item-actions {
        visibility: visible;
      }
    }
  }

  .note {
    cursor: pointer;

    &.placeholder {
      font-style: italic;
      margin: 0 0 2rem 1rem;
    }

    .remove-note {
      visibility: hidden;
    }
  }

  .note-text-inner {
    padding: 1em;
    background: lighten($grayLight, 5%);

    .page {
      padding: 2em !important;
    }

    h3 {
      margin-bottom: 0 !important;
      font-size: 1.2em;
      color: $grayDark;
      border-bottom: 0px none !important;

      &:first-child {
        margin-top: 0;
      };
    }
  }
}

.content {
  padding: 1em;

  h4{ margin-top: 2em; }
  h4:first-child { margin-top: 10px; }

  ul {
    margin-top: 1em;
  }
}

.attachment {
  margin: 10px 0;
//    padding-left: 100px;
}

.gravatar {
  float: left;
  margin-right: 5px;
  img {
    border-radius: 50%;
  }

  &.gravatar-inline {
    margin: 0 0 -3px 0;
    float: none;
    white-space: nowrap;
  }
}

table.table-ajax-inputs {
  td {
    &.value input {
      background-position: right center;
      background-repeat: no-repeat;
      padding-right: 20px;
      width: 80%;

      &.editing { background-image: image-url('silk/pencil.png'); }
      &.saving { background-image: image-url('loading.gif'); }
      &.saved { background-image: image-url('silk/accept.png'); }
      &.failed { background-image: image-url('silk/stop.png'); }
    }
  }
}
