// Colors
$asphalt: #34495e;
$blue: #3498db;
$gray: #bdc3c7;
$grayLight: lighten($gray, 15);
$grayDark: darken($gray, 20);
$green: #2ecc71;
$orange: #e67e22;
$purple: #9b59b6;
$red: #e4485d;
$white: #fff;
$yellow: #f1c40f;

// Edition Colors
$lightGreen: #86cb86;
$ceGreen: #378137;
$darkGreen: #285d28;

$lightBlue: #7796b4;
$proBlue: #3498db;
$darkBlue: #22303d;

$lightColor: $lightGreen;
$primaryColor: $ceGreen;
$darkColor: $darkGreen;

// Text Colors
$defaultText: #707070;
$errorText: #b94a48;
$mutedText: #888;
$sidebarText: $lightColor;
$linkColor: $primaryColor;
$linkColorHover: darken($linkColor, 15%);

// Background, Border, Fill Colors
$primaryBgColor: $white;
$secondaryBgColor: #f4f5f6;
$activeFillColor: #eceeef;
$borderColor: #ddd;
$dropdownLinkBackgroundHover: $darkColor;
$navbarBackground: $primaryBgColor;
$sidebarBackground: $darkColor;
$sidebarActiveColor: lighten($sidebarBackground, 10%);

// Spacing
$mainContentPadding: 2rem;
$mainContentMargin: 2rem;

// Sizing
$navbarHeight: 60px;
$sidebarCollapsed: 43px;
$sidebarExpanded: 250px;
$breadCrumbHeight: 48px;
$secondarySidebarWidth: 25%;

// Fonts
@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-BoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}