$blue: #3498db;
$green: #2ecc71;
$red: #E4485D;
$yellow: #f1c40f;
$orange: #e67e22;
$purple: #9b59b6;
$gray: #bdc3c7;
$white: #fff;
$grayLight: lighten($gray, 15);
$grayDark: darken($gray, 20);
$asphalt: #34495e;

$defaultText: #707070;
$errorText: #b94a48;

$primaryBgColor: $white;
$secondaryBgColor: #F4F5F6;

$borderColor: #ddd;
$activeFillColor: #eceeef;

$dradisCEGreen: darken($green,10%);

$navbarBackground: $primaryBgColor;
$sidebarBackground: $dradisCEGreen;
$sidebarText: $white;

$primaryColor:                $dradisCEGreen;
$linkColor:                   $dradisCEGreen;
$linkColorHover:              darken($linkColor, 15%);
$dropdownLinkBackgroundHover: $dradisCEGreen;

$mainContentPadding: 2rem;
$mainContentMargin: 2rem;

$navbarHeight: 60px;
$sidebarCollapsed: 43px;
$siebarExpanded: 250px;
$breadCrumbHeight: 48px;
$secondarySidebarWidth: 25%;

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-BoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}