@import '_bootstrap';
@import '../tylium/variables';
@import 'font-awesome';

html {
  font-size: 16px;
}

body {
  height: 100vh;
  margin: 0;
  position: relative;
}

a {
  color: $linkColor;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $linkColorHover;
    text-decoration: none;
  }
}

.btn {
  &:hover {
    i {
      transform: translateX(5px);
    }
  }

  i {
    margin-left: 0.5rem;
    transition: transform 0.2s ease-in-out;
  }
}

.btn-experience {
  border: 1.5px solid $primaryColor;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0px rgba(62, 66, 66, 0.1);
  height: 100%;
  padding: 1.375rem 1.85rem;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    border-color: $primaryColor;
    box-shadow: 0px 0px 50px 0px rgba(62, 66, 66, 0.1);
  }

  p {
    color: $primaryColor;
    font-weight: bold;
  }

  span {
    display: block;
    font-size: 0.8rem;
    position: relative;
    text-align: left;

    i {
      bottom: 0;
      color: $primaryColor;
      font-size: 1rem;
      position: absolute;
      right: 0;
    }
  }
}

.btn-primary {
  background-color: $primaryColor;
  border-color: $primaryColor;
  padding: 0.375rem 1.25rem;

  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active {
    background-color: darken($primaryColor, 10);
    border-color: darken($primaryColor, 10);
  }

  &[type='submit'] {
    display: block;
    margin: 2rem auto;
  }
}

.container {
  &.narrow {
    max-width: 500px;
  }
}

.copyright {
  font-size: 80%;
  text-align: center;
  width: 100%;
}

.h-100vh {
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 1.3rem;
  margin: 3rem 0 2rem;
}

label {
  text-transform: capitalize;
}

.logo {
  margin: 2rem auto -2rem;
  max-width: 150px;
}

.setup-progress {
  margin: 3rem auto 0;
  position: relative;
  width: 66%;

  &:after {
    border-top: 1.5px solid $primaryColor;
    content: '';
    display: block;
  }

  &-indicator {
    align-items: center;
    background-color: $white;
    border: 1.5px solid $primaryColor;
    border-radius: 50%;
    display: flex;
    font-size: 0.8rem;
    height: 1.3rem;
    justify-content: center;
    left: calc(50% - 0.65rem);
    position: absolute;
    top: -0.6rem;
    width: 1.3rem;

    &.active {
      background-color: $primaryColor;
    }

    &:first-of-type {
      left: 0;
    }

    &:last-of-type {
      left: unset;
      right: 0;
    }
  }
}
