<div class="validation-feed">
  <h4 class="d-flex header-underline mb-0">Validation
    <i class="fa fa-times"></i><%# this will be fa-check when everything below is passing validation %>
  </h4>

  <ul class="validation-list">
    <li><i class="fa fa-check fa-fw"></i>First field title</li>
    <li>
      <i class="fa fa-times fa-fw"></i>Second field title<i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" data-boundary="viewport" title="Tooltip giving some more info on why this field is not passing validation"></i><%# note the question icon, data-attributes and title required for items failing validation%>
    </li>
    <li><i class="fa fa-check fa-fw"></i>Next field title</li>
    <li><i class="fa fa-check fa-fw"></i>And so on</li>
  </ul>
</div>
