<div class="d-flex align-items-center justify-content-center flex-wrap w-100">
  <%= render 'shared/add_item_dropdown',
    name: 'Issues',
    new_path: new_project_issue_path(current_project),
    category_id: nil,
    button_class: 'btn btn-primary btn-lg mb-2 mx-4 px-5',
    text: "Add Issue",
    collapse_class: 'd-none'
  -%> 
  <%= link_to project_upload_manager_path(current_project), class: 'mb-2' do %><i class="fa fa-cloud-upload fa-lg"></i> Upload output from tool<% end %>
</div>
