<div class="empty-state">
  <div class="empty-state-icon">
    <%= image_tag "icons/#{rand(9)}.svg" %>
  </div>
  <div class="empty-state-body">
    <div class="container">
      <h4 class="empty-state-title">There has been no activity yet</h4>
      <p class="text-center">Use the activity feed to increase group efficiency and effectiveness.</p>
      <div class="empty-state-actions">
        <a href="https://dradisframework.com/support/guides/projects/activity.html" class="small mt-2" target="_blank">More about the activity feed</a>
      </div>
    </div>
  </div>
</div>
