<div class="echo-response">
  <strong>Prompt</strong>
  <div class="border border-success rounded p-2 mb-4">
      <p><%= simple_format prompt %></p>
  </div>

  <strong>Echo</strong>
  <div class="mb-7">
    <div id="<%= response_id %>" class="border border-info rounded p-2 mb-4 font-weight-light" style="white-space-collapse: preserve">
    </div>
  </div>
</div>