<% unless @turbo_status %>
  <div class="alert alert-danger">
    There was an error contacting Redis: please make sure the Redis server is running.
  </div>
<% end %>

<div>
  <p class="mb-2">Use Echo to summarize and rewrite complex content using your LLM of choice.</p>
  <%= render @prompts %>
</div>
