
<% unless @turbo_status %>
<div class="alert alert-danger">
  There was an error contacting Redis: please make sure the Redis server is running.
</div>
<% end %>

<!-- <div class="d-flex align-items-center justify-content-between"> -->
  <div><%= render @prompts %></div>
<!--  <a href="javascript:void(0)"><i class="fa-solid fa-pencil fa-fw"></i> Edit prompts</a>
</div> -->

<!-- <p>Or type your own prompt:</p>
<%#= render 'form' %> -->
