
<% unless @turbo_status %>
  <div class="alert alert-danger">
    There was an error contacting Redis: please make sure the Redis server is running.
  </div>
<% end %>

<div><%= render @prompts %></div>
