
<% unless @turbo_status %>
  <div class="alert alert-danger">
    There was an error contacting Redis: please make sure the Redis server is running.
  </div>
<% end %>

<div>
  <h5>Save time and cut through the clutter</h5>
  <p class="mb-2">Use Echo to summarize, and rewrite complex content, to clear and concise Issues.</p>
  <%= render @prompts %>
</div>
