div.dataTables_wrapper {
  .dt-button-collection {
    .dropdown-item,
    .dropdown-item.active {
      background-color: $white;
      color: $text-link;

      &:focus,
      &:hover {
        color: $text-link-hover;
        background-color: $grey-100;
      }
    }
  }

  .tag-btn ~ .dt-button-collection {
    .dropdown-item {
      &:nth-last-child(2) {
        border-top: 1px solid $border-color;
      }
    }
  }

  .table {
    td {
      padding: 0.4rem 0.75rem;
    }

    th {
      &:focus {
        outline: none !important;

        &:not(.no-sort) {
          box-shadow: inset $focus-shadow;
        }
      }
    }
  }
}
