.navbar {
  &.in-project {
    background-color: $white;
    border-bottom: 1px solid $border-color-light;
    height: auto;
    top: 70px;
    overflow: scroll;
    padding: 0;

    .navbar-nav {
      .nav-item {
        border-bottom: 5px solid transparent;
        margin-right: 1rem;
        padding: 0.6rem;

        .nav-link {
          color: $grey-dark;
          display: flex;
          flex-direction: row;
          font-size: 1.2rem;
          align-items: baseline;

          @media (min-width: 768px) {
            font-size: 0.9rem;
            padding: 0.5rem 0;
          }
        }

        &.active {
          border-bottom: 5px solid $brand-color-light;

          .nav-link {
            color: $grey-dark;
          }
        }
      }
      @media (min-width: 567px) {
        .nav-item,
        .vr {
          margin-right: 0.2rem;
        }
      }

      @media (min-width: 992px) {
        .nav-item,
        .vr {
          margin-right: 1rem;
        }
      }
    }

    .vr {
      align-self: center;
      height: 2rem;
      margin-right: 1rem;
    }

    @media (min-width: 1200px) {
      padding: 0 7rem;
    }
  }
}
