.navbar {
  &.in-project {
    background-color: $white;
    border-bottom: 1px solid $border-color-light;
    height: auto;
    top: 70px;
    padding: 0;

    .navbar-nav {
      .nav-item {
        border-bottom: 5px solid transparent;
        margin-right: 1rem;
        padding: 0.65rem;

        .dropdown-menu {
          border: 1px solid $border-color-light;
          box-shadow: 1px 1px 5px 0px rgba($shadow-light, 0.5);

          .dropdown-item {
            &:hover,
            &:focus {
              color: $grey-dark;
              background-color: $brand-color-light;
            }
          }
        }

        &:last-of-type {
          margin-right: 0;
        }

        .nav-link {
          color: $grey-dark;
          display: flex;
          flex-direction: row;
          font-size: 1rem;
          align-items: center;

          &.dropdown-toggle::after {
            display: inline-block;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: '';
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
          }

          @media (min-width: 1024px) {
            font-size: 0.9rem;
          }
        }

        &.active {
          border-bottom: 5px solid $brand-color-light;

          .nav-link {
            color: $grey-dark;
          }
        }
      }

      @media (min-width: 567px) {
        .nav-item,
        .vr {
          margin-right: 0.8rem;
        }
      }

      @media (min-width: 992px) {
        .nav-item,
        .vr {
          margin-right: 0.6rem;
        }

        .nav-item {
          padding: 0.5rem;
        }
      }

      @media (min-width: 1200px) {
        .nav-item,
        .vr {
          margin-right: 1.2rem;
        }
      }
    }

    .vr {
      align-self: center;
      height: 2rem;
      margin-right: 1rem;
    }

    @media (min-width: 1200px) {
      padding: 0 7rem;
    }
  }
}

.breadcrumb {
  background-color: transparent;
  border: none;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
  padding: 0.75rem 1rem 0.75rem $mainContentPadding;
  white-space: nowrap;
  width: 100%;

  .breadcrumb-item {
    white-space: nowrap;

    &.active {
      color: $muted-text;
    }

    & + .breadcrumb-item::before {
      content: '\f105';
      font-family: var(--fa-style-family, 'Font Awesome 6 Free');
      font-weight: 600;
      color: darken($border-color-light, 5%);
    }

    &:last-of-type {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
