.main-sidebar {
  background-color: $white-dark;
  border-right: 2px solid $border-color-light;
  height: 100vh;
  left: -7%;
  top: 0;
  bottom: 0;
  margin-top: 130px;
  overflow-x: hidden;
  padding: 1rem 1rem;
  position: fixed;
  width: 0;
  transition: 0.5s;
  z-index: 1010;

  &.sidebar-collapsed {
    width: 0.5rem;

    .scrollable-content,
    .version {
      visibility: hidden;
    }

    .sidebar-toggle {
      position: fixed;
      left: 0;
    }
  }

  &.sidebar-expanded {
    width: 16rem;
    left: 0;

    .sidebar-toggle {
      border-right: none;
      position: absolute;
      right: -1px;

      .sidebar-toggle-icon {
        transform: rotate(180deg);
      }
    }

    .scrollable-content {
      display: flex;
      flex-direction: column;
      height: 80vh;
      margin-top: 3rem;
      overflow-y: auto;

      .nodes-nav {
        margin: 0;
        padding: 0;

        .node-tree {
          .node-list {
            &.restrict-height {
              max-height: calc(100vh - 330px - 1.5rem);

              .gradient {
                background: linear-gradient(
                  180deg,
                  rgba($sidebarBackground, 0) 0%,
                  rgba($sidebarBackground, 0.75) 50%,
                  rgba($sidebarBackground, 1) 100%
                );
              }

              li {
                padding-left: 0.5rem;
              }

              .line {
                border-color: $lightColor;
              }

              .scroll-more {
                left: calc(50% - 4rem);
                background: $sidebarBackground;
                border-color: $lightColor;
                font-size: 0.9rem;
              }
            }
          }
        }
      }

      .version {
        cursor: default;
        font-size: 0.625rem;
        margin-top: auto;
        padding: 0.2em 0;
        text-align: center;
      }

      .tree-header {
        h4 {
          margin-bottom: 0;
        }
      }
    }
  }

  .sidebar-toggle {
    background-color: $white;
    border: 1px solid $border-color-light;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
  }

  @media (min-width: 576px) {
    left: -4%;
  }

  @media (min-width: 768px) {
    left: -3%;
  }

  @media (min-width: 1024px) {
    left: -2.5%;
  }

  @media (min-width: 1200px) {
    left: -1.5%;
  }
}
