body:has(.main-sidebar.sidebar-collapsed) {
  grid-template-columns: 0.5rem 1fr;
}
// need to fix ^ when collapsed

.sidebar {
  --padding: 1rem;
  background-color: $white-dark;
  --margin: 1rem;
  position: sticky;
  top: $navbar-height;
  height: calc(100vh - #{$navbar-height});

  .sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: var(--padding) var(--padding) 0.25rem var(--padding);
    overflow-y: scroll;

    .header {
      margin-bottom: var(--margin);

      .header-inner {
        .add {
          display: flex;
          justify-content: center;
          margin-bottom: calc(var(--margin) * 2);
        }

        .section-title {
          h5 {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }

    .note-list {
      .list-item {
        border-bottom: 1px solid $border-color;
        display: flex;
        flex-direction: row;
        font-size: $text-small;
        justify-content: space-between;
        margin-bottom: var(--margin);
        padding-bottom: var(--padding);

        a {
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:last-child {
          border-bottom: none;
        }

        .list-item-actions {
          align-items: flex-start;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

  .sidebar-toggle {
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
    position: absolute;
    top: var(--padding);
  }

  &.sidebar-collapsed {
    .sidebar-content {
      display: none;
    }
  }

  &.main-sidebar {
    border-right: 2px solid $border-color;

    .sidebar-content {
      .add-node {
        font-size: 0.9rem;
        margin-right: 0.5rem;
      }

      .nodes-nav {
        margin: 0;
        padding: 0;
      }

      .version {
        cursor: default;
        font-size: 0.625rem;
        margin-top: auto;
        padding: 0.2em 0;
        text-align: center;
      }

      .tree-header {
        h4 {
          margin-bottom: 0;
        }
      }
    }

    .sidebar-toggle {
      right: -0.75rem;
    }

    &.sidebar-collapsed {
      .sidebar-toggle {
        right: -1rem;
      }

      .sidebar-toggle-icon {
        transform: rotate(180deg);
      }
    }
  }

  &.secondary-sidebar {
    border-left: 2px solid $border-color;
    width: $sidebar-width;

    .sidebar-content {
      .attachments-box {
        .drop-zone {
          border-radius: 0.5rem;
          cursor: default;
          margin-bottom: var(--margin);
          outline: 3px dashed $border-color;
          padding: calc(var(--padding) * 2);
          text-align: center;

          span {
            color: $text-muted;
          }

          .fileupload-buttonbar {
            margin-right: 0;
            margin-top: var(--margin);

            .fileinput-button {
              color: $text-link;
              float: none;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .sidebar-toggle {
      left: -0.75rem;
      .sidebar-toggle-icon {
        transform: rotate(180deg);
      }
    }

    &.sidebar-collapsed {
      .sidebar-toggle {
        left: -1rem;
      }

      .sidebar-toggle-icon {
        transform: rotate(0deg);
      }
    }
  }
}
