.alert {
  background: rgba($yellow, 0.1);
  border: 0px none;
  padding: 2em;
  .close {
    right: 0;
    top: 0;
  }
}

.alert-error {
  background-color: rgba($red, 0.1);
}

.alert-info {
  background-color: rgba($blue, 0.1);
}

.alert-success {
  background-color: rgba($green, 0.1);
}
