.alert {
  background: rgba($yellow, 0.1);
  border: 0px none;
  padding: 2em;
  .close {
    right: 0;
    top: 0;
  }
}

.alert-error {
  background-color: rgba($red, 0.1);
}

.alert-info {
  background-color: rgba($blue, 0.1);
}

.alert-success {
  background-color: rgba($green, 0.1);
}

.main-content .alert ul {
  // Don't allow these to be overriden by the more general rules
  // for .main-content:
  list-style: inherit;
  margin-left: 25px;
}
