body.export {
  section {
    h2 {
      border-bottom: 2px solid #ccc;
    }

    h3 {
      margin-top: 5px;
    }

    .tab-panel {
      background-color: #fff;
      border: 1px solid #ddd;
      border-top-color: transparent;
      padding: 1em 2em 2em;
    }

    .actions {
      margin-bottom: 20px;
      text-align: center;
    }
  }
}

body.export, body.legacy_export {
  #console {
    @include ajax-console;
  }
}

body.export.validate {
  .panel {
    background: #fff;
    margin: 0;
    padding: 0;
    border: 1px solid #cecece;
    #list {

    }
    .row {
      margin: 0 0;
      padding: 2ex;
      border-top: 1px solid #cecece;
      &:first-child {
        border-top: 0;
      }
      .progress {
        margin-bottom: 0;
      }
    }
  }
  #console {
    margin: 4ex 0;
  }
}
