body.issues {

  .main-sidebar {
    .issues-nav {
      ul.children {
//        background-color: lighten($primaryBgColor, 20%);
        display: block;
        padding-left: 1em;
      }
    }
  }

  .main-content {
    .view-content {
      .inner {
        h2, h3 {
          margin: 0 0 0.5em 0;
          line-height: 1em;
          padding-bottom: 0.5em;
          border-bottom: 1px solid $grayLight;

          .actions {
            color: $grayLight;
            font-size: 85%;
          }
        }

        .popover {
          .popover-title {
            font-size: 14px;
          }
          .popover-content .dropdown-menu {
            font-size: 14px;
            font-weight: normal;
          }
        }
      }
    }
  }

}

body.issues.show {
  .evidence-content {
    padding: 1em 0 0 2em;

    .evidence-for-host {
      margin: 0.5em 0 2.5em;

      .content-textile {
        border-left: 6px solid #ddd;
        margin-left: 1em;
        padding-left: 1em;
      }
    }

    .tab-content {
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
      padding: 1.5em 1em 1em;
    }
  }

  #js-add-evidence-container{
    display: none;

    .tooltip {
      ul {
        list-style: disc;
        padding-left: 3ex;
        text-align: left;

        li {
          margin-bottom: 1ex;
        }
      }
    }

    #existing-node-list {
      border: 1px solid #ddd;
      height: 200px;
      overflow-y: scroll;
      padding: 1ex;
    }
  }
}

body.issues.index {
  //-------------------------------------------------------- Empty-state styles
  p.lead {
    margin: 1ex 0;
    text-align: center;
  }

  .add-issues {
    margin-top: 4em;
  }
  //------------------------------------------------------- /Empty-state styles

  //-------------------------------------------------------------- Issues table
  .btn-toolbar {
    input[type='checkbox'] {
      margin: 0;
    }

    .issue-actions {
      display: none;

      .dropdown-menu {
        text-align: left;
      }

      #merge-selected {
        display: none; // even when issue-actions becomes visible, keep this one hidden
      }
    }
  }

  .tbl-issues {
    td.loading {
      background: image-url('loading.gif') no-repeat left center;
      padding-left: 20px;
    }

    .column-checkbox {
      padding: 0;
      text-align: center;
      vertical-align: middle;
      width: 36px;
    }
  }
  //------------------------------------------------------------- /Issues table
}

body.issues.new, body.issues.edit {
  .tag-input {
    position: relative;
    .btn {
      background: #fff;
    }
  }
}
