body.issues {

  .main-sidebar {
    .issues-nav {
      ul.children {
//        background-color: lighten($primaryBgColor, 20%);
        display: block;
        padding-left: 1em;
      }
    }
  }

  .main-content {
    .view-content {
      .inner {
        h2, h3 {
          margin: 0 0 0.5em 0;
          line-height: 1em;
          padding-bottom: 0.5em;
          border-bottom: 1px solid $grayLight;
        }

        .popover {
          .popover-title {
            font-size: 14px;
          }
          .popover-content .dropdown-menu {
            font-size: 14px;
            font-weight: normal;
          }
        }
      }
    }
  }

}

body.issues.show {
  .evidence-content {
    padding-left: 2em;

    .evidence-for-host {
      margin: 0.5em 0 2.5em;

      .content-textile {
        border-left: 6px solid #ddd;
        margin-left: 1em;
        padding-left: 1em;
      }
    }

    .tabs-left > .nav-tabs > li > a {
      min-width: auto;
    }
    .tab-content {
      padding: 1em 0 0 2em;
    }
  }

  #js-add-evidence-container{
    display: none;

    .tooltip {
      ul {
        list-style: disc;
        padding-left: 3ex;
        text-align: left;

        li {
          margin-bottom: 1ex;
        }
      }
    }

    #existing-node-list {
      border: 1px solid #ddd;
      height: 200px;
      overflow-y: scroll;
      padding: 1ex;
    }
  }
}

body.issues.index {
  //-------------------------------------------------------- Empty-state styles
  p.lead {
    margin: 1ex 0;
  }

  .add-issues {
    margin-top: 4em;

    .span3 {
      margin-left: 2.5%;
      width: 30.83%;
    }
  }

  .tab-content.outer-tab {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }

  .tab-pane {
    padding: 3ex;
  }

  //------------------------------------------------------- /Empty-state styles  
}

body.issues.new, body.issues.edit {
  .tag-input {
    position: relative;
    .btn {
      background: #fff;
    }
  }
}

body.issues.import {
  .accordion-body {
    width: 58vw;
    overflow: scroll;
  }
}
