body.methodologies {

  #methodologies {
    margin-bottom: 40px;
  }

  #preview_content {
    ul {
      margin-bottom: 3ex;
    }
  }

  .tab-content.outer-tab {
    border-left: 1px solid #ddd;
  }

  .tab-pane {
    background-color: #fff;
    padding: 3ex;
  }

  .task-list li {
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 1px 1px #bbb;
    margin: 1ex 0;
    padding: 1ex;

    label {
      margin-bottom: 0;
    }
  }
}
