// ------------------------------------------------------------ Move node modal
// These styles are used by the jQuery.treeModal plugin
.tree-modal-box {
  @include rounded;
  border: 1px solid #ccc;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;

  // In modal mode, hide the title
  li.tree-header {
    display: none;
  }

  // In modal mode, hide the 'add node' form
  .node-editor {
    display: none;
  }

  .active-selection {
    text-decoration: underline;
    &:hover {
      text-decoration: underline !important;
    }
  }

  ul.children {
    overflow: visible;
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;

    li {
      line-height: 2em;
      padding-left: 1em;
      display: block;

      &.loading {
        font-size: 10px;
        padding-left: 3em;
      }
      &.error {
        display: none;
        font-size: 10px;
        padding-left: 3em;
      }
    }
  }

  .invalid-selection {
    cursor: not-allowed;
  }
}


#modal_delete_node {
  ul {
    list-style: disc;
    padding-left: 30px;
  }
}

#nodes_list {
  margin-top: 10px;
  width: 100%;
}

.add_multiple_nodes_error {
  color: #b94a48;
  margin-top: 10px;
}


#try-pro {
  margin-left: -350px;
  width: 700px;

  iframe {
    border: none;
  }
}