body.nodes, body.notes, body.evidence {
  .node-header  {
    background-color: #f5f5f5;
  }
}

body.nodes {
  .node-header ul.nav-pills {
    margin-bottom: 0;
  }

  &.edit {
    textarea.json {
      font-family: monospace;
      width: 100%;
    }
  }
  &.show {
    h4 { margin-top: 30px; }
    #scripts-tabs .tab-pane {
      padding-left: 2em;
    }

    .tab-pane {
      min-height: 800px;
    }
  }
}
