body.nodes {
  &.edit {
    textarea.json {
      font-family: monospace;
      width: 100%;
    }
  }

  &.show {
    h4 { margin-top: 30px; }
    #scripts-tabs .tab-pane {
      padding-left: 2em;
    }
  }
}
