/* Notifications in the navbar */
.notifications {
  .notifications-dot {
    display: none;
    position: absolute;
    top: 20px;
    left: 22px;
    background: red;
    height: 7px;
    width: 7px;
    border-radius: 50%;
  }

  .loader {
    background: image-url('loading.gif') no-repeat center;
    height: 50px;
    width: 420px;
  }

  .dropdown-menu {
    color: lighten(#000, 20%);

    .notification-container {
      width: 420px;
      max-height: 500px;
      margin: 0;
      overflow: auto;

      .notification-header {
        padding: 0 1em;
        line-height: 2em;

        div {
          display: inline-block;
        }
      }

      li.notification {
        position: relative;
        border-top: 1px solid $gray;
        padding: 0.5em 1em 0.5em 3.5em;


        &.unread {
          background-color: $grayLight;
        }
      }

      li.no-content {
        border-top: 1px solid $gray;
        line-height: inherit;
      }

    }
    .footer {
      line-height: 2em;
      border-top: 1px solid $gray;
    }
  }
}

li.notification {
  .body {
    display: block;

    .notification-icon {
      color: #bbb;
      font-size: 32px;
      left: 2px;
      position: absolute;
      top: 11px;
    }

    .time {
      color: #888;
    }

    .details {
      display: inline-block;
    }
  }
}

/* Notifications on the main body of /projects/X/notifications */
.notifications-index {
  ul {
    list-style-type: none;
  }

  li.notification {
    display: block;

    .notification-read {
      float: right;
    }
  }

  hr {
    margin: 10px 0;
  }
}
