.notifications {
  color: lighten(#000, 20%);

  .dropdown-menu {
    width: 420px;
    max-height: 500px;
    overflow: auto;

    .notification-header {
      padding: 0 1em;
      line-height: 2em;

      div {
        display: inline-block;
      }
    }

    li.notification {
      position: relative;
      border-top: 1px solid $gray;
      padding: 0 1em 0 3.5em;

      .body {
        display: block;

        .notification-icon {
          color: #bbb;
          font-size: 32px;
          height: 32px;
          left: 5px;
          position: absolute;
          top: 20px;
          width: 32px;
        }

        .time {
          color: #888;
        }

        .details {
          display: inline-block;
        }
      }

      &.unread {
        background-color: $grayLight;
      }
    }
  }
}
