body.projects {

  section.summary-panel {
    font-size: 18px;

    a {
      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      margin-bottom: 20px;

      li {
        font-weight: 200;
        line-height: 30px;
        margin-left: 25px;
      }
    }

    ul.issue-list {
      list-style: none;
      li {
        line-height: 3em;
        margin: 0;
        padding: 0 .5em;
        &:nth-child(odd) {
          background: lighten($grayLight, 5%);
        }
      }
    }

    &.custom-properties {
      dl {
        dt {
          margin-top: 1em;
          width: 40%;

          &:after {
            content: ':';
          }
        }
        dd {
          margin-left: 42%;
          margin-top: 1em;
        }
      }
    }

    .btn {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    .no-content {
      color: #444;
      font-style: italic;
      margin: 3em 0;
    }
  }

  #boards-summary {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    min-height: 100px;

    .pie-chart {
      width: 50%;
    }

    &.loading {
      background: image_url('loading.gif') no-repeat center;
    }
  }

  #issue-chart svg {
    display: block;
    margin: auto;

    .bar-High {
      fill: #d62728;
    }
    .bar-Medium {
      fill: #ff7f0e;
    }
    .bar-Low {
      fill: #6baed6;
    }

    text {
      font-size: 14px;
    }
  }
}
