.new-tag {
  input {
    margin: 0;
  }
}

#tags-index {
  .tag-row-name {
    background: none;
    box-shadow: none;
    border: 1px solid transparent;    
    margin: 0;
    &:focus {
      background: #fcf8e3;
      box-shadow: inherit;
      border: 1px solid #ccc;    
    }
  }

  input[name="tag[name]"] {
    display: none;
  }
}