body.upload {
  .main-wrapper .main-content .view-content .inner h2 {
    border-bottom: 1px solid #ccc;
    margin-top: 2em;

    &:first-of-type {
      margin-top: 0;
    }
  }

  section {
    margin-bottom: 60px;
  }

  // File upload progress status
  .progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
  .bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
  .percent { position:absolute; display:inline-block; top:3px; left:48%; }

  a[data-behavior~="show-hide"].collapsed:before
  {
    content:'(show)' ;
    width:15px;
  }
  a[data-behavior~="show-hide"]:before
  {
    content:'(hide)' ;
    width:15px;
  }
}
