#diff {
  margin-top: 10px;

  ul { list-style: none; }
  del { background-color: #FCC; }
  ins { background-color: #CFC; }
}

.revisions-table tr.active {
  background-color: #ffe;
}

#trash {
  .item-content {
    color: $grayDark;
    margin-left: 4px;
  }
}
