body.unauthenticated.holiday {
  $holidayColor: #c30f16;

  --primary: #{$holidayColor};
  --dark: #{darken($holidayColor, 10)};
  --light: #{lighten($holidayColor, 20)};

  &::after,
  &::before {
    content: '';
    inset: 0;
    position: fixed;
    z-index: -1;
  }

  &::after {
    background-image: image-url('holiday/lights.png');
    background-position: top;
    background-size: 30rem;
    height: 5.25rem;
  }

  &::before {
    background-image: image-url('holiday/snow.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 16rem;
  }
}
